<section class="mb-5">   
  <h4 class="fs-5 ms-4 mb-0 fw-bolder text-uppercase">Miscellaneous</h4>
  <div class="card bg-opaque-white">
    <div class="card-body bg-light">

      <div class="form-group mb-2">
        <label class="control-label">Show challenges on client dashboard?</label>
        <%= f.check_box :show_challenge %>
      </div>            
      
      <div class="form-group mb-2">
        <label class="control-label">Create group classes this number of days ahead</label>
        <%= f.number_field :classmaker_advance, value: Setting.classmaker_advance, class: "form-control", style: "width: 5rem;" %>
      </div>

      <div class="form-group mb-2">
        <label class="control-label">Search only on this many past months for problematic classes</label>
        <%= f.number_field :problematic_past, value: Setting.problematic_past, class: "form-control", style: "width: 5rem;" %>
      </div>

      <div class="form-group mb-2">
        <label class="control-label">Client inital password length</label>
        <%= f.number_field :password_length, value: Setting.password_length, class: "form-control", style: "width: 5rem;" %>
      </div>

      <div class="form-group mb-2">
        <label class="control-label">GST rate (%)</label>
        <%= f.number_field :gst_rate, value: Setting.gst_rate, class: "form-control", style: "width: 5rem;" %>
      </div>
      
      <div class="form-group">
        <label class="control-label">Quotation</label>
        <%= f.text_area :quotation, value: Setting.quotation, class: "form-control", style: "height: 10rem;" %>
      </div>

    </div>
  </div>
</section>    