  <div class="col-lg-6">
      <%= form_for(Setting.new, url: superadmin_settings_path) do |f| %>
        <% if @errors.any? %>
          <div class="alert alert-block alert-danger">
            <ul>
              <% @errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <h5 class="mb-3 ms-1"><%= f.submit 'Update Settings' %></h5>  
        <%= render partial: 'timetable', locals: { f: f } %>
        <%= render partial: 'purchases', locals: { f: f } %>
        <%= render partial: 'clients', locals: { f: f } %>
        <%= render partial: 'product_colors', locals: { f: f } %>
        <%= render partial: 'discount_names', locals: { f: f } %>
        <%= render partial: 'messaging_timing', locals: { f: f } %>
        <%= render partial: 'attendances', locals: { f: f } %>
        <%= render partial: 'miscellaneous', locals: { f: f } %>
        <%= render partial: 'pagination', locals: { f: f } %>
        <%= render partial: 'limits', locals: { f: f } %>
    <% end %>        
  </div>

    <!-- <div class="form-group">
    <label class="control-label">Whitelist</label>
    <%#= f.text_area :whitelist, value: Setting.whitelist.join("\n"), class: "form-control", style: "height: 10rem; width: 20rem;" %>
  </div> -->
