<div id="purchases-filter" class="container px-1 mb-5 margin-override">
  <div class="container search">
    <%= render partial: 'sort_selection' %>
    <hr class = "search mb-3"></hr>
    <%= form_with(url: purchase_filter_path, method: "get", local: false, class: "form-class") do %>
      <div class="field">
        <%= text_field_tag :search_name, nil, class: "form-control-sm mb-2 search", placeholder: "First name search…", value: session[:search_name], onchange: 'Rails.fire(this.form, "submit")' %>
      </div>
      <div class="container mb-1">
        <div class="row">
          <div class="col-4 px-0">
            <fieldset>
              <legend>WORKOUT GROUP</legend>
              <% @workout_group.each do |wg| %>
                <%= label_tag nil, class: "chbox-lbl-filters" do %>
                  <!-- onChange: "this.form.submit()" won't fire ajax request. See Gamliela answer https://stackoverflow.com/questions/6959481/rails-trying-to-submit-a-form-onchange-of-dropdown -->
                  <%= check_box_tag 'workout_group[]', wg, session[:filter_workout_group].present? ? session[:filter_workout_group].include?(wg) : false, id: "chbox#{wg}", onchange: 'Rails.fire(this.form, "submit")' %>
                  <%= wg %>
                <% end %>
              <% end %>
            </fieldset>
          </div>

          <div class="col-4 px-0">
            <fieldset>
              <legend>STATUS</legend>
              <% @statuses.each do |status| %>
                <%= label_tag nil, class: "chbox-lbl-filters" do %>
                  <%= check_box_tag 'statuses[]', status, session[:filter_statuses].present? ? session[:filter_statuses].include?(status) : false, class: "checkbox-class", id: "chbox#{status}", onchange: 'Rails.fire(this.form, "submit")'  %>
                  <%= status %>
                <% end %>
              <% end %>
            </fieldset>
          </div>

          <div class="col-4 px-0">
            <fieldset>
              <legend>ATTRIBUTE</legend>
                <% @other_attributes.each do |attribute| %>
                  <%= label_tag nil, class: "chbox-lbl-filters" do %>
                    <%= check_box_tag attribute, attribute, session["filter_#{attribute}"].present? ? true : false, class: "checkbox-class", id: "chbox#{attribute}", onchange: 'Rails.fire(this.form, "submit")'  %>
                    <%= attribute.split('_').join(' ') %>
                  <% end %>
                <% end %>
            </fieldset>
          </div>

          <div class="container d-flex">
            <%= link_to image_tag('clear_filter.png', class: "button_icon"), clear_purchase_filters_path, {remote: true, class: "search searchdelete icon-container"} %>
          </div>

          <fieldset class="mt-2" style="margin-left:-1.3rem">
            <select name="purchases_period" onchange="this.form.submit()" class= "sort">
              <%= options_for_select @months, session[:purchases_period] %>
            </select>
          </fieldset>
        </div>
      </div>
    <% end %>
    <hr class = "search mb-3"></hr>
  </div>
</div>  
