<div class="admin_form pt-4 my-2">
  <div class="field" data-controller = "purchase-discount" data-purchase-discount-clientfilterurl-value = <%= new_purchase_client_filter_path %>> 
    <%= text_field_tag :search_client_name, nil, {class: "form-control-sm mb-2 search", placeholder: "First name search…", value: session[:select_client_name], "data-action": "purchase-discount#clientsearch"} %>
  </div>

  <%#= https://stackoverflow.com/questions/48197245/form-for-vs-form-with-in-rails-5-with-namespace
  prior to introduction of the admin folder structure/namespace the named route for the url "/purchases" was purchases_path
  With the admin namespace, the required url is "/admin/purchase" with named route admin_purchases_path.
  I don't see it in the documentation for form_with but the array syntax [:admin, purchase] as the model argument achieves this %>
  <%# found it https://guides.rubyonrails.org/form_helpers.html#dealing-with-namespaces %>
  <%= form_with(model: [:admin, purchase],  data: { controller: "purchase-discount", "purchase-discount-url-value": purchases_discount_path, "purchase-discount-dateurl-value": purchases_dop_change_path }) do |form| %>
    <% if purchase.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>
        <ul>
          <% purchase.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div><%= form.hidden_field :link_from, value: params[:link_from] %></div>    

    <div class="field">
      <%= form.label :client_id %>
      <%= form.collection_select :client_id, @clients, :id, :name, include_blank: true %>
    </div>
  <%# data-controller = "purchase-discount" data-purchase-discount-url-value = <%= purchases_discount_path %>
    <div class="field">
      <%= form.label :product_id, 'Product' %>
      <%= form.collection_select :product_id, @products, :id, :name, {include_blank: true}, {"data-action": "purchase-discount#change"} %>
    </div>

    <div class="field">
      <%= form.label :renewal_discount_id, 'Renewal Discount' %>
      <%= form.collection_select :renewal_discount_id, @renewal_discounts, :id, :name, {selected: @purchase.renewal_discount_id || @purchase.discounts.joins(:discount_reason).where(discount_reason: {rationale:'Renewal'})&.first&.id || @discount_none.id}, {"data-action": "purchase-discount#change"} %>
    </div>
    <div class="field"> 
      <%= form.label :status_discount_id, 'Status Discount' %>
      <%= form.collection_select :status_discount_id, @status_discounts, :id, :name, {selected: @purchase.status_discount_id || @purchase.discounts.joins(:discount_reason).where(discount_reason: {rationale:'Status'})&.first&.id || @discount_none.id}, {"data-action": "purchase-discount#change"} %>
    </div>
    <div class="field">
      <%= form.label :commercial_discount_id, 'Commercial Discount' %>
      <%= form.collection_select :commercial_discount_id, @commercial_discounts, :id, :name, {selected: @purchase.commercial_discount_id || @purchase.discounts.joins(:discount_reason).where(discount_reason: {rationale:'Commercial'})&.first&.id || @discount_none.id}, {"data-action": "purchase-discount#change"} %>
    </div>
    <div class="field">
      <%= form.label :discretion_discount_id, 'Discretionary Discount' %>
      <%= form.collection_select :discretion_discount_id, @discretion_discounts, :id, :name, {selected: @purchase.discretion_discount_id || @purchase.discounts.joins(:discount_reason).where(discount_reason: {rationale:'Discretion'})&.first&.id || @discount_none.id}, {"data-action": "purchase-discount#change"} %>
    </div>
    <div class="field">
      <%= form.label :oneoff_discount_id, 'Oneoff Discount' %>
      <%= form.collection_select :oneoff_discount_id, @oneoff_discounts, :id, :name, {selected: @purchase.oneoff_discount_id || @purchase.discounts.joins(:discount_reason).where(discount_reason: {rationale:'Oneoff'})&.first&.id || @discount_none.id}, {"data-action": "purchase-discount#change"} %>
    </div>

    <!--div class="field">
      <%#= form.label :price_id, 'Price' %>
      <%#= form.grouped_collection_select :price_id, @products, :current_price_objects, :name, :id, :name, include_blank: true %>
    </div-->

    <div><%= form.hidden_field :price_id, value: @purchase.price&.id %></div>

    <div class="field">
      <%= form.label :base_price %>
      <%= form.number_field :base_price, value: @purchase.price&.price, readonly: true %>
    </div>

    <div class="field">
      <%= form.label :payment %>
      <%= form.number_field :payment, readonly: true %>
    </div>

    <div class="field">
      <%= form.label :dop, 'Date of purchase' %>
      <%= form.date_select :dop, {}, {"data-action": "purchase-discount#date_change purchase-discount#change"} %>
    </div>

    <div class="field">
      <%= form.label :payment_mode %>
      <%= form.select :payment_mode, options_for_select(@payment_methods, @purchase.payment_mode), include_blank: true %>
    </div>
    <!-- collection_select helper only simplifies when the the collection is a an array of activerecord instances -->
    <!-- <div class="field">
      <%#= form.label :payment_mode %>
      <%#= form.collection_select :payment_mode, @payment_methods, :itself, :itself, include_blank: true %>
    </div> -->

    <div class="field">
      <%= form.label :invoice %>
      <%= form.text_field :invoice %>
    </div>

    <div class="field">
      <%= form.label :note %>
      <%= form.text_area :note, cols: 40, rows: 5 %>
    </div>

    <% unless @purchase.new_record? %>
    <div class="field" id="ar">
      <%= form.label :adjust_restart %>
      <%= form.check_box :adjust_restart, onclick: "toggleHide()" %>
    </div>

    <%# class arvalue is for identification with javascript, not for styling %>
    <div id="ar_payment" class="field ar <%= 'd-none' unless @purchase.adjust_restart %>">
      <%= form.label :ar_payment %>
      <%= form.number_field :ar_payment, class: "arvalue" %>
    </div>

    <div class="field ar <%= 'd-none' unless @purchase.adjust_restart %>">
      <%= form.label :ar_date %>
      <%= form.date_select :ar_date, {include_blank: true, selected: @purchase.ar_date || Time.zone.today}, {class: "arvalue"} %>
    </div>
    <% end %>

    <div class="actions">
      <%= form.submit @purchase.new_record? ? 'Log Purchase' : 'Update Purchase' %>
    </div>
  <% end %>

  <div class="cancel">
    <%# <%= link_to image_tag('delete.png', class: "table_icon"), (@purchase.new_record? ? admin_purchases_path : admin_purchase_path(@purchase)) %>
    <%= link_to image_tag('delete.png', class: "table_icon"), @form_cancel_link %>
    <%#= link_to image_tag('delete.png', class: "table_icon"), admin_purchases_path %>
  </div>    
</div>

<%#= javascript_pack_tag 'purchase/payment_method' %>
<%#= javascript_pack_tag 'purchase/discount' %>

<script>
  function toggleHide() {
    var currentState = 'hidden';
    if (document.getElementById("ar_payment").classList.contains("d-none")) {
        currentState = 'visible';
      }
      var x = document.getElementsByClassName("ar");
      var i;
      for (i = 0; i < x.length; i++) {
        x[i].classList.toggle('d-none')
      }
      if (currentState == 'hidden') {
        var x = document.getElementsByClassName("arvalue");
        var i;
        for (i = 0; i < x.length; i++) {
          x[i].value="";
        }
      }
    }
</script>
