<div class="admin_form pt-4 my-2" data-controller="purchase-form"
                                  data-purchase-form-client-filter-url-value = <%= client_filter_purchases_path %>
                                  data-purchase-form-field-change-url-value = <%= form_field_change_purchases_path %>>
  <div class="field" > 
    <%= text_field_tag :search_client_name, nil, {class: "form-control-sm mb-2 search", placeholder: "First name search…", value: session[:select_client_name],
                                                  "data-action": "purchase-form#client_search",
                                                  "data-purchase-form-target": "clientSearch"} %>
  </div>

  <%#= Previously had an admin namespace for the purchases index route and used the array syntax form_with(model: [:admin, purchase]... for a url of form "/admin/purchase" %>
  <%# https://guides.rubyonrails.org/form_helpers.html#dealing-with-namespaces %>
  <%= form_with(model: purchase) do |form| %>
    <% if purchase.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>
        <ul>
          <% purchase.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div><%= form.hidden_field :link_from, value: params[:link_from] %></div>    
    <div><%= form.hidden_field :id_helper, value: @purchase.id %></div>
    
    <hr>
    <h6 class='text-uppercase fw-bolder'>membership</h6>
    <div class="field">
      <%= form.label :client_id %>
      <%= form.collection_select :client_id, @clients, :id, :name, {include_blank: true},
                                  data: {"purchase-form-target": "clientSelect"} %>

    </div>

    <%# reverted to select rather than collection_select due to argument in product#name, which collection_select I think does not provide for %>
    <div class="field">
      <%= form.label :product_id, 'Product' %>
      <%#= form.collection_select :product_id, @products, :id, :name, {include_blank: true}, {"data-action": "purchase-form#field_change"} %>
      <%= form.select :product_id, @products.map { |p| [p.name(rider_show: true), p.id] }, {include_blank: true},
                      data: {"purchase-form-target": "product", "action": "purchase-form#field_change"} %>
    </div>

    <div class="field">
      <%= form.label :renewal_discount_id, 'Renewal Discount' %>
      <%# on create/update fail, we want to retain the selected discounts chosen in the form. We have a virtual attribute not a database backed attribute for the purchase's discount, hence the attr_accessor :renewal_discount_id etc.. in the purchase model %>
      <%= form.collection_select :renewal_discount_id, @renewal_discounts, :id, :name, {selected: @purchase.renewal_discount_id || @selected_renewal_discount || @discount_none.id},
                                  data: {"purchase-form-target": "renewalDiscount", "action": "purchase-form#field_change"} %>
    </div>

    <div class="field"> 
      <%= form.label :status_discount_id, 'Status Discount' %>
      <%= form.collection_select :status_discount_id, @status_discounts, :id, :name, {selected: @purchase.status_discount_id || @selected_status_discount || @discount_none.id},
                                  data: {"purchase-form-target": "statusDiscount", "action": "purchase-form#field_change"} %>
    </div>
    <div class="field">
      <%= form.label :commercial_discount_id, 'Commercial Discount' %>
      <%= form.collection_select :commercial_discount_id, @commercial_discounts, :id, :name, {selected: @purchase.commercial_discount_id || @selected_commercial_discount || @discount_none.id},
                                  data: {"purchase-form-target": "commercialDiscount", "action": "purchase-form#field_change"} %>
    </div>
    <div class="field">
      <%= form.label :discretion_discount_id, 'Discretionary Discount' %>
      <%= form.collection_select :discretion_discount_id, @discretion_discounts, :id, :name, {selected: @purchase.discretion_discount_id || @selected_discretion_discount || @discount_none.id},
                                  data: {"purchase-form-target": "discretionDiscount", "action": "purchase-form#field_change"} %>
    </div>
    <div class="field">
      <%= form.label :oneoff_discount_id, 'Oneoff Discount' %>
      <%= form.collection_select :oneoff_discount_id, @oneoff_discounts, :id, :name, {selected: @purchase.oneoff_discount_id || @selected_oneoff_discount || @discount_none.id},
                                  data: {"purchase-form-target": "oneOffDiscount", "action": "purchase-form#field_change"} %>
    </div>

    <div><%= form.hidden_field :price_id, value: @purchase.price&.id, data: {"purchase-form-target": "priceId"} %></div>

    <div class="field">
      <%= form.label :base_price %>
      <%= form.number_field :base_price, value: @purchase.price&.price, readonly: true, data: {"purchase-form-target": "basePrice"} %>
    </div>

    <div class="field">
      <%= form.label :charge %>
      <%= form.number_field :charge, readonly: true, data: {"purchase-form-target": "charge"} %>
    </div>

    <div class="field">
      <%= form.label :dop, 'Date of purchase' %>
      <%= form.date_select :dop, {}, data: {"purchase-form-target": "dop", "action": "purchase-form#field_change"} %>
    </div>

    <div class="field">
      <%= form.label :note, 'Membership Note' %>
      <%= form.text_area :note, cols: 40, rows: 5 %>
    </div>

    <!--div class="field">
      <%#= form.label :payment_mode %>
      <%#= form.select :payment_mode, options_for_select(@payment_methods, @purchase.payment_mode), include_blank: true %>
    </div-->
    <!-- collection_select helper only simplifies when the the collection is a an array of activerecord instances -->
    <!-- <div class="field">
      <%#= form.label :payment_mode %>
      <%#= form.collection_select :payment_mode, @payment_methods, :itself, :itself, include_blank: true %>
    </div> -->

    <hr>
    <h6 class='text-uppercase fw-bolder'>payment</h6>
    <div>
      <%= form.fields_for :payment do |payment_fields| %>
          <div class="field">
            <%= payment_fields.label :amount, 'Amount received' %>
            <%= payment_fields.number_field :amount %>
          </div>

          <div class="field">
            <%= payment_fields.label :dop, 'Date of payment' %>
            <%= payment_fields.date_select :dop %>
          </div>

          <div class="field">
            <%= payment_fields.label :payment_mode %>
            <%= payment_fields.select :payment_mode, options_for_select(@payment_methods, @purchase.payment.payment_mode), include_blank: true %>
          </div>

          <div class="field">
            <%= payment_fields.label :note, 'Payment Note' %>
            <%= payment_fields.text_area :note, cols: 40, rows: 5 %>
          </div>

      <% end %>
    </div>

    <div>

    </div>

    <div class="actions">
      <%= form.submit @purchase.new_record? ? 'Log Purchase' : 'Update Purchase' %>
    </div>
  <% end %>

  <div class="cancel">
    <%= link_to image_tag('delete.png', class: "table_icon"), @form_cancel_link %>
  </div>    
</div>