<div class="page_entries_info">
  <%= paginate @purchases, remote: true %>
  <%= page_entries_info @purchases %>
</div>

<table class="table table-secondary table-striped caption-top">
  <% if logged_in_as?('superadmin') %>
    <caption><%= "#{number_to_currency(@purchases.map(&:payment).inject(0, &:+), precision: 0, unit: 'Rs. ')}" %></caption>
  <% end %>
  <tbody>
    <tr class="extra_small">
      <th scope="col">Client</th>
      <th scope="col">Purchase Date</th>
      <th scope="col" class="nomobile">Start to Expiry</th>
      <th scope="col" class="nomobile"></th>
    </tr>
    <% @purchases.each do |purchase| %>
      <tr class="extra_small">
        <th scope="row" class="extra_small"><%= link_to purchase.client.name, admin_client_path(purchase.client), class: "like_button" %></th>
        <td class="extra_small"><%= link_to purchase.name_with_dop, admin_purchase_path(purchase), class: "like_button" %></td>
        <td class="extra_small nomobile"><%= purchase.start_to_expiry %></td>
        <td class="nomobile"><%= link_to image_tag('edit.png', class: "grid_table_icon"), edit_admin_purchase_path(purchase) %></td>
        <!--td class="nomobile"><%#= link_to image_tag('delete.png', class: "grid_table_icon"), admin_purchase_path(purchase), method: :delete, data: { confirm: 'Purchase and its attendances will be deleted. Are you sure?' } %></td-->
      </tr>
    <% end %>
  </tbody>
</table>
