<div class='d-flex bg-light flex-column'>
   <div class='d-flex bg-light flex-row'>
     <div class='cell c-purchase-row-headers'>Payment</div>
     <div class='cell px-1'><%= number_to_currency(@purchase.payment, precision: 0, unit: 'Rs. ') %></div>
   </div>
   <div class='d-flex bg-light flex-row'>
     <div class='cell c-purchase-row-headers'>Paid on</div>
     <div class='cell px-1'><%= @purchase.dop.strftime('%d %b %y') %></div>
   </div>
   <div class='d-flex bg-light flex-row'>
     <div class='cell c-purchase-row-headers'>Status</div>
     <div class='cell px-1'><%= @purchase.status %></div>
   </div>
   <% unless @purchase.not_started? %>
     <div class='d-flex bg-light flex-row'>
       <div class='cell c-purchase-row-headers'>Expiry date</div>
       <div class='cell px-1'><%= @purchase.expiry_date_formatted %></div>
     </div>
   <% end %>
   <% unless @purchase.not_started? %>
     <div class='d-flex bg-light flex-row'>
       <div class='cell c-purchase-row-headers'>Attendances left</div>
       <div class='cell px-1'><%= @purchase.attendances_remain %></div>
     </div>
   <% end %>
   <% if @purchase.expired? %>
     <div class='d-flex bg-light flex-row'>
       <div class='cell c-purchase-row-headers'>Expiry cause</div>
       <div class='cell px-1'><%= @purchase.expiry_cause %></div>
     </div>
     <div class='d-flex bg-light flex-row'>
       <div class='cell c-purchase-row-headers'>Expired on</div>
       <div class='cell px-1'><%= @purchase.expired_on %></div>
     </div>
   <% end %>
   <div class='d-flex bg-light flex-row'>
     <div class='cell c-purchase-row-headers'>Payment mode</div>
     <div class='cell px-1'><%= @purchase.payment_mode %></div>
   </div>
   <div class='d-flex bg-light flex-row'>
     <div class='cell c-purchase-row-headers'>Invoice</div>
     <div class='cell px-1'><%= @purchase.invoice %></div>
   </div>
   <div class='d-flex bg-light flex-row'>
     <div class='cell c-purchase-row-headers'>Note</div>
     <div class='cell px-1'><%= @purchase.note %></div>
   </div>
   <% if @purchase.adjust_restart %>
     <div class='d-flex bg-light flex-row'>
       <div class='cell c-purchase-row-headers'>A&R paid</div>
       <div class='cell px-1'><%= number_to_currency(@purchase.ar_payment, precision: 0, unit: 'Rs. ') %></div>
     </div>
     <div class='d-flex bg-light flex-row'>
       <div class='cell c-purchase-row-headers'>A&R paid on</div>
       <div class='cell px-1'><%= @purchase.ar_date.strftime('%d %b %y') %></div>
     </div>
   <% end %>
   <% unless @purchase.freezes.count.zero? %>
     <% @purchase.freezes.each do |f| %>
        <div class='d-flex bg-light flex-row'>
          <div class='cell'>
            <%= "Freeze: #{f.start_date.strftime('%d %b %y')} -
                #{f.end_date.strftime('%d %b %y')}"
             %>
             <small><%= "(#{pluralize(f.duration, "day")})" %></small><br>
             <%= f.note %>
          </div>
          <div class='cell c-class-icon'><%= link_to image_tag('edit.png', class: "table_icon"), edit_admin_freeze_path(f), class: "icon-container" %></div>
          <div class='cell c-class-icon'><%= link_to image_tag('delete.png', class: "table_icon"), admin_freeze_path(f), method: :delete, data: { confirm: 'Freeze will be deleted Are you sure?' } %></div>
        </div>
     <% end %>
   <% end %>

   <% unless @purchase.adjustments.count.zero? %>
     <% @purchase.adjustments.each do |adj| %>
        <div class='d-flex bg-light flex-row'>
          <div class='cell'>
            <%= "#{pluralize(adj.adjustment, "day")} adjustment" %><br>
             <%= adj.note %>
          </div>
          <div class='cell c-class-icon'><%= link_to image_tag('edit.png', class: "table_icon"), edit_admin_adjustment_path(adj), class: "icon-container" %></div>
          <div class='cell c-class-icon'><%= link_to image_tag('delete.png', class: "table_icon"), admin_adjustment_path(adj), method: :delete, data: { confirm: 'Adjustment will be deleted. Are you sure?' } %></div>
        </div>
     <% end %>
   <% end %>
</div>
