<%= turbo_frame_tag purchase do%>
  <div class="row">
    <div class="column col-2x">
      <% if logged_in_as?('junioradmin', 'admin', 'superadmin') %>
        <%= link_to purchase.client.name, client_path(purchase.client, link_from: 'purchases_index'), class: "like_button", data: { turbo: false } %>
      <% else %>
        <%= purchase.client.name %>
      <% end %>
    </div>
    <div class="column col-2x"><%= link_to purchase.name(color_show: false), purchase_path(purchase), class: "like_button", data: { turbo: false } %></div>
    <div class="column col-2x"><%= purchase.status %></div>
    <div class="column col-2x nomobile"><%= purchase.dop.strftime('%d %b %y') %></div>
    <div class="column col-2x nomobile"><%= purchase.start_to_expiry %></div>
    <div class="column nomobile">
    <%= link_to image_tag('edit.png', class: "table_icon"), edit_purchase_path(purchase) %></div>
    <% if logged_in_as?('admin', 'superadmin') && purchase.deletable? %> 
      <div class="column nomobile"><%= link_to image_tag('delete.png', class: "table_icon"), purchase_path(purchase), data: { "turbo-method": :delete, turbo_confirm: 'Purchase can be deleted as it has no bookings, adjustments or freezes. But are you sure?' } %></div>
    <% else %>
      <div class="column nomobile"></div>
    <% end %>           
  </div>
<% end %>  
