<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="https://www.w3.org/TR/html40/">

  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">First Name</Data></Cell>
        <Cell><Data ss:Type="String">Last name</Data></Cell>
        <Cell><Data ss:Type="String">Date of Purchase</Data></Cell>
        <Cell><Data ss:Type="String">Payment Mode</Data></Cell>
        <Cell><Data ss:Type="String">Base Price</Data></Cell>
        <Cell><Data ss:Type="String">Payment Made</Data></Cell>
        <Cell><Data ss:Type="String">Discount</Data></Cell>
        <Cell><Data ss:Type="String">Note</Data></Cell>
        <Cell><Data ss:Type="String">Product</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
        <Cell><Data ss:Type="String">Start Date</Data></Cell>
        <Cell><Data ss:Type="String">Expiry Date</Data></Cell>
        <Cell><Data ss:Type="String">Sunset Date</Data></Cell>
        <Cell><Data ss:Type="String">Frozen</Data></Cell>
      </Row>
    <% @purchases.each do |purchase| %>
      <Row>
        <Cell><Data ss:Type="String"><%= purchase.client.first_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= purchase.client.last_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= purchase.dop %></Data></Cell>
        <Cell><Data ss:Type="String"><%= purchase.payment&.payment_mode %></Data></Cell>
        <Cell><Data ss:Type="String"><%= purchase.price.price %></Data></Cell>
        <Cell><Data ss:Type="String"><%= purchase.charge %></Data></Cell>
        <Cell><Data ss:Type="String"><%= purchase.price.price - purchase.charge %></Data></Cell>
        <Cell><Data ss:Type="String"><%= purchase.note %></Data></Cell>
        <Cell><Data ss:Type="String"><%= purchase.product.name(verbose: false, color_show: true, rider_show: true) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= purchase.status %></Data></Cell>
        <Cell><Data ss:Type="String"><%= purchase.start_date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= purchase.expiry_date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= purchase.sunset_date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= purchase.freezed?(Time.zone.now) %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
