<div class="container px-1">
  <h4>Membership <%= link_to image_tag('add.png', class: "button_icon"),
                                      new_admin_purchase_path,
                                      data: { turbo_frame: dom_id(Purchase.new) } %>
  </h4>
  <%= turbo_frame_tag Purchase.new %>
</div>
<%= turbo_frame_tag 'purchases-and-filter' do %>
  <%= render partial: 'filter_form' %>
  <% if @superadmin %>
    <%= render partial: 'download' %>
  <% end %>
    <%= turbo_frame_tag 'purchases' do %>
      <%= render partial: 'purchases_table' %>
      <% if @superadmin %>
        <%= line_chart @purchase_count_for_chart, ytitle: "Count" %>
        <%= line_chart @purchase_payments_for_chart, ytitle: "Payment (Rs)", thousands: "," %>
      <% end %>
    <% end %>
<% end %>
