<div class="container px-1 margin-override">
  <h4>Purchases <%= link_to image_tag('add.png', class: "button_icon"), new_admin_purchase_path %></h4>
</div>
<%= turbo_frame_tag 'purchases-and-filter' do %>
  <%= render partial: 'filter_form' %>
  <% if logged_in_as?('superadmin') %>
    <%= render partial: 'download' %>
  <% end %>
    <%= turbo_frame_tag 'purchases' do %>
      <%= render partial: 'purchases_table' %>
      <% if logged_in_as?('superadmin') %>
        <%= line_chart @purchase_count_for_chart, ytitle: "Count" %>
        <%= line_chart @purchase_payments_for_chart, ytitle: "Payment (Rs)", thousands: "," %>
      <% end %>
    <% end %>
<% end %>
