<h2>Purchases <%= link_to image_tag('add.png', class: "button_icon"), new_admin_purchase_path, class: "icon-container" %></h2>
<div id="purchases-filter" class="container px-1 mb-5 margin-override">
<%= render partial: 'filter_form' %>
</div>
<% if logged_in_as?('superadmin') %>
<p>
  Download:
  <%= link_to "Full Data", admin_purchases_path(format: "csv", export_all: true) %>
</p>
<% end %>
<div id="purchases-table" class="container purchases-table px-1 mb-5 margin-override">
  <%= render partial: 'purchases_table' %>
</div>
<% if logged_in_as?('superadmin') %>
  <%= line_chart @purchase_count_for_chart, ytitle: "Count" %>
  <%= line_chart @purchase_payments_for_chart, ytitle: "Payment (Rs)", thousands: "," %>
<% end %>
