<h5><%= link_to @purchase.client.name, admin_client_path(@purchase.client), class: "text-decoration-none" %>
  <div class = "mt-1 mb-3"><%= link_to @purchase.product.name, admin_product_path(@purchase.product), class: "text-decoration-none" %></div>
</h5>

<div id="purchase-table" class="container px-1 mb-2 margin-override">
  <%= render partial: 'purchase_table', locals: {setting: "purchaseshow"} %>
</div>

<div class="mb-3 d-flex">
  <div>
    <%= link_to 'add freeze', new_admin_freeze_path(purchase: @purchase.id) %> |
    <%= link_to 'add adjustment', new_admin_adjustment_path(purchase: @purchase.id) %> |
    <%= link_to 'edit purchase', edit_admin_purchase_path(@purchase) %>
  </div>
  <div class="me-3 ms-auto">
    <%= link_to image_tag('back.png', class: "back_icon"), admin_purchases_path, class: "icon-container" %>
  </div>
</div>


<div id="purchase_attendance_table" class="container px-1 mt-4 mb-1 margin-override">
  <%= render partial: 'purchase_attendance_table' %>
</div>
