<% unless @purchases.empty? %>
  <% @purchases.each do |purchase| %>
      <div class="container px-0">
        <% @purchase = purchase %>
        <%# this page is shown on the history page (where booking details are wanted, but options to modify are not wanted) and on bookings page vice-versa. %>
        <% if package_modifications == true && !(purchase.trial? || purchase.rider?) %>
          <%= render partial: 'client/package_modification/modifications_list' %>
        <% end %>
        <%= render partial: 'client/data_pages/shared/purchase_summary' %>
        <% if booking_details == true %>
          <%= render partial: 'purchase_bookings' %>
        <% end %>
        <%= render partial: 'client/data_pages/freezes_summary' %>
        <%= render partial: 'client/data_pages/adjustments_summary' %>
        <%= render partial: 'client/data_pages/penalties_summary' %>
      </div>
      <hr class="divider thick">
  <% end %>
<% end %>
