<% unless @purchases.empty? %>
  <% @purchases.each do |purchase| %>
      <div class="container px-0">
        <% @purchase = purchase %>
        <%# this page is shown on the history page (where details are wanted, but options to modify not wanted) and on bookings page vice-veras.
        detailed == true means history page, detailed == false booking page %>
        <% if detailed == false && !(purchase.trial? || purchase.rider?) %> <%# no need for unless purchase.expired? as only unexpired purchases are shown on booking page%>
          <%= render partial: 'client/data_pages/package_modifications' %>
        <% end %>
        <%= render partial: 'client/data_pages/shared/purchase_summary' %>
        <% if detailed == true %>
          <%= render partial: 'purchase_attendances' %>
        <% end %>
        <%= render partial: 'client/data_pages/freezes_summary' %>
        <%= render partial: 'client/data_pages/adjustments_summary' %>
        <%= render partial: 'client/data_pages/penalties_summary' %>
      </div>
      <hr class="divider thick">
  <% end %>
<% end %>
