<div data-controller="signup"                 
     data-signup-disabled-class="disabled"> 
  <%= form_with(model: client, url: signup_path, class: "signup" ) do |form| %>
    <% if @client.errors.any? || @account.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@client.errors.count + @account.errors.count, "error") %> prohibited this account from being created:</h2>
        <ul>
          <% @account.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
        <ul>
          <% @client.errors.each do |error| %>
            <li><%= (error.attribute.to_s.include? 'raw') ? error.message : error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <hr>
    <%= render partial: 'shared/declarations/signup_form/personal_details', locals: {form: form} %>
    <hr>
    <%= render partial: 'shared/declarations/signup_form/declaration_details', locals: {form: form} %>
    <div class="actions">
      <%= form.submit 'Create Account',
                      class: "btn btn-black disabled",
                      data: { "signup-target": "submitButton", turbo: false } %>
    </div>
  <% end %>
</div>