<div class="">
  <%= render 'cover_picture' %>
  <%= render 'tagline_home' %>
  <%= render 'services' %>
  <%= render 'reviews' %>
  <%= render 'instagram' %>
  <%= render 'timetable_slider' %>
</div>