<%= turbo_frame_tag 'group_bookings' do %>
  <%# https://stimulus.hotwired.dev/reference/actions action parameters %>
  <section id="bookings-table">
    <div class="button-container-full-width">
      <% @days.each_with_index do |day, index| %>
        <button class="slider-btn-full-width<%=' live' if index.to_s == session[:booking_day] %>" 
                data-day=<%= index %> 
                data-action="booking#change_day"
                data-booking-target="dayButton"
                data-booking-day-param=<%= index %>> 
          <%= booking_day_name(index, day) %>
        </button>
      <% end %>
    </div>

    <div class="canvas gray100-canvas width32 embossed">
      <% @group_wkclasses_show_by_day.each_with_index do |days_classes, index| %>
        <% @no_classes_text_array[index].tap do |hash| %>
          <% @not_in_window = hash[:show_not_in_window] %>
          <% @no_group_classes = hash[:show_no_group_classes] %>
        <% end %>
        <div class="booking-day <%= "booking-day#{index}" %> <%= 'live' if index.to_s == session[:booking_day] %>"
          data-booking-target="bookingDay">
          <div class="bookings-notice <%= 'live' if @not_in_window %>"><%= t('bookings_open', days_before: Setting.booking_window_days_before) %></div>
          <div class="bookings-notice <%= 'live' if @no_group_classes %>"><%= t('none_to_book', wkclass_type: 'Group Classes') %></div>
          <%= render partial: 'wkclass_booking', collection: days_classes, as: :wkclass, locals: {index: } %>                  
        </div>
      <% end %>
    </div>
  </section>
<% end %>



