<%= turbo_frame_tag 'group_bookings' do %>
  <%# https://stimulus.hotwired.dev/reference/actions action parameters %>
  <section id="bookings-table">
    <div class="button-container-full-width">
      <% @days.each_with_index do |day, index| %>
        <button class="slider-btn-full-width<%=' live' if index.to_s == session[:booking_day] %>" 
                data-day=<%= index %> 
                data-action="booking#change_day"
                data-booking-target="dayButton"
                data-booking-day-param=<%= index %>> 
          <%= booking_day_name(index, day) %>
        </button>
      <% end %>
    </div>

    <div class="canvas gray100-canvas">
      <!--div class="bookings-notice" data-booking-target="bookingsOpen"><%#= "bookings open #{Setting.booking_window_days_before} days before" %></div-->
      <% @group_wkclasses_show_by_day.each_with_index do |days_classes, index| %>
        <div class="booking-day <%= "booking-day#{index}" %> <%= 'live' if index.to_s == session[:booking_day] %>"
            data-booking-target="bookingDay">
          <% unless days_classes[0] %>
            <div class="bookings-notice live"><%=days_classes[1]%></div>
          <% else %>
            <%= render partial: 'wkclass_booking', collection: days_classes[1], as: :wkclass, locals: {index: } %>                  
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>



