<%= turbo_frame_tag 'index_body' do %>
  <div class="booking-section px-1 mb-3">
    <div data-controller="booking" data-booking-bookings-open-value = <%= Setting.booking_window_days_before %>>
      <%= render 'group_bookings_table' %>
      <%= render 'opengym_bookings_table' %>
    </div>
    <%= render 'other_services' unless @other_services.empty? %>
    <%= render 'my_bookings_table' %>
    <%= render 'renewal' if @renewal.alert_to_renew? %>
  </div>
  <div id="packages-table">
    <%= render partial: 'client/data_pages/shared/client_packages_table', locals: {booking_details: false, package_modifications: true} %>
  </div>
<% end %>