<%= turbo_frame_tag 'index_body' do %>
  <% provide(:renewal_statement, renewal_statement(@renewal.package_ongoing?, @renewal.from_trial?, @renewal.valid?)) %>
  <% provide(:visit_shop_statement, visit_shop_statement(@renewal.product.rider?)) %>
  <% provide(:renewal_product, @renewal.product&.name(verbose: true)) %>
  <% provide(:renewal_price, @renewal.price(@renewal.product).to_s) %>
  <% provide(:base_price, @renewal.base_price(@renewal.product).price.to_s) %>
  <% provide(:classes_heading, ('Classes coming up' if @renewal.package_ongoing?)) %>

  <div class="booking-section mb-3">
    <%= render partial: 'client_no_classes' if @renewal.package_ongoing? && @group_wkclasses_show.empty? %>
    <div data-controller="booking" data-booking-bookings-open-value = <%= Setting.booking_window_days_before %>>
      <%= turbo_frame_tag 'group_bookings' do %>
        <%= render partial: 'group_bookings_table' if @renewal.package_ongoing? && !@group_wkclasses_show.empty? %>
      <% end %>
      <%= turbo_frame_tag 'opengym_bookings' do %>
        <%= render partial: 'opengym_bookings_table' if @renewal.package_ongoing? && !@open_gym_wkclasses.empty? %>
      <% end %>
    </div >
    <%= render partial: 'other_services' unless @other_services.empty? %>
    <%= turbo_frame_tag 'my_bookings' do %>
      <%= render partial: 'my_bookings_table' if @renewal.package_ongoing? %>
    <% end %>
    <% if @renewal.alert_to_renew? %>
      <%= render partial: 'renewal' %>
    <% end %>
  </div>
  <div id="packages-table">
    <%= render partial: 'client/data_pages/shared/client_packages_table', locals: {booking_details: false, package_modifications: true} %>
  </div>
<% end %>