<%= turbo_frame_tag 'opengym_bookings' do %>
  <section id="opengym-bookings-table">
    <% @opengym_wkclasses_show_by_day.each_with_index do |day, index| %>
      <% @show_no_opengym_classes = @no_classes_text_array[index][:show_no_opengym_classes] %>
      <div class="booking-day <%= "booking-day#{index}" %> <%= 'live' if index.to_s == session[:booking_day] %>"
           data-booking-target="bookingDay">
        <div class="justify-content-center open-gym canvas black-canvas form-like pb-3 my-1 <%= @no_classes_text_array[index][:hide_opengym_section] ? 'd-none' : 'd-md-flex' %>">
          <h6 class='style-1 text-white py-4 mb-0'>open gym</h6>
          <div class="bookings-notice <%= 'live' if @show_no_opengym_classes %>"><%= t('none_to_book', wkclass_type: 'Open Gym') %></div>              
          <%= render partial: 'opengym_booking', collection: day, as: :wkclass, locals: {index: index} %>                  
        </div>
      </div>
    <% end %>
  </section>
<% end %>  



