<div id="renewal" class="container px-1 fw-bolder fst-italic my-5 text-center">
  <% unless @renewal.product.rider? %>
    <p class="mb-1"><%= renewal_statement(@renewal.package_ongoing?, @renewal.from_trial?, @renewal.valid?) %></p>
  <% end %>
  <% if @renewal.valid? && !@renewal.product.rider? %>
    <p class="mb-1"><%= yield(:renewal_product) %></p>
    <p class="">
      <% if @renewal.offer_online_discount? %>   
        <s class="me-1"><%= rupees(yield(:base_price))%></s>
      <% end %>    
      <span class="span1"><%= "#{rupees(yield(:renewal_price))}" %></span>
    </p>
    <% if Setting.enable_online_payment%>
      <%= render partial: 'razor_form_renewal' %>
    <% end %>
    <div class="mt-3">
      <%= link_to 'or visit shop', client_shop_path(@client), class: 'like_button text-uppercase', data: {turbo: false} %>
    </div>
    <% unless Setting.enable_online_payment%>    
      <div class="admin_form mt-3 text-center">Due to a temporary, technical glitch at RazorPay, we cannot currently take payment online. Please contact the Space directly for renewal.</div>
    <% end %>
  <% else %>
    <p class="bolditalics mb-0"><%= yield(:visit_shop_statement) %></p>
  <% end %>
</div>
<hr class="divider thick">
