<div class ="d-flex bg-light">
    <div class ="cell c-revenue-name"></div>
    <div class ="cell c-revenue-attend fw-bold">Attendances</div>
    <div class ="cell c-revenue-base fw-bold">Base Revenue</div>
    <div class ="cell c-revenue-expiry fw-bold">Expiry Revenue</div>
    <div class ="cell c-revenue-total fw-bold">Total Revenue</div>
</div>

<% @workout_group_names.each do |wg| %>
  <div class ="d-flex bg-light">
      <div class ="cell c-revenue-name"><%= wg %></div>
      <div class ="cell c-revenue-attend"><%= @wg_revenue_hash[wg.to_sym][:number] %></div>
      <div class ="cell c-revenue-base"><%= number_to_currency(@wg_revenue_hash[wg.to_sym][:base_revenue], precision: 0, unit: '') %></div>
      <div class ="cell c-revenue-expiry"><%= number_to_currency(@wg_revenue_hash[wg.to_sym][:expiry_revenue], precision: 0, unit: '') %></div>
      <div class ="cell c-revenue-total"><%= number_to_currency(@wg_revenue_hash[wg.to_sym][:total_revenue], precision: 0, unit: 'Rs. ') %></div>
  </div>
<% end %>
