<% client_decorator = decorate(client) %>
<%= turbo_frame_tag client do %>
  <div class="row">
    <div class="column col-2x"><%= client_decorator.name_link(@junioradmin_plus) %></div>
    <div class="column col-2x nomobile"><%= client_decorator.email %></div>
    <div class="column col-2x"><%= client_decorator.number %></div>
    <%= client_decorator.submitted_declaration %>
    <div class="column nomobile">
      <turbo-frame id="insta-<%= client.id  %>">  
        <%= render partial: 'instagram_ok', locals: {client: client} %>
      </turbo-frame>
    </div>
    <div class="column nomobile">
      <turbo-frame id="whatsapp-group-<%= client.id %>">
        <%= render partial: 'whatsapp_group', locals: {client: client} %>
      </turbo-frame>
    </div>
    <div class="column"><%= client_decorator.edit %></div>
    <%= client_decorator.delete(@admin_plus, client.deletable?) %>
  </div>
<% end %>