<table class="table table-secondary table-striped caption-top">
  <caption>Contact</caption>
  <tbody>
    <tr>
      <th scope="row">Email</th>
      <td><%= @client.email %></td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td><%= @client.phone %></td>
    </tr>
    <% unless @client.whatsapp.blank? %>
      <tr>
        <th scope="row">Whatsapp</th>
        <td><%= @client.whatsapp %></td>
      </tr>
    <% end %>
    <% unless @client.instagram.blank? %>
      <tr>
        <th scope="row">Instagram</th>
        <td><%= @client.instagram %></td>
      </tr>
    <% end %>
    <% unless @client.note.blank? %>
      <tr>
        <th scope="row">Note</th>
        <td><%= @client.note %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-secondary table-striped caption-top">
  <caption>History</caption>
  <tbody>
    <tr>
      <th scope="row">Classes Attended</th>
      <td><%= @client_hash[:attendances] %></td>
    </tr>
    <tr>
      <th scope="row">Total Packages</th>
      <td><%= @client_hash[:packages] %></td>
    </tr>
    <tr>
      <th scope="row">Total DropIns</th>
      <td><%= @client_hash[:dropins] %></td>
    </tr>
    <% if logged_in_as?('superadmin') %>
      <tr>
        <th scope="row">Total Spend</th>
        <td><%= number_to_currency(@client_hash[:spend], precision: 0, unit: 'Rs. ') %></td>
      </tr>
    <% end %>
    <tr>
      <th scope="row">Last Class</th>
      <td><%= @client_hash[:last_class].nil? ? "not yet atended" : "#{time_ago_in_words(@client_hash[:last_class])} ago" %></td>
    </tr>
    <tr>
      <th scope="row">First contact</th>
      <td><%= "#{time_ago_in_words(@client_hash[:date_created])} ago" %></td>
    </tr>
  </tbody>
</table>
