<%# https://discuss.hotwired.dev/t/how-to-wrap-a-table-row-with-a-turbo-frame/1717/8 %>
<%#= content_tag :tr, id: dom_id(client) do %>
<tr>
  <th scope="row">
    <% if @junioradmin_plus %>
      <%= link_to client.name, client_path(client), class: "like_button", data: { turbo_frame: dom_id(client) } %>
    <% else %>
      <%= client.name %>
    <% end %>
  </th>
  <td class="nomobile"><%= client.email %></td>
  <td><%= number(client.whatsapp, client.phone) %></td>
  <td class="nomobile">
    <%= render partial: 'insta', locals: {client: client} %>
  </td>
  <td class="nomobile">
    <%= render partial: 'waiver', locals: {client: client} %>
  </td>
  <td class="nomobile">
    <%= render partial: 'whatsapp_group', locals: {client: client} %>
  </td>
  <td><%= link_to image_tag('edit.png', class: "table_icon"), edit_client_path(client), data: { turbo_frame: 'client_edit' } %></td>
  <% if @admin_plus && client.deletable? %> 
    <td class="nomobile"><%= link_to image_tag('delete.png', class: "table_icon"), client_path(client), data: { "turbo-method": :delete, turbo_confirm: 'Client has no purchases so can be deleted. But are you sure?' } %></td>
      <% else %>
    <td class="nomobile"></td>
  <% end %>       
  <% if @admin_plus %>
    <td>
      <% if client.account.nil? %>
        <%= link_to image_tag('add.png', class: "table_icon"), accounts_path(email: client.email, id: client.id, ac_type: 'client'), method: :post, data: { "turbo-method": :post, turbo_confirm: 'An account for this client will be created. Are you sure?' }  %>
      <% else %>
        <%= link_to image_tag('forgot-password.png', class: "table_icon"), account_path(client.account, requested_by: 'admin'), method: :patch, data: { "turbo-method": :patch, turbo_confirm: "This client's password will be reset. Are you sure?" } %>
      <% end %>
    </td>
  <% end %>
  <% if @junioradmin %>
    <td>
      <% if !client.account.nil? %>
       <%= link_to image_tag('forgot-password.png', class: "table_icon"), account_path(client.account, requested_by: 'admin'), method: :patch, data: { "turbo-method": :patch, turbo_confirm: "This client's password will be reset. Are you sure?" } %>
        <%#= button_to account_path(client.account),
                      method: :patch,
                      data: { "turbo-method": :patch, turbo_confirm: "This client's password will be reset. Are you sure?" } do %>
          <%#= image_tag('forgot-password.png', class: "table_icon") %>
        <%# end %>
      <% end %>
    </td>
  <% end %>
</tr>
<%= turbo_frame_tag client %>
<%# end %>