<% client_decorator = decorate(@client) %>
<h4>
  <%= client_decorator.name_link(@junioradmin_plus) %>
  <%= client_decorator.edit(link_from: @link_from) %>
</h4>
<div>
  <%= client_decorator.status_image %>
  <%= client_decorator.submitted_declaration(in_table: false) %>
  <turbo-frame id="student-<%= @client.id  %>">    
    <%= render partial: 'student', locals: {client: @client} %>
  </turbo-frame>
  <turbo-frame id="insta-<%= @client.id  %>">    
    <%= render partial: 'instagram_ok', locals: {client: @client} %>
  </turbo-frame>
  <turbo-frame id="whatsapp-group-<%= @client.id  %>">    
    <%= render partial: 'whatsapp_group', locals: {client: @client} %>
  </turbo-frame>
  <turbo-frame id="manage-account-<%= @client.id  %>">
    <%= render partial: 'manage_account', locals: {client: @client} %>
  </turbo-frame>
</div>