<div class="page_entries_info">
  <%= paginate @clients, remote: true %>
  <%= page_entries_info @clients %>
</div>

<table class="table table-secondary table-striped caption-top">
  <caption></caption>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <th scope="row"><%= link_to client.name, admin_client_path(client), class: "like_button" %></th>
        <td class="nomobile"><%= client.email %></td>
        <td><%= client.phone %></td>
        <td class="nomobile"><%= client.instagram %></td>
        <td><%= link_to image_tag('edit.png', class: "grid_table_icon"), edit_admin_client_path(client), class: "icon-container" %></td>
        <!--td class="nomobile"><%#= link_to image_tag('delete.png', class: "grid_table_icon"), admin_client_path(client), method: :delete, data: { confirm: 'Client and its purchases and attendances will be deleted. Are you sure?' } unless logged_in_as?('junioradmin') %></td-->
        <td class="nomobile">
          <% if client.account.nil? %>
            <%= link_to image_tag('add.png', class: "grid_table_icon"), admin_accounts_path(email: client.email, client_id: client.id, ac_type: 'client'), method: :post, data: { confirm: 'An account for this client will be created. Are you sure?' } unless logged_in_as?('junioradmin') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
