<div class="fst-italic ps-2">Contact</div>
<div class="admin-table striped mt-2 mb-4">
  <div class="row">
    <div class="column col-1x">Email</div>
    <div class="column col-2x"><%= @client.email %></div>
  </div>
  <% unless @client.whatsapp.blank? %>
  <div class="row">
      <div class="column col-1x">Whatsapp</div>
      <div class="column col-2x"><%= @client.whatsapp&.phony_formatted(format: :international, spaces: '-') %></div>
    </div>
  <% end %>
  <% unless @client.phone.blank? %>
    <div class="row">
      <div class="column col-1x">Phone</div>
      <div class="column col-2x"><%= @client.phone&.phony_formatted(format: :international, spaces: '-') %></div>
    </div>
  <% end %>      
  <% unless @client.instagram.blank? %>
    <div class="row">
      <div class="column col-1x">Instagram</div>
      <div class="column col-2x"><%= @client.instagram %></div>
    </div>
  <% end %>
  <% if @client.student? %>
    <div class="row">
      <div class="column col-1x">Student</div>
      <div class="column col-2x"><%= raw("&check;") %></div>
    </div>
  <% end %>
  <% if @client.friends_and_family? %>
    <div class="row">
      <div class="column col-1x">Friend & Family</div>
      <div class="column col-2x"><%= raw("&check;") %></div>
    </div>
  <% end %>
  <div class="row">
    <div class="column col-1x">Dob</div>
    <div class="column col-2x"><%= @client.dob&.strftime("%d %B %Y") %></div>
  </div>  
  <div class="row">
    <div class="column col-1x">Gender</div>
    <div class="column col-2x"><%= @client.gender %></div>
  </div>  
  <% unless @client.note.blank? %>
    <div class="row">
      <div class="column col-1x">Note</div>
      <div class="column col-2x"><%= @client.note %></div>
    </div>
  <% end %>
</div>

<div class="fst-italic ps-2">History</div>
<div class="admin-table striped mt-2">
  <div class="row">
    <div class="column col-1x">Classes Attended</div>
    <div class="column col-1x"><%= @client_hash[:attendances] %></div>
  </div>
  <div class="row">
    <div class="column col-1x">Total Packages</div>
    <div class="column col-1x"><%= @client_hash[:packages] %></div>
  </div>
  <div class="row">
    <div class="column col-1x">Total DropIns</div>
    <div class="column col-1x"><%= @client_hash[:dropins] %></div>
  </div>
  <% if logged_in_as?('superadmin') %>
    <div class="row">
      <div class="column col-1x">Total Spend</div>
      <div class="column col-1x"><%= rupees(@client_hash[:spend]) %></div>
    </div>
  <% end %>
  <div class="row">
    <div class="column col-1x">Last Class</div>
    <div class="column col-1x"><%= @client_hash[:last_counted_class].nil? ? "not yet attended" : "#{time_ago_in_words(@client_hash[:last_counted_class])} ago" %></div>
  </div>
  <div class="row">
    <div class="column col-1x">Last Login</div>
    <div class="column col-1x"><%= "#{time_ago_in_words(@client_hash[:last_login])} ago" unless @client_hash[:last_login].nil?  %></div>
  </div>
  <div class="row">
    <div class="column col-1x">First contact</div>
    <div class="column col-1x"><%= "#{time_ago_in_words(@client_hash[:date_created])} ago" %></div>
  </div>

</div>