<% admin_plus = logged_in_as?('admin', 'superadmin') ? true : false %>
<h4>
  <%= @client.name %>

  <%= link_to image_tag('edit.png', class: "table_icon"), edit_admin_client_path(@client) %>
  <!--form action=<%#= "/admin/clients/#{params[:id]}" %> method="GET" >
    <select name="purchaseid" onchange="this.form.submit()" class= "sort">
      <%#= options_for_select @products_purchased, session[:purchaseid] %>
    </select>
  </form-->
</h4>
<div>
  <%= image_tag(status_icon(@client)) unless status_icon(@client).nil? %>
  <turbo-frame id="insta-<%= @client.id  %>">    
    <%= render partial: 'insta', locals: {client: @client} %>
  </turbo-frame> 
  <turbo-frame id="waiver-<%= @client.id  %>">    
    <%= render partial: 'waiver', locals: {client: @client} %>
  </turbo-frame>
  <turbo-frame id="whatsapp-group-<%= @client.id  %>">    
    <%= render partial: 'whatsapp_group', locals: {client: @client} %>
  </turbo-frame>
  <% if admin_plus %>
    <turbo-frame id="forgot-password-<%= @client.id  %>">    
      <%= render partial: 'forgot-password', locals: {client: @client} %>
    </turbo-frame> 
  <% end %>    
</div>