<%= form_with(model: [:admin, client]) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>
      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name, class: "form-mandatory" %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :last_name, class: "form-mandatory" %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :email, class: "form-mandatory" %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

<% if false %>
  <div class="field">
    <%= form.label :phone_raw, 'Phone' %>
    <%= form.text_field :phone_raw %>
  </div>

  <div class="field">
    <%= form.label :whatsapp_raw, 'Whatsapp' %>
    <%= form.text_field :whatsapp_raw %>
  </div>
<% end %>


  <div class="field">
    <%= form.label :whatsapp_raw, 'Whatsapp', class: "form-mandatory" %>
    <div class="d-flex field">
      <%= form.country_select(:whatsapp_country_code, {priority_countries: ["IN", "US", "GB"], sort_provided: false, format: :with_data_attrs}, {class: ' me-2'} ) %>
      <%= form.text_field :whatsapp_raw, class: 'form-control' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :phone_raw, 'Phone' %>
    <span class="sub-label">useful if client has a different number for calls than for whatsapp (Indian only)</span>
    <div class="d-flex field">    
      <%= form.country_select(:whatsapp_country_code, {selected: "IN", format: :with_data_attrs}, {class: ' me-2', disabled: true} ) %>    
      <%= form.text_field :phone_raw, class: 'form-control' %>
    </div>    
  </div>


  <div class="field">
    <%= form.label :instagram %>
    <%= form.text_field :instagram, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :hotlead, 'hot lead?' %>
    <%= form.check_box :hotlead %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note, cols: 40, rows: 5, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit @client.new_record? ? 'add client' : 'update client' %>
  </div>
<% end %>
