<%= turbo_frame_tag dom_id(@client) do %>
  <div class="admin_form my-2">
    <div id="client-heading" class="text-center mb-3">
      <%= render partial: 'client_heading' %>
    </div>

    <div id="client-summary" class="container px-1 mb-5">
      <%= render partial: 'client_summary' %>
    </div>

    <div id="ongoing-packages" class="container px-1 mb-3">
      <%= render partial: 'ongoing_packages' %>
    </div>

    <% unless @ongoing_packages.empty? %>
      <hr class="container px-1 mb-3 thick-divide">
    <% end %>

    <div id="ongoing-dropins" class="container px-1 mb-3">
      <%= render partial: 'ongoing_dropins' %>
    </div>

    <% unless @ongoing_dropins.empty? %>
      <hr class="container px-1 mb-3 thick-divide">
    <% end %>

    <div id="expired-purchases" class="container px-1 mb-3">
      <%= render partial: 'expired_purchases' %>
    </div>

    <% if @cancel_button %>
      <div class="cancel">
        <%= link_to image_tag('delete.png', class: "table_icon"), admin_clients_path %>
      </div>
    <% end %>
  </div>
<% end %>

