<div class="container px-1 margin-override" data-toggle="tooltip" data-placement="top" title="click + for new client">
  <h4>Clients <%= link_to image_tag('add.png', class: "button_icon"), new_admin_client_path %></h4>
  <!--h3 style="">Clients <%#= link_to tag.i(class: %w( bi bi-plus-circle )), new_admadmin_client_path, class: "icon-container"%></h3-->
</div>
<%# <turbo-frame id="client-frame"> %>
  <%= turbo_frame_tag 'clients-and-filter' do %>
    <div id="clients-filter" class="container px-1 mb-5 margin-override">
      <%= render partial: 'filter_form' %>
    </div>
    <% if logged_in_as?('superadmin') %>
      <div class="container px-1 mb-2 margin-override">  
        <%= render partial: 'download' %>
      </div>
    <% end %>
    <%= turbo_frame_tag 'clients' do %>
      <div id="clients-table" class="container px-0 mb-5 margin-override">
        <%= render partial: 'clients_table' %>
      </div>
    <% end %>
  <% end %>
<%# </turbo-frame> %>

