<div class ="d-flex bg-light">
  <h5><%= @client.name %></h5>
  <form action=<%= "/admin/clients/#{params[:id]}" %> method="GET" class="ms-3 align-with-header">
      <select name="attendance_period" onchange="this.form.submit()">
        <%= options_for_select @months, session[:attendance_period] %>
      </select>
  </form>
</div>

<div id="attendances-table" class="container px-1 mb-5 margin-override">
  <%= render partial: 'client_attendances_table' %>
</div>

<%= link_to 'Back', admin_clients_path %>
