<%= form_with(model: [:admin, workout_group]) do |form| %>
  <% if workout_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout_group.errors.count, "error") %> prohibited this workout_group from being saved:</h2>

      <ul>
        <% workout_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :partner_id %>
    <%= form.select :partner_id, options_for_select(@partners, @partner&.id), { include_blank: true } %>
  </div>

  <div class="field">
    <%= form.label :partner_share %>
    <%= form.number_field :partner_share %>
  </div>

  <div class="field">
    <%= form.label :gst_applies %>
    <%= form.select :gst_applies, [true, false] %>
  </div>

  <div class="field">
    <%= form.label :requires_invoice, 'The Space invoices the client' %>
    <%= form.select :requires_invoice, [true, false] %>
  </div>

  <div class="field">
    <legend>Workout</legend>
    <% @workouts.each do |workout| %>
      <div class ="d-flex">
        <% checked = false %>
        <% checked = @workout_group.workouts.pluck(:name).include?(workout.name) if @workout_group.persisted? %>
        <%= check_box_tag 'workout_group[workout_ids][]', workout.id, checked, class: "checkbox-class", id: "chbox#{workout.id}" %>
        <%= label_tag "chbox#{workout.id}", workout.name %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit @workout_group.new_record? ? 'Create workout group' : 'Update workout group' %>
  </div>
<% end %>
