<%= form_with(model: [:admin, workout_group], class: 'admin_form pt-4 my-2') do |form| %>
  <% if workout_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout_group.errors.count, "error") %> prohibited this workout_group from being saved:</h2>
      <ul>
        <% workout_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :service %>
    <%= form.select :service, options_for_select(@services, @workout_group.service) %>
  </div>

  <div class="field">
    <%= form.label :partner_id %>
    <%= form.collection_select :partner_id, @partners, :id, :first_name, selected: @partner&.id, include_blank: (true unless @partner&.id)  %>
  </div>

  <div class="field">
    <%= form.label :partner_share %>
    <%= form.number_field :partner_share %>
  </div>

  <div class="field mb-3">
    <%= form.label :requires_account do %>
      <%= form.check_box :requires_account, { checked: @workout_group.new_record? || form.object.requires_account? } %>
      Requires account
    <% end %>
  </div>

  <div class="field">
    <legend>Workouts included</legend>
    <% @workouts.each do |workout| %>
      <div class ="d-flex">
        <% checked = false %>
        <% checked = @workout_group.workouts.pluck(:name).include?(workout.name) if @workout_group.persisted? %>
        <%= label_tag nil, class: "purchase-filters" do %>
          <%= check_box_tag 'workout_group[workout_ids][]', workout.id, checked, class: "checkbox-class", id: "chbox#{workout.id}" %>
          <%= workout.name %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :gst_applies %>
    <%= form.select :gst_applies, [true, false] %>
  </div>

  <div class="field">
    <%= form.label :requires_invoice, 'The Space invoices the client' %>
    <%= form.select :requires_invoice, [true, false] %>
  </div>

  <div class="actions">
    <%= form.submit @workout_group.new_record? ? 'Create workout group' : 'Update workout group' %>
  </div>

  <div class="cancel">
    <%= link_to image_tag('delete.png', class: "table_icon"), @form_cancel_link %>
  </div>  
<% end %>
