<div class ="d-flex bg-light">
    <div class ="cell c-revenue-name">Attendances</div>
    <div class ="cell c-revenue-attend "><%= @summary[:attendance_count] %></div>
</div>
<div class ="d-flex bg-light">
    <div class ="cell c-revenue-name">Number of Classes</div>
    <div class ="cell c-revenue-attend "><%= @summary[:wkclass_count] %></div>
</div>
<div class ="d-flex bg-light">
    <div class ="cell c-revenue-name">Base Revenue</div>
    <div class ="cell c-revenue-attend "><%= number_to_currency(@summary[:base_revenue], precision: 0, unit: '') %></div>
</div>
<div class ="d-flex bg-light">
    <div class ="cell c-revenue-name">Expiry Revenue</div>
    <div class ="cell c-revenue-attend "><%= number_to_currency(@summary[:expiry_revenue], precision: 0, unit: '') %></div>
</div>
<div class ="d-flex bg-light fw-bold">
    <div class ="cell c-revenue-name">Gross Revenue</div>
    <div class ="cell c-revenue-attend "><%= number_to_currency(@summary[:gross_revenue], precision: 0, unit: '') %></div>
</div>
<div class ="d-flex bg-light">
    <div class ="cell c-revenue-name">GST</div>
    <div class ="cell c-revenue-attend "><%= number_to_currency(@summary[:gst], precision: 0, unit: '') %></div>
</div>
<div class ="d-flex bg-light">
    <div class ="cell c-revenue-name">Net <small>(of GST)</small> Revenue</div>
    <div class ="cell c-revenue-attend "><%= number_to_currency(@summary[:net_revenue], precision: 0, unit: '') %></div>
</div>
<% unless @summary[:variable_expense].zero? %>
<div class ="d-flex bg-light">
    <div class ="cell c-revenue-name">Instructor (per-class) Expense*</div>
    <div class ="cell c-revenue-attend "><%= number_to_currency(@summary[:variable_expense], precision: 0, unit: '') %></div>
</div>
<% end %>
<% unless @summary[:fixed_expense].zero? %>
<div class ="d-flex bg-light">
    <div class ="cell c-revenue-name">Other Expenses**</div>
    <div class ="cell c-revenue-attend "><%= number_to_currency(@summary[:fixed_expense], precision: 0, unit: '') %></div>
</div>
<% end %>
<div class ="d-flex bg-light fw-bold">
    <div class ="cell c-revenue-name">Total Expense</div>
    <div class ="cell c-revenue-attend "><%= number_to_currency(@summary[:total_expense], precision: 0, unit: '') %></div>
</div>
<div class ="d-flex bg-light fw-bold">
    <div class ="cell c-revenue-name">Profit</div>
    <div class ="cell c-revenue-attend "><%= number_to_currency(@summary[:profit], precision: 0, unit: '') %></div>
</div>
<div class ="d-flex bg-light fw-bold">
    <div class ="cell c-revenue-name">Partner Share (Rs.)</div>
    <div class ="cell c-revenue-attend "><%= number_to_currency(@summary[:partner_share], precision: 0, unit: '') %></div>
</div>
