  <div class="row">
    <div class="column col-1x fw-light">Attendances</div>
    <div class="column col-1x"><%= @summary[:atendance_count] %></div>
  </div>
  <div class="row">
    <div class="column col-1x fw-light">Number of Classes</div>
    <div class="column col-1x"><%= @summary[:wkclass_count] %></div>
  </div>
  <div class="row">
    <div class="column col-1x fw-light">Membership Revenue</div>
    <div class="column col-1x"><%= number_with_delimiter(@summary[:membership_revenue]) %></div>
  </div>
  <div class="row">
    <div class="column col-1x fw-light">Freeze Revenue</div>
    <div class="column col-1x"><%= number_with_delimiter(@summary[:freeze_revenue]) %></div>
  </div>
  <div class="row">
    <div class="column col-1x fw-light">Restart Revenue</div>
    <div class="column col-1x"><%= number_with_delimiter(@summary[:restart_revenue]) %></div>
  </div>
  <div class="row">
    <div class="column col-1x fw-light">Total Revenue</div>
    <div class="column col-1x"><%= number_to_currency(@summary[:total_revenue], precision: 0, unit: '') %></div>
  </div>
  <div class="row">
    <div class="column col-1x fw-light">Instructor (per-class) Expense <%= '*' unless @summary[:instructor_expense].zero? %></div>
    <div class="column col-1x"><%= number_with_delimiter(@summary[:instructor_expense]) %></div>
  </div>   
  <div class="row fw-bolder">
    <div class="column col-1x">Net Revenue</div>
    <div class="column col-1x"><%= number_to_currency(@summary[:net_revenue], precision: 0, unit: '') %></div>
  </div>
