  <div class="row">
    <div class="column col-1x fw-light">Attendances</div>
    <div class="column col-1x"><%= @summary[:attendance_count] %></div>
  </div>
  <div class="row">
    <div class="column col-1x fw-light">Number of Classes</div>
    <div class="column col-1x"><%= @summary[:wkclass_count] %></div>
  </div>
  <div class="row">
    <div class="column col-1x fw-light">Base Revenue</div>
    <div class="column col-1x"><%= number_with_delimiter(@summary[:base_revenue]) %></div>
  </div>
  <div class="row">
    <div class="column col-1x fw-light">Expiry Revenue</div>
    <div class="column col-1x"><%= number_with_delimiter(@summary[:expiry_revenue]) %></div>
  </div>
  <div class="row">
    <div class="column col-1x fw-light">Gross Revenue</div>
    <div class="column col-1x"><%= number_with_delimiter(@summary[:gross_revenue]) %></div>
  </div>
  <div class="row">
    <div class="column col-1x fw-light">GST</div>
    <div class="column col-1x"><%= number_to_currency(@summary[:gst], precision: 0, unit: '') %></div>
  </div>
  <div class="row">
    <div class="column col-1x fw-light">Net <small>(of GST)</small> Revenue</div>
    <div class="column col-1x"><%= number_to_currency(@summary[:net_revenue], precision: 0, unit: '') %></div>
  </div>
  <% unless @summary[:variable_expense].zero? %>    
    <div class="row">
      <div class="column col-1x fw-light">Instructor (per-class) Expense*</div>
      <div class="column col-1x"><%= number_with_delimiter(@summary[:variable_expense]) %></div>
    </div>
  <% end %>      
  <% unless @summary[:fixed_expense].zero? %>    
    <div class="row">
      <div class="column col-1x fw-light">Other Expenses**</div>
      <div class="column col-1x"><%= number_with_delimiter(@summary[:fixed_expense]) %></div>
    </div>
  <% end %>    
  <div class="row">
    <div class="column col-1x fw-light">Total Expense</div>
    <div class="column col-1x"><%= number_with_delimiter(@summary[:total_expense]) %></div>
  </div>
  <div class="row">
    <div class="column col-1x fw-light">Profit</div>
    <div class="column col-1x"><%= number_to_currency(@summary[:profit], precision: 0, unit: '') %></div>
  </div>
  <div class="row">
    <div class="column col-1x fw-bolder">Partner Share (Rs.)</div>
    <div class="column col-1x fw-bolder"><%= number_to_currency(@summary[:partner_share], precision: 0, unit: '') %></div>
  </div>
