<table class="table table-secondary table-striped caption-top">
  <tbody>
    <tr>
      <th scope="row" class="fw-light">Attendances</th>
      <td><%= @summary[:attendance_count] %></td>
    </tr>
    <tr>
      <th scope="row" class="fw-light">Number of Classes</th>
      <td><%= @summary[:wkclass_count] %></td>
    </tr>
    <tr>
      <th scope="row" class="fw-light">Base Revenue</th>
      <td><%= number_with_delimiter(@summary[:base_revenue]) %></td>
    </tr>
    <tr>
      <th scope="row" class="fw-light">Expiry Revenue</th>
      <td><%= number_with_delimiter(@summary[:expiry_revenue]) %></td>
    </tr>
    <tr>
      <th scope="row">Gross Revenue</th>
      <td><%= number_with_delimiter(@summary[:gross_revenue]) %></td>
    </tr>
    <tr>
      <th scope="row" class="fw-light">GST</th>
      <td><%= number_to_currency(@summary[:gst], precision: 0, unit: '') %></td>
    </tr>
    <tr>
      <th scope="row" class="fw-light">Net <small>(of GST)</small> Revenue</th>
      <td><%= number_to_currency(@summary[:net_revenue], precision: 0, unit: '') %></td>
    </tr>
    <% unless @summary[:variable_expense].zero? %>
      <tr>
        <th scope="row" class="fw-light">Instructor (per-class) Expense*</th>
        <td><%= number_with_delimiter(@summary[:variable_expense]) %></td>
      </tr>
    <% end %>
    <% unless @summary[:fixed_expense].zero? %>
    <tr>
      <th scope="row" class="fw-light">Other Expenses**</th>
      <td><%= number_with_delimiter(@summary[:fixed_expense]) %></td>
    </tr>
    <% end %>
    <tr>
      <th scope="row">Total Expense</th>
      <td><%= number_with_delimiter(@summary[:total_expense]) %></td>
    </tr>
    <tr>
      <th scope="row">Profit</th>
      <td><%= number_to_currency(@summary[:profit], precision: 0, unit: '') %></td>
    </tr>
    <tr>
      <th scope="row">Partner Share (Rs.)</th>
      <td><%= number_to_currency(@summary[:partner_share], precision: 0, unit: '') %></td>
    </tr>
  </tbody>
</table>
