<%= render partial: 'instructor_expense_filter_form' %>
<table class="table table-secondary table-striped caption-top">
  <caption>* Classes with Instructor Expense</caption>
  <tbody>
    <% @wkclasses_with_instructor_expense.each_with_index do |wkclass, index| %>
      <tr>
        <% wkclass_size = wkclass.attendances.size %>      
        <th scope="row"><%= index + 1 %></th>
        <% if logged_in_as?('superadmin') %>
          <td><%= link_to wkclass.summary, admin_wkclass_path(wkclass, no_scroll: true), class: "like_button" %></td>
        <% else %>
          <td><%= wkclass.summary %></td>
        <% end %>
        <td><%= wkclass.attendances&.first&.client&.name if wkclass_size == 1 %></td>
        <td><%= wkclass.attendances&.first&.status if wkclass_size == 1 %></td>        
        <td><%= wkclass.instructor_name %></td>
        <td><%= number_with_delimiter(wkclass.rate) %></td>
      </tr>
    <% end %>
    <tr>
      <th scope="row">Total</th>
      <td><%= rupees(@summary[:variable_expense_filtered]) %></td>
    </tr>
  </tbody>
</table>

