<table class="table table-secondary table-striped caption-top">
  <caption>* Classes with Instructor Expense</caption>
  <tbody>
    <% @wkclasses_with_instructor_expense.each_with_index do |wkclass, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <% if logged_in_as?('superadmin') %>
          <td><%= link_to wkclass.summary, admin_wkclass_path(wkclass, no_scroll: true), class: "like_button" %></td>
        <% else %>
          <td><%= wkclass.summary %></td>
        <% end %>
        <td><%= wkclass.instructor_name %></td>
        <td><%= number_with_delimiter(wkclass.instructor_cost) %></td>
      </tr>
    <% end %>
    <tr>
      <th scope="row">Total</th>
      <td><%= number_to_currency(@summary[:variable_expense], precision: 0, unit: 'Rs. ') %></td>
    </tr>
  </tbody>
</table>
