<div class="mb-2"><h6 class="fw-bolder">* Classes with Instructor Expense<h6></div>
<%= render 'instructor_expense_filter_form' %>
<div class="admin-table striped mt-3">  
  <% @wkclasses_with_instructor_expense.each_with_index do |wkclass, index| %>
    <% wkclass_decorator = decorate(wkclass) %>
    <div class="row">
      <div class="column"><%= index + 1 %></div>
      <div class="column col-2x"><%= wkclass_decorator.name_link_in_wg_instructor_expense_table %></div>
      <div class="column col-1x"><%= wkclass_decorator.pt_client_name %></div>
      <div class="column col-1x"><%= wkclass_decorator.pt_status %></div>
      <div class="column col-1x"><%= wkclass_decorator.instructor_name %></div>
      <div class="column col-1x"><%= wkclass_decorator.rate_formatted %></div>
    </div>
  <% end %>
  <div class="row">
    <div class="column col fw-bolder">Total: <%= rupees(@summary[:variable_expense_filtered]) %></div>
  </div>
</div>