<% @workout_groups.each do |workout_group| %>
  <div class ="d-flex bg-light">
      <% if logged_in_as?('partner', 'superadmin') %>
        <div class ="cell c-wg-name"><%= link_to workout_group.name, admin_workout_group_path(workout_group) %></div>
        <div class ="cell c-wg-name"><%= link_to workout_group.partner.name, admin_partner_path(workout_group.partner) %></div>
      <% else %>
        <div class ="cell c-wg-name"><%= workout_group.name %></div>
        <div class ="cell c-wg-name"><%= workout_group.partner.name %></div>
      <% end %>
      <div class ="cell c-wg-name"><%= workout_group.workout_list %></div>
      <% unless logged_in_as?('partner') %>
      <div class ="cell c-class-icon"><%= image_tag('gst.png', class: "table_icon") if workout_group.gst_applies %></div>
      <div class ="cell c-class-icon"><%= image_tag('invoice.png', class: "table_icon") if workout_group.requires_invoice %></div>
      <div class ="cell c-class-icon">
        <%= link_to image_tag('edit.png', class: "table_icon"), edit_admin_workout_group_path(workout_group), class: "icon-container" %>
      </div>
      <div class ="cell c-class-icon">
        <%= link_to image_tag('delete.png', class: "table_icon"), admin_workout_group_path(workout_group), method: :delete, data: { confirm: 'Workout Group & its products will be deleted. Are you sure?' }, class: "icon-container" %>
      </div>
      <% end %>
  </div>
<% end %>
