<%= turbo_frame_tag workout_group do %>
  <div class="row">
    <div class="column col-1x extra-small"><%= link_to workout_group.name, workout_group_path(workout_group), class: 'like_button extra_small', data: { turbo_frame: dom_id(workout_group) } %></div>
    <div class="column col-1x extra-small"><%= link_to image_tag('view.png', class: "table_icon"), show_workouts_path(workout_group) %></div>
    <div class="column col-1x extra-small"><%= workout_group.requires_account? ? raw("&check;") : "-" %></div>
    <div class="column col-1x extra-small"><%= workout_group.service %></div>
    <div class="column"><%= link_to image_tag('edit.png', class: "table_icon"), edit_workout_group_path(workout_group), data: { turbo_frame: dom_id(workout_group) }%></div>
  </div>
<% end %>

