<div class="container px-0">
  <div class="text-uppercase fst-italic">Not Current <small><%#="(#{@discounts.size})"%></small></div>
  <div class="admin-table mt-2 overflow">
    <div class="row thead small">  
      <div class="column col-3x">Name</div>
      <div class="column col-1x">Percent</div>
      <div class="column col-1x">Fixed</div>
      <div class="column col-1x nomobile">Group</div>
      <div class="column col-1x nomobile">Pt</div>
      <div class="column col-1x nomobile">Online</div>
      <div class="column col-1x nomobile">Aggregate</div>
      <div class="column col-1x">Count</div>
      <div class="column col-2x">Start date</div>
      <div class="column col-2x">End date</div>
      <div class="column nomobile"></div>
      <div class="column nomobile"></div>
      <div class="column nomobile"></div>
    </div>
  </div>
  <div class="admin-table overflow">
    <% @discount_type_hash[:not_current].each_key do |rationale| %>
      <% unless @discount_type_hash[:not_current][rationale].blank? %>
        <div class="row fw-bolder">  
          <div class="column col-1x fw-bolder text-uppercase text-light bg-secondary"><%= rationale %></div>          
        </div>
        <% @discount_type_hash[:not_current][rationale].uniq.each do |discount| %>
          <div class="row">  
            <div class="column col-3x"><%= discount.discount_reason.name %></div>
            <div class="column col-1x"><%= number_with_precision(discount.percent&.round(2), precision: 2,  strip_insignificant_zeros: true) %></div>
            <div class="column col-1x"><%= number_with_delimiter(discount.fixed) %></div>
            <div class="column col-1x nomobile"><%= discount.group? ? raw("&check;") : "-" %></div>
            <div class="column col-1x nomobile"><%= discount.pt? ? raw("&check;") : "-" %></div>
            <div class="column col-1x nomobile"><%= discount.online? ? raw("&check;") : "-" %></div>
            <div class="column col-1x nomobile"><%= discount.aggregatable? ? raw("&check;") : "-" %></div>
            <div class="column col-1x"><%= discount.da_count %></div>
            <div class="column col-2x"><%= discount.start_date.strftime '%d %b %Y' %></div>
            <div class="column col-2x"><%= (discount.end_date - Date.today > 3650) ? raw("&infin;") : (discount.end_date.strftime '%d %b %Y') %></div>
            <div class="column nomobile"><%= link_to image_tag('attendances.png', class: ["table_icon",("active-workout" unless discount.current?)].compact.join(' ')), superadmin_discount_path(discount, current: !discount.current?), data: {turbo_method: :patch} %></div>                    
            <div class="column nomobile"><%= link_to image_tag('edit.png', class: "table_icon"), edit_superadmin_discount_path(discount) unless discount.no_discount? %></div>
            <div class="column nomobile"><%= link_to image_tag('delete.png', class: "table_icon"), superadmin_discount_path(discount), data: { turbo_method: :delete, turbo_confirm: 'Discount will be deleted. Are you sure?' } unless (discount.no_discount? || discount.used?) %></div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>