<% @partners.each do |partner| %>
  <div class ="d-flex bg-light">
      <div class ="cell c-instructor-name">
        <% if logged_in_as_superadmin? %>
          <%= link_to partner.name, admin_partner_path(partner) %>
        <% else %>
          <%= partner.name %>
        <% end %>
      </div>
      <div class ="cell c-instructor-name"><%= partner.email %></div>
      <div class ="cell c-instructor-name"><%= partner.phone %></div>
      <div class ="cell c-instructor-workouts"><%= partner.workout_group_list %></div>
      <% if logged_in_as_superadmin? %>
        <div class ="cell c-class-icon">
          <%= link_to image_tag('edit.png', class: "table_icon"), edit_admin_partner_path(partner), class: "icon-container" %>
        </div>
        <div class ="cell c-class-icon">
          <%= link_to image_tag('delete.png', class: "table_icon"), admin_partner_path(partner), method: :delete, data: { confirm: 'Partner and all its workouts groups will be deleted. Are you sure?' }, class: "icon-container" %>
        </div>
        <div class ="cell c-class-icon">
          <% if !Account.find_by(email: partner.email&.downcase)&.activated? %>
          <%= link_to image_tag('add.png', class: "table_icon"), admin_accounts_path(email: partner.email, partner_id: partner.id, ac_type: 'partner'), method: :post, data: { confirm: 'An account for this partner will be created. Are you sure?' }, class: "icon-container" %>
          <% end %>
        </div>
      <% end %>        
  </div>
<% end %>
