<h2><strong><i><%= "#{@partner.name}" %></i></strong> Payment Summary <form action=<%= "/admin/partners/#{params[:id]}" %> method="GET">
              <select name="revenue_month" onchange="this.form.submit()" class= "sort">
                <%= options_for_select @months, session[:revenue_month] %>
              </select>
            </form>
</h2>
<div id="revenues-table" class="container px-1 mb-3 margin-override">
  <%= render partial: 'revenues_table' %>
</div>

<%= link_to image_tag('back.png', class: "back_icon"), admin_partners_path, class: "icon-container" %>
