<div id="payments-table" class="container px-0 mb-5">
  <div class="page_entries_info px-1">
    <% if @superadmin_plus %>
      <div class="record-count mb-1">
        <%= "showing #{@payments&.length} of #{@pagy&.count}" %>
      </div>
    <% end %>
    <div data-controller="pagy-initializer">
      <%== pagy_bootstrap_combo_nav_js(@pagy) %>
    </div>   
  </div>
  <div class="mt-2">
    <% if @superadmin_plus %>
      <div class="px-1 mb-1"><%= rupees(@payments_amount_sum) %><small> (all pages)</small></div>
    <% end %>  
    <div class="text-uppercase fst-italic">Payments<small><%= "(#{@payments.size})" %> </small></div>
  </div>
  <div class="admin-table mt-2">
    <div class="row fw-bolder">
      <div class="column col-1x">Client</div>
      <div class="column col-1x">Date</div>        
      <div class="column col-1x">Type</div>        
      <div class="column col-1x">Amount</div>
      <div class="column col-1x nomobile">Mode</div>        
      <div class="column nomobile">Web</div>        
      <div class="column col-1x nomobile">Note</div>
      <div class="column nomobile"></div>
    </div>
  </div>
  <div class="admin-table striped">
    <%= render partial: @payments %>
  </div>
</div>
