<%= turbo_frame_tag payment do %>
  <div class="row">
    <% purchase = payment.purchase %>
    <div class="column col-1x"><%= purchase.client.name %></div>
    <div class="column col-1x"><%= payment.dop.strftime('%d %b %y') %></div>
    <div class="column col-1x"><%= link_to payment.payable_type, purchase_path(purchase), class: "like_button", data: {turbo: false} %></div>
    <div class="column col-1x"><%= rupees(payment.amount) %></div>
    <div class="column col-1x nomobile"><%= payment.payment_mode %></div>
    <div class="column nomobile"><%= payment.online? ? raw("&check;") : "-" %></div>
    <div class="column col-1x nomobile"><%= payment.note %></div>
    <div class="column nomobile"><%= link_to image_tag('edit.png', class: 'table_icon'), edit_payment_path(payment) %></div>
  </div>
<% end %>