<%= form_with(model: [:shared, strength_marker]) do |form| %>
  <% if strength_marker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(strength_marker.errors.count, "error") %> prohibited this strength marker from being saved:</h2>

      <ul>
        <% strength_marker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @client %>
    <%= form.hidden_field :client_id, value: @client.id %>
  <% else %>
    <div class="field">
      <%= form.label :client_id %>
      <%= form.collection_select :client_id, @clients, :id, :name  %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.select :name, @strength_markers %>
  </div>

  <div class="field">
    <%= form.label :weight, 'Weight (kg)' %>
    <%= form.number_field :weight, step: 0.25, value: strength_marker.weight || 0, in: 0..300 %>
  </div>

  <div class="field">
    <%= form.label :reps %>
    <%= form.number_field :reps, in: 1..50 %>
  </div>

  <div class="field">
    <%= form.label :sets %>
    <%= form.number_field :sets, in: 1..20 %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
