<% admin_plus = logged_in_as?('admin', 'superadmin') ? true : false %>
<%= turbo_frame_tag strength_marker do %>
  <div class="row">
    <div class="column col-1x"><%= strength_marker.date.strftime('%d %b %y') %></div>
    <div class="column col-1x"><%= strength_marker.name %></div>
    <div class="column col-1x"><%= number_with_precision(strength_marker.weight, precision: 2, strip_insignificant_zeros: true) %></div>
    <div class="column col-1x"><%= strength_marker.reps %></div>
    <div class="column col-1x"><%= strength_marker.sets %></div>
    <div class="column col-1x"><%= strength_marker.note %></div>
    <% unless @client %>
      <div class="column col-2x">
        <% if admin_plus %>
          <%= link_to strength_marker.client.name, client_path(strength_marker.client), class: 'like_button', data: {turbo: false} %>
        <% else %>
          <div class="column col-2x"><%= strength_marker.client.name %></div>
        <% end %>
      </div>
    <% end %>
    <div class="column nomobile"><%= link_to image_tag("edit.png", class: "table_icon"), edit_strength_marker_path(strength_marker) %></div>
    <div class="column nomobile"><%= link_to image_tag("delete.png", class: "table_icon"), strength_marker_path(strength_marker), data: {turbo_method: :delete, turbo_frame: "_top", turbo_confirm: 'Marker will be deleted. Are you sure?' } %></div>
  </div>
<% end %>