  <div class="container px-1 mb-5">
    <%= render 'message_input' %>
    <%= render 'message_process' %>

    <%= turbo_frame_tag 'clients-and-filter' do %>
      <%= render 'filter_form' %>
      <%#= turbo_frame_tag 'clients' do %>
      <%= render 'message_blast' %>
      <%= render 'clients_table' %>
    <% end %>
    <%# end %>
  </div>
