<%= form_with(model: [:admin, attendance]) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>
      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= form.hidden_field :wkclass_id, :value => @wkclass&.id || attendance.wkclass.id %> </div>
  <%= form.select :purchase_id, options_for_select(@qualifying_purchases) %>
  <div class="actions mt-1 mb-2">
    <%= form.submit 'Log attendance' %>
  </div>
<% end %>
