    <section class="overflow-hidden pt-3 pt-xl-4">
      <div class="container">
        <div class="carousel carousel-visible">
          <div
            data-carousel='{"nav": false,"mouseDrag": true, "gutter": 32, "loop": false, "responsive": {"0": {"items": 1}, "768": {"items": 2}, "992": {"items": 2}, "1200": {"items": 3}}}'>
            <div>
              <div class="product">
                <figure class="product-image">
                  <a href="#!">
                    <%= image_tag('cube/products/watch1.jpg', alt: "")%>
                    <%= image_tag('cube/products/watch2.jpg', alt: "")%>
                  </a>
                </figure>
                <a class="product-title" href="#!">No Time?</a>
              </div>
            </div>
            <div>
              <div class="product">
                <figure class="product-image">
                  <a href="#!">
                    <%= image_tag('cube/products/bag1.jpg', alt: "")%>
                    <%= image_tag('cube/products/bag2.jpg', alt: "")%>
                  </a>
                </figure>
                <a class="product-title" href="#!">Pack your bags</a>
              </div>
            </div>
            <div>
              <div class="product">
                <figure class="product-image">
                  <a href="#!">
                    <%= image_tag('cube/products/helmet1.jpg', alt: "")%>
                    <%= image_tag('cube/products/helmet2.jpg', alt: "")%>
                  </a>
                </figure>
                <a class="product-title" href="#!">Or get ahead</a>

              </div>
            </div>

          </div>
        </div>
      </div>
    </section>