<div class="row">
  <div class="column col-1x"><%= account.email %></div>
  <div class="column col-1x"><%= account.priority_role.name %></div>
  <div class="column col-2x">  
    <%= form_with(model: [:admin, account]) do |form| %>
      <% if account.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@account.errors.count, "error") %> prohibited this password from being updated:</h2>
          <ul>
            <% @account.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field mb-1 password">
        <%= form.label :new_password %>
        <%= form.text_field :new_password %>
      </div>

      <div class="field mb-1 password">
        <%= form.label :new_password_confirmation, 'New password confirm' %>
        <%= form.text_field :new_password_confirmation %>
      </div>

      <div class="field mb-1 password">
        <%= form.label :admin_password, 'Admin password' %>
        <%= form.text_field :admin_password %>
      </div>

      <div><%= form.hidden_field :requested_by, value: 'superadmin_of_admin' %></div>

      <div class="actions">
        <%= form.submit 'Update Password' %>
      </div>
    <% end %>
  </div>
</div>

