<%= form_with(model: rel_workout_group_workout) do |form| %>
  <% if rel_workout_group_workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rel_workout_group_workout.errors.count, "error") %> prohibited this rel_workout_group_workout from being saved:</h2>

      <ul>
        <% rel_workout_group_workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :workout_group_id %>
    <%= form.number_field :workout_group_id %>
  </div>

  <div class="field">
    <%= form.label :workout_id %>
    <%= form.number_field :workout_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
