<% timetable_decorator = decorate(timetable) %>
<% use_for_display = timetable == @active_display %>
<% use_for_wkclass = timetable == @active_build %>
<div class="row">
  <div class="column col-1x"><%= timetable_decorator.title_link %></div>
  <div class="column col-1x"><%= timetable_decorator.date_fromm %></div>
  <div class="column col-1x"><%= timetable_decorator.date_untill %></div>
  <div class="column"><%= timetable_decorator.display(use_for_display) %></div>
  <div class="column"><%= timetable_decorator.wkclass_maker(use_for_wkclass) %></div>
  <div class="column"><%= timetable_decorator.edit %></div>
  <div class="column"><%= timetable_decorator.delete %></div>
  <div class="column"><%= timetable_decorator.copy %></div>
</div>