<%# <%= render 'modal' %>
<div class="container">
  <div class="positioning-wrap">
    <div><h4><%= @timetable.title %> <small></small></div></h4>
    <div class="GeneralText mb-2">
      <input style= "display:inline;" id="btnPreview" type="button" class="btn btn-dark btn-generaltext"
      onclick="return toggle_visibility('editButton', 'block')" value="Preview...">
    </div>
  </div>

  <p class="GeneralText mb-1 mb-2">All classes are 60mins unless stated otherwise.</p>
  <!--p class="GeneralText mb-2">
    <input style= "display:inline;" id="btnSpacePackage" type="button" class="btn btn-dark btn-generaltext"
    onclick="return toggle_visibility_classes('nonSpacePackageClass')" value="Show All Classes...">
  </p-->

  <table class="TimetableTable">
    <thead>
      <tr style="background-color:white;">
        <th>
          <div class = "editButton">
            <%= link_to image_tag('add.png', class: "edit_icon"), new_admin_table_time_path(timetable_id: params[:id]) %>time
          </div>
          <div class = "editButton">
            <%= link_to image_tag('add.png', class: "edit_icon"), new_admin_table_day_path(timetable_id: params[:id]) %>day
          </div>
        </th>
        <% @days.each do |day| %>
          <th class= "large-screen" style="text-align:center; text-transform: uppercase;">
            <%=day.name%>
            <div class = "editButton">
              <%= link_to image_tag('edit.png', class: "edit_icon"), edit_admin_table_day_path(day) %>
              <%= link_to image_tag('delete.png', class: "edit_icon"), admin_table_day_path(day), method: :delete, data: { confirm: 'This will delete the timetable colum and all the days entries. Are you sure?' } %>
            </div>    
          </th>
          <th class= "small-screen" style="text-align:center;"><%=day.short_name%></th>
        <%end%>
      </tr>
    </thead>

    <% unless @morning_times.empty? %>
      <tr style="background:linear-gradient(white,#dddddd)">
        <th colspan="7">MORNING</th>
      </tr>
      <% @morning_times.each do |time| %>
        <%= render 'time_period_table_body', time: time %>
      <% end %>
    <% end %>

    <% unless @afternoon_times.empty? %>
      <tr style="background:linear-gradient(white,#dddddd)">
        <th colspan="7">AFTERNOON</th>
      </tr>
      <% @afternoon_times.each do |time| %>
        <%= render 'time_period_table_body', time: time %>
      <% end %>  
    <% end %>  

    <% unless @evening_times.empty? %>
      <tr style="background:linear-gradient(white,#dddddd)">
        <th colspan="7">EVENING</th>
      </tr>
      <% @evening_times.each do |time| %>
        <%= render 'time_period_table_body', time: time %>
      <% end %>
    <% end %>    

  </table>
</div>

<script>
  $(window).on('load', function() {
  $('#staticBackdrop').modal('show');
});
</script>

<script>
<!--Switch between edit and preview mode-->
function toggle_visibility(className, display){
  var elements = document.getElementsByClassName(className);
  var btnValue = document.getElementById("btnPreview");
  n = elements.length;
    for (var i = 0; i < n; i++) {
    var e = elements[i];
    if(window.getComputedStyle(e, null).display == display) {
      e.style.display = 'none';
    } else {
      e.style.display = display;
    }
  }
  if(elements[0].style.display == 'none') {
    btnValue.value="Edit Mode...";
  } else {
    btnValue.value="Preview...";
    }
  return true;
}
</script>

<script>
<!--Switch between all classes and just the The Space classes-->
function toggle_visibility_classes(className){
var elements = document.getElementsByClassName(className);
var btnValue = document.getElementById("btnSpacePackage");
n = elements.length;
  for (var i = 0; i < n; i++) {
  var e = elements[i];
  if(e.style.display == 'inline') {
    e.style.display = 'none';
  } else {
    e.style.display = 'inline';
  }
}
if( (elements.length === 0) || (elements[0].style.display == 'none') ) {
  btnValue.value="Show All Classes...";
} else {
  btnValue.value="Show Space Package Classes Only...";
  }
return true;
}
</script>