<%= turbo_frame_tag dom_id(declaration_update) do %>
  <div class='canvas gray100-canvas embossed mb-2' <%= dom_id declaration_update %>>
    <p>
      <strong>Update:</strong>
      <%= declaration_update.date.strftime('%d %B %Y') %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= declaration_update.note %>
    </p>
    <p>
      <%= link_to image_tag('edit.png', class: "table_icon"), edit_client_declaration_declaration_update_path(client_id: declaration_update.declaration.client.id, id: declaration_update.id) %>
      <%= link_to image_tag('delete.png', class: "table_icon"),
                  client_declaration_declaration_update_path(client_id: declaration_update.declaration.client.id, id: declaration_update.id),
                  data: {turbo_method: :delete, turbo_confirm: 'this declaration update will be permanently deleted. Are you sure?'} %>
    </p>
  </div>
<% end %>
