<p id="notice"><%= notice %></p>

<h2>Purchases</h2>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Product</th>
      <th>Dop</th>
      <th>Payment</th>
      <th>Attendances</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rel_user_products.each do |rel_user_product| %>
      <tr>
        <td><%= rel_user_product.user.name %></td>
        <td><%= rel_user_product.product.name %></td>
        <td><%= rel_user_product.dop %></td>
        <td><%= rel_user_product.payment %></td>
        <td><%= rel_user_product.attendances.count %></td>
        <td><%= rel_user_product.status %></td>
        <td><%= link_to 'Show', rel_user_product %></td>
        <td><%= link_to 'Edit', edit_rel_user_product_path(rel_user_product) %></td>
        <td><%= link_to 'Destroy', rel_user_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_rel_user_product_path %>
