<h6 class='text-uppercase'>systemic</h6>
<div class="field">
  <%= declaration_fields.label :diabetes do %>
    <%= declaration_fields.check_box :diabetes, data: {"signup-target": "healthIssue", "action": "signup#toggle_no_health_issues"} %>
    Diabetes
  <% end %>
</div>
<div class="field">
  <%= declaration_fields.label :cardiovascular do %>
    <%= declaration_fields.check_box :cardiovascular, data: {"signup-target": "healthIssue", "action": "signup#toggle_no_health_issues"} %>
    Cardiovascular Disease
  <% end %>
</div>
<div class="field">
  <%= declaration_fields.label :respiratory do %>
    <%= declaration_fields.check_box :respiratory, data: {"signup-target": "healthIssue", "action": "signup#toggle_no_health_issues"} %>
    Respiratory Disease
  <% end %>
</div>
<div class="field">
  <%= declaration_fields.label :digestive do %>
    <%= declaration_fields.check_box :digestive, data: {"signup-target": "healthIssue", "action": "signup#toggle_no_health_issues"} %>
    Digestive Disease
  <% end %>
</div>
<div class="field">
  <%= declaration_fields.label :blood do %>
    <%= declaration_fields.check_box :blood, data: {"signup-target": "healthIssue", "action": "signup#toggle_no_health_issues"} %>
    Abnormal Blood Pressure
  <% end %>
</div>
<div class="field">
  <%= declaration_fields.label :autoimmune do %>
    <%= declaration_fields.check_box :autoimmune, data: {"signup-target": "healthIssue", "action": "signup#toggle_no_health_issues"} %>
    Autoimmune Disorder
  <% end %>
</div>
<div class="field">
  <%= declaration_fields.label :nutrient do %>
    <%= declaration_fields.check_box :nutrient, data: {"signup-target": "healthIssue", "action": "signup#toggle_no_health_issues"} %>
    Severe Nutrient Deficiency
  <% end %>
</div>
<div class="field">
  <%= declaration_fields.label :hormonal do %>
    <%= declaration_fields.check_box :hormonal, data: {"signup-target": "healthIssue", "action": "signup#toggle_no_health_issues"} %>
    Hormonal Imbalance
  <% end %>
</div>
<div class="field">
  <%= declaration_fields.label :endocrine do %>
    <%= declaration_fields.check_box :endocrine, data: {"signup-target": "healthIssue", "action": "signup#toggle_no_health_issues"} %>
    Endocrine Disorder
  <% end %>
</div>
<div class="field">
  <%= declaration_fields.label :migraine do %>
    <%= declaration_fields.check_box :migraine, data: {"signup-target": "healthIssue", "action": "signup#toggle_no_health_issues"} %>
    Chronic Migraine
  <% end %>
</div>
<div class="field">
  <%= declaration_fields.label :allergies do %>
    <%= declaration_fields.check_box :allergies, data: {"signup-target": "healthIssue", "action": "signup#toggle_no_health_issues"} %>
    Allergies
  <% end %>
</div>
<div class="field">
  <%= declaration_fields.label :pcos do %>
    <%= declaration_fields.check_box :pcos, data: {"signup-target": "healthIssue", "action": "signup#toggle_no_health_issues"} %>
    PCOS / PCOD
  <% end %>
</div>
<div class="field">
  <%= declaration_fields.label :menopause do %>
    <%= declaration_fields.check_box :menopause, data: {"signup-target": "healthIssue", "action": "signup#toggle_no_health_issues"} %>
    Perimenopause / Menopause
  <% end %>
</div>
<div class="field">
  <%= declaration_fields.label :gynaecological do %>
    <%= declaration_fields.check_box :gynaecological, data: {"signup-target": "healthIssue", "action": "signup#toggle_no_health_issues"} %>
    Gynaecological Disease
  <% end %>
</div>
<div class="field">
  <%= declaration_fields.label :epilepsy do %>
    <%= declaration_fields.check_box :epilepsy, data: {"signup-target": "healthIssue", "action": "signup#toggle_no_health_issues"} %>
    Epilepsy / Seizures
  <% end %>
</div>
<div class="field">
  <%= declaration_fields.label :sight do %>
    <%= declaration_fields.check_box :sight, data: {"signup-target": "healthIssue", "action": "signup#toggle_no_health_issues"} %>
    Hearing/Sight Problems
  <% end %>
</div>
<div class="field">
  <%= declaration_fields.label :kidney do %>
    <%= declaration_fields.check_box :kidney, data: {"signup-target": "healthIssue", "action": "signup#toggle_no_health_issues"} %>
    Kidney/Urinary/Liver Disease
  <% end %>
</div>
<div class="field">
  <%= declaration_fields.label :cancer do %>
    <%= declaration_fields.check_box :cancer, data: {"signup-target": "healthIssue", "action": "signup#toggle_no_health_issues"} %>
    Cancer
  <% end %>
</div>
<hr>