<p id="notice"><%= notice %></p>

<p>
  <%= @wkclass.summary %>
</p>

<p>
  <%= "Attendances: #{@wkclass.attendances.count}" %>
  | <%= link_to 'Add attendance', new_attendance_path(:wkclass_id => @wkclass.id) %>
</p>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Product</th>
      <th>Revenue</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wkclass.users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.product_for_class(@wkclass).name %></td>
        <td><%= user.revenue_for_class(@wkclass) %></td>
        <% attendance = user.attendances.where(wkclass_id: @wkclass.id).first %>
        <td><%= link_to 'Remove attendance', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
