<section class="mb-5" id="policy">
	<div class="container" data-controller='package-policy' data-package-policy-default-policy-value="<%= @default_policy %>">
  <h3 class="mb-4 fw-bolder text-center text-uppercase">policies</h3>
        <div class="text-center">
          <button class="btn_policy_type btn btn-filter rounded-pill" data-package-policy-target='btnGroup' data-action="package-policy#showGroup">Group</button>
          <button class="btn_policy_type btn btn-filter rounded-pill px-4" data-package-policy-target='btnPt' data-action="package-policy#showPt">PT</button>     
        </div>
        <div <%= "hidden" unless @default_policy =='group' %> class="policy_content" data-package-policy-target="contentGroup">
          <%= render 'group_package_policy' %>
        </div>
        <div <%= "hidden" unless @default_policy =='pt' %> class = "policy_content" data-package-policy-target="contentPt">
          <%= render 'pt_package_policy' %>
        </div>
			</div>
		</div>
	</div>
</section>


