<% if @achievements.present? || @main_challenge_selected %>   
  <%= render partial: 'achievement_heading' %>
  <%= turbo_frame_tag 'achievement_chart' do %>
    <% unless @main_challenge_selected %>
      <%= render partial: 'achievement_chart' %>
      <%= render partial: 'achievement_table' %>
    <% end %>
    <%= render partial: 'achievement_league' %>
  <% end %>
<% else %>
  <div class="container">
    <h6>Not signed up for a challenge yet?</h6>
    <p>Speak to a coach at The Space to get started</p>
  </div>
<% end %>