    <section id="demo" class="py-15 py-xl-20 bg-light">
      <div class="container">
        <div class="row justify-content-center mb-10">
          <div class="col-lg-10 col-xl-8 text-center">
            <h2 class="display-2 fw-light"><span class="fw-bold">20+ classes</span> & unlimited variations</h2>
            <button class="btn btn-filter rounded-pill current" data-filter="*" data-target="#grid1">all</button>
            <button class="btn btn-filter rounded-pill" data-filter=".window" data-target="#grid1">window</button>
            <button class="btn btn-filter rounded-pill" data-filter=".cellar" data-target="#grid1">cellar</button>
            <button class="btn btn-filter rounded-pill" data-filter=".patio" data-target="#grid1">patio</button>
          </div>
        </div>
  
        <div class="row g-3 g-xl-5" id="grid1" data-aos="fade-up" data-isotope>
  
          <div class="col-6 col-lg-4 window">
            <article class="card card-hover-image-rise">
            <%= link_to "./startup.html" do %>
              <%= image_tag('rent/window/4_Top Banner.jpg', alt: "", class: "card-img-top shadow-sm") %>
            <% end %>
              <!-- <a href=" ./startup.html" title="Startup"><img src="././assets/images/pages/startup.jpg" class="card-img-top shadow-sm"
                  alt="Startup"></a> -->
              <a href="./startup.html" class="card-title text-center mt-1">
                <h4 class="fw-normal fs-6">Rent</h4>
              </a>
            </article>          </div>
  
          <div class="col-6 col-lg-4 window">
            <article class="card card-hover-image-rise">
            <%= link_to "./startup.html" do %>
              <%= image_tag('rent/window/1_Top Banner.jpg', alt: "", class: "card-img-top shadow-sm") %>
            <% end %>
              <!-- <a href=" ./startup.html" title="Startup"><img src="././assets/images/pages/startup.jpg" class="card-img-top shadow-sm"
                  alt="Startup"></a> -->
              <a href="./startup.html" class="card-title text-center mt-1">
                <h4 class="fw-normal fs-6">Rent</h4>
              </a>
            </article>          </div>
  
          <div class="col-6 col-lg-4 cellar">
            <article class="card card-hover-image-rise">
            <%= link_to "./startup.html" do %>
              <%= image_tag('rent/cellar/5_Top Banner_ multipurpose.jpg', alt: "", class: "card-img-top shadow-sm") %>
            <% end %>
              <!-- <a href=" ./startup.html" title="Startup"><img src="././assets/images/pages/startup.jpg" class="card-img-top shadow-sm"
                  alt="Startup"></a> -->
              <a href="./startup.html" class="card-title text-center mt-1">
                <h4 class="fw-normal fs-6">Rent</h4>
              </a>
            </article>          </div>
  
          <div class="col-6 col-lg-4 cellar">
            <article class="card card-hover-image-rise">
            <%= link_to "./startup.html" do %>
              <%= image_tag('rent/cellar/1_Top Banner_ Large Pillarless.jpg', alt: "", class: "card-img-top shadow-sm") %>
            <% end %>
              <!-- <a href=" ./startup.html" title="Startup"><img src="././assets/images/pages/startup.jpg" class="card-img-top shadow-sm"
                  alt="Startup"></a> -->
              <a href="./startup.html" class="card-title text-center mt-1">
                <h4 class="fw-normal fs-6">Rent</h4>
              </a>
            </article>          </div>
  
            <div class="col-6 col-lg-4 patio">
              <article class="card card-hover-image-rise">
              <%= link_to "./startup.html" do %>
                <%= image_tag('rent/patio/6_Top Banner_Lush Green Space.jpg', alt: "", class: "card-img-top shadow-sm") %>
              <% end %>
                <!-- <a href=" ./startup.html" title="Startup"><img src="././assets/images/pages/startup.jpg" class="card-img-top shadow-sm"
                    alt="Startup"></a> -->
                <a href="./startup.html" class="card-title text-center mt-1">
                  <h4 class="fw-normal fs-6">Rent</h4>
                </a>
              </article>          </div>
  
              <div class="col-6 col-lg-4 patio">
                <article class="card card-hover-image-rise">
                <%= link_to "./startup.html" do %>
                  <%= image_tag('rent/patio/4_Bottom Banner.jpg', alt: "", class: "card-img-top shadow-sm") %>
                <% end %>
                  <!-- <a href=" ./startup.html" title="Startup"><img src="././assets/images/pages/startup.jpg" class="card-img-top shadow-sm"
                      alt="Startup"></a> -->
                  <a href="./startup.html" class="card-title text-center mt-1">
                    <h4 class="fw-normal fs-6">Rent</h4>
                  </a>
                </article>          </div>
        </div>
      </div>
    </section>