<%= form_with(scope: :client, url: signup_path ) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being created:</h2>
      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this account from being created:</h2>
      <ul>
        <% @client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>  

  <div class="field">
    <%= form.label :first_name, class: "form-mandatory" %>
    <%= form.text_field :first_name, class: 'form-control',placeholder: "mandatory" %>
  </div>

  <div class="field">
    <%= form.label :last_name, class: "form-mandatory" %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :email, class: "form-mandatory" %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>


  <div class="field">
    <%= form.label :whatsapp, class: "form-mandatory" %>
    <span class="sub-label">(you will be sent your account password on this number. Only used for important updates on your account, never spam)</span>  
    <div class="d-flex field">
      <%= form.country_select(:whatsapp_country_code, {priority_countries: ["IN", "US", "GB", "DE", "FR", "AE"], sort_provided: false, format: :with_data_attrs}, {class: ' me-2'} ) %>
      <%= form.text_field :whatsapp, class: 'form-control' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <span class="sub-label">helpful if you have a different number for calls than for whatsapp</span>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :instagram %>
    <span class="sub-label">if you are ok with the occasional #hashtag</span>    
    <%= form.text_field :instagram, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Account', class: "btn btn-primary" %>
  </div>
<% end %>

