<section class="overflow-hidden pt-3 pt-xl-4 bg-dark text-white text-center mt-2">    
<div class="container">
<h3>Group Class Timetable</h3>
  <div class="carousel carousel-visible">
    <div
      data-carousel='{"controls":false, "nav": true,"mouseDrag": true, "gutter": 32, "loop": false, "responsive": {"0": {"items": 1}, "600": {"items": 4}, "1080": {"items": 6}, "1800": {"items": 6}}}'>
      <% @entries_hash.each_key do |day| %>
      <div class="d-flex flex-column mb-3">
        <div class="d-flex flex-column mb-3">
          <div class="tt-date-title pt-2 pb-1"><%= day.name.upcase %></div>
          <div class="tt-date pb-2"><%= Date.yesterday.next_occurring(day.name.downcase.to_sym).strftime("%b %e") %></div>
        </div>
        <% @entries_hash[day].each do |entry| %>
          <div class="d-flex flex-column mb-3 border-bottom border-grey border-1">
            <div class="tt-class-title pb-1"><%= entry&.workout.name %></div>

            <% time = entry.table_time&.start %>
            <% time_end = time&.advance(minutes: entry&.duration) %>
            <div class="tt-time"><%= "#{time.strftime("%l.%M")} - #{time_end.strftime("%l.%M")}" %></div>

            <% goal = entry&.goal.blank? ? '-' : entry&.goal %>                 
            <div class="tt-goal pb-3"><%= goal %></div>

            <% level = entry&.level.blank? ? '-' : entry&.level %>                 
            <div class="tt-level"><%= level %></div>
            <div class="tt-studio pb-3"><%= entry&.studio %></div>
          </div>
        <% end %>
      </div>
    <% end %>

    </div>
  </div>
</div>
</section>
