<%= javascript_pack_tag 'timetable-slider', defer:true %>
<section class="overflow-hidden pt-3 pt-xl-4 bg-dark text-white text-center mt-2" id="timetable">    
<div class="container">
<h5 class="text-uppercase fw-bolder">Group Class Timetable</h3>
  <div class="carousel carousel-visible">
    <div class="button-container">
      <% @entries_hash.each_with_index do |(day, _entry), index| %>
        <button class="slider_btn<%=' live' if index == 0%>" data-day=<%= index %> ><%= timetable_day_name(index, day, @tomorrows_day, :short).capitalize %></button>
      <% end %>
    </div>      
    <div class="d-md-flex justify-content-center">
      <% @entries_hash.each_with_index do |(day, _entry), index| %>
      <div class="mb-3 tt-day<%= ' live' if index == 0 %>" id=<%= index %>>
        <div class="d-flex flex-column mb-3">        
          <div class="tt-date-title pt-2 pb-1"><%= timetable_day_name(index, day, @tomorrows_day, :long).capitalize.upcase %></div>
          <div class="tt-date pb-2"><%= Date.yesterday.next_occurring(day.downcase.to_sym).strftime("%b %e") %></div>
        </div>
        <% @entries_hash[day].each do |entry| %>
          <div class="d-flex flex-column mb-3 border-bottom border-grey border-1">
            <div class="tt-title-container">
              <div class="tt-title pb-1"><%= entry&.workout.name %></div>
            </div>

            <% time = entry.table_time&.start %>
            <% time_end = time&.advance(minutes: entry&.duration) %>
            <div class="tt-time"><%= "#{time.strftime("%l.%M")} - #{time_end.strftime("%l.%M")}" %></div>

            <% goal = entry&.goal.blank? ? '-' : entry&.goal %>
            <div class="tt-goal-container">
              <div class="tt-goal"><%= goal %></div>
            </div>                         

            <% level = entry&.level.blank? ? '-' : entry&.level %>                 
            <div class="tt-level"><%= level %></div>
            <div class="tt-studio pb-3"><%= entry&.studio %></div>
          </div>
        <% end %>
      </div>
    <% end %>

    </div>
  </div>
</div>
</section>
