<tr>
  <th><%=time.start.strftime("%l.%M")%></th>
  <% @days.each do |day| %>
    <td>
    <% entry = Entry.where(table_time_id: time.id, table_day_id: day.id).first %>
        <div>
          <div class="Workout-Name" data-toggle="tooltip" title=<%="#{time.start.strftime("%l.%M")}-#{day.name}"%> ><%=entry&.workout%></div>
          <div class="Bodypart"><%=entry&.goal%></div>
          <div class="Studio mt-2"><%=entry&.level%></div>
          <div class="Studio mt-2"><%=entry&.studio%></div>
        </div>
    </td>
  <% end %>
</tr>