<div class="offcanvas-wrap group-class">
  <%= render 'public_pages/group_classes/cover_photo' %>
  <%= render 'public_pages/group_classes/tagline1' %>
  <%= render 'public_pages/group_classes/signature_classes' %>
  <%= render 'public_pages/group_classes/tagline2' %>
  <%= render 'public_pages/group_classes/book_trial' %>
  <%= render 'public_pages/group_classes/packages' %>
  <%= render 'public_pages/group_classes/testimonials' %>
  <%= render 'public_pages/group_classes/more_than_gym' %>
  <%= render 'public_pages/group_classes/book_trial' %>  
  <%= render 'timetable_slider' %>
</div>


