<section>
  <div class="px-2" id="shop">
    <div class="col">
        <div class="row justify-content-center mb5">
          <div class="col-lg-10 col-xl-8 text-center">
            <h2 class="display-2 fw-light">Shop</h2>
              <button id="Window_btn" class="btn_product_type btn btn-filter rounded-pill current" onclick="showProduct(event, 'all')" >All</button>
              <button id="Cellar_btn" class="btn_product_type btn btn-filter rounded-pill" onclick="showProduct(event, 'unlimited')">Unlimited</button>
              <button id="Patio_btn" class="btn_product_type btn btn-filter rounded-pill" onclick="showProduct(event, 'fixed')">Fixed</button>
          </div>
        </div>
      <div class="container card bg-opaque-white" data-aos="fade-right">
        <div class="card-body bg-white px-md-2">
          <div class="accordion" id="accordion-1">
            <% @products.each_with_index do |product, index| %>
              <div class="accordion-item product <%=product.css_class%>">
                <div class="accordion-header" id=<%="heading-1-#{index}"%>>
                  <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse"
                    data-bs-target=<%="#collapse-1-#{index}"%> aria-expanded="false" aria-controls=<%="collapse-1-#{index}"%>>
                    <div class="row g-1 g-xl-5 align-items-center">
                      <div class="col-6 col-md-3"><%= product.workout_group.name %></div>
                      <div class="col-6 col-md-3 text-secondary"><%= product.shop_name_classes%></div>
                      <div class="col-6 col-md-3 text-secondary"><%= pluralize(product.validity_length, product.formal_unit)%></div>
                      <div class="col-6 col-md-3">
                        <form action=<%= superadmin_orders_path %> method="POST">
                          <script
                              src="https://checkout.razorpay.com/v1/checkout.js"
                              data-key="<%= "#{Rails.configuration.razorpay[:key_id]}" %>"
                              data-amount="<%= "#{product.base_price.price * 100}" %>"
                              data-name="<%= "The Space" %>"
                              data-description="<%= "#{product.formal_name}" %>"
                              data-image="<%= asset_path 'favicon.ico' %>"
                              data-prefill.email="<%= "#{current_account&.email}" %>"
                              data-theme.color="#1a2b3c"
                          >
                          </script>
                          <input type="hidden" value="<%= "#{product.id}" %>" name="product_id">
                          <input type="hidden" value="<%= "#{product.base_price&.id}" %>" name="price_id">                            
                          <input type="hidden" value="<%= "#{current_account&.id}" %>" name="account_id">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div id=<%="collapse-1-#{index}"%> class="accordion-collapse collapse" aria-labelledby=<%="heading-1-#{index}"%>
                  data-bs-parent="#accordion-1">
                  <div class="accordion-body">
                    <p class="text-secondary"><%= product.workout_group.name %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <script>
	function showProduct(evt, productType) {

	  var i, product, product_type_btns, display_var;

    display_var = "none";
    if (productType == 'all') {
      display_var = "block";
    }

	  // Get all elements with class= "product" and hide them 
	  product = document.getElementsByClassName("product");
	  for (i = 0; i < product.length; i++) {
    product[i].style.display = display_var;
	  }

	  // Get all elements with class="btn_product_type" and remove the class "active"
	  product_type_btns = document.getElementsByClassName("btn_product_type");
	  for (i = 0; i < product_type_btns.length; i++) {
		product_type_btns[i].className = product_type_btns[i].className.replace(" current", "");
	  }

  	// Get all elements with class= "productType" and show them
	  selected_products = document.getElementsByClassName(productType);
	  for (i = 0; i < selected_products.length; i++) {
		selected_products[i].style.display = "block";
	  }  

	  // add an "active" class to the button that opened the tab
		  evt.currentTarget.className += " current";

  	  // Click on option wanted to be visible as default
  	  // document.getElementById("default"+featureName).click();
	}
  </script>




