  <div class="offcanvas-wrap">

     <section class="cover overflow-hidden inverted bg-black">
      <div class="d-flex flex-column min-vh-75 container py-10 level-1">
        <div class="row justify-content-center my-auto">
          <div class="col-md-8 text-center">
            <%= link_to "https://wa.me/919619348427", target: "_blank", class: "position-fixed float" do %>
              <%= image_tag('whatsapp-50.png', alt: "Whatsapp call", class: "") %>
            <% end %>
            <h1 class="display-2 lh-sm fw-bold">Strength</h1>
            <h1 class="eyebrow text-secondary">Inside & Out</h1>
            <div class="d-flex flex-column">
              <div> <%= link_to "Join Now!", signup_path, class: "my-2 btn btn-outline-white rounded-pill" %> </div>
              <%# method: :get or 'data-turbolinks': false needed otherwise link to different section same page doesn't happen :/ %>
              <div> <%= link_to "Services", '#services', class: "btn btn-outline-white rounded-pill", 'data-turbolinks': false %> </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col">
            <small class="text-secondary" style="text-transform: uppercase;">
              Personal Training | Group Classes | Online Training 
            </small>
          </div>
        </div>
      </div>
      <!--figure class="background background-overlay" style="background-image: url(<%= asset_path 'home/stock1.jpg' %>)"
      data-top-top="transform: scale(1);" data-top-bottom="transform: scale(1.1);"></figure-->
    </section>

    <%= render 'tagline' %>
    <%= render 'services' %>
    <%= render 'icons' %>  
    <%= render 'timetable_slider' %>
    <%#= render 'product_carousel_unused' %>
    <%#= render 'faq_unused' %>
    <%#= render 'isotope_unused' %>
    <%#= render 'icons' %>

  </div>


