<div class="offcanvas-wrap">
  <%= render 'cover_picture' %>
  <%= render 'tagline_home' %>
  <%= render 'services' %>
  <%= render 'reviews' %>
  <%= render 'instagram' %>
  <%= render 'timetable_slider' %>
  <%#= render 'public_pages/unused/product_carousel_unused' %>
  <%#= render 'public_pages/unused/isotope_unused' %>
</div>


