<div class="offcanvas-wrap mb-2">
  <section class="bg-black inverted overflow-hidden">
    <div class="container py-20 d-flex flex-column min-vh-100 foreground">
      <div class="row my-auto justify-content-center">
        <div class="col-lg-6 text-center" data-center-center="transform: translateY(0%);"
          data-top-bottom="transform: translateY(10%);">
          <!-- <span class="badge bg-opaque-red rounded-pill text-red mb-4">Cube 2.0.0</span> -->
          <%= image_tag('SpaceLogo.png', alt: "logo") %>
          <h1 class="display-3 text-shadow"><span data-typed='{"strings": ["Fitness Just Got Fun"]}'></span></h1>
        </div>
      </div>
    </div>
    <figure class="background background-gradient-vertical" data-aos="zoom-out" data-aos-delay="400">
      <%= image_tag('cube/blocks/group.jpg', alt: "",
                    class: "w-40 shadow position-absolute top-10 end-70",
                    data: { 'center-top': "transform: translateY(0%);", 'top-bottom': "transform: translateY(-80%);" }) %>
      <!-- <img class="w-40 shadow position-absolute top-10 end-70" src="./assets/images/blocks/block-1.jpg" alt=""
        data-bottom-top="transform: translateY(0%);" data-top-bottom="transform: translateY(-80%);"> -->

      <%= image_tag('cube/blocks/group.jpg', alt: "",
                    class: "w-40 shadow position-absolute top-80 start-20",
                    data: { 'bottom-top': "transform: translateY(0%);", 'top-bottom': "transform: translateY(-50%);" }) %>
      <!-- <img class="w-40 shadow position-absolute top-80 start-20" src="./assets/images/blocks/block-2.jpg" alt=""
        data-bottom-top="transform: translateY(0%);" data-top-bottom="transform: translateY(-50%);"> -->

      <%= image_tag('cube/blocks/group.jpg', alt: "",
                    class: "w-40 shadow position-absolute top-0 start-60",
                    data: { 'bottom-top': "transform: translateY(0%);", 'top-bottom': "transform: translateY(-50%);" }) %>
      <!-- <img class="w-40 shadow position-absolute top-0 start-60" src="./assets/images/blocks/block-3.jpg" alt=""
        data-bottom-top="transform: translateY(0%);" data-top-bottom="transform: translateY(-50%);"> -->

      <%= image_tag('cube/blocks/group.jpg', alt: "",
                    class: "w-40 shadow position-absolute top-60 start-80",
                    data: { 'bottom-top': "transform: translateY(0%);", 'top-bottom': "transform: translateY(-120%);" }) %>
      <!-- <img class="w-40 shadow position-absolute top-60 start-80" src="./assets/images/blocks/block-4.jpg" alt=""
        data-bottom-top="transform: translateY(0%);" data-top-bottom="transform: translateY(-120%);"> -->

      <%= image_tag('cube/blocks/group.jpg', alt: "",
                    class: "w-40 shadow position-absolute top-100 start-50",
                    data: { 'bottom-top': "transform: translateY(0%);", 'top-bottom': "transform: translateY(-60%);" }) %>
      <!-- <img class="w-40 shadow position-absolute top-100 start-50" src="./assets/images/blocks/block-5.jpg" alt=""
        data-bottom-top="transform: translateY(0%);" data-top-bottom="transform: translateY(-60%);"> -->

      <%= image_tag('cube/blocks/group.jpg', alt: "",
                    class: "w-40 shadow position-absolute top-60 end-90",
                    data: { 'bottom-top': "transform: translateY(0%);", 'top-bottom': "transform: translateY(-80%);" }) %>
      <!-- <img class="w-40 shadow position-absolute top-60 end-90" src="./assets/images/blocks/block-6.jpg" alt=""
        data-bottom-top="transform: translateY(0%);" data-top-bottom="transform: translateY(-80%);"> -->
    </figure>
    <span class="scroll-down"></span>
  </section>

  <section id="demo" class="py-15 py-xl-20 bg-light">
    <div class="container">
      <div class="row justify-content-center mb-10">
        <div class="col-lg-10 col-xl-8 text-center">
          <h2 class="display-2 fw-light"><span class="fw-bold">50+ prebuilt pages</span> & unlimited variations</h2>
          <button class="btn btn-filter rounded-pill current" data-filter="*" data-target="#grid1">all</button>
          <button class="btn btn-filter rounded-pill" data-filter=".landing" data-target="#grid1">landings</button>
          <button class="btn btn-filter rounded-pill" data-filter=".page" data-target="#grid1">pages</button>
          <button class="btn btn-filter rounded-pill" data-filter=".account" data-target="#grid1">account</button>
          <button class="btn btn-filter rounded-pill" data-filter=".shop" data-target="#grid1">shop</button>
        </div>
      </div>

      <div class="row g-3 g-xl-5" id="grid1" data-aos="fade-up" data-isotope>

        <div class="col-6 col-lg-4 landing">
          <article class="card card-hover-image-rise">
          <%= link_to "./startup.html" do %>
            <%= image_tag('cube/blocks/course-2.jpg', alt: "", class: "card-img-top shadow-sm") %>
          <% end %>
            <!-- <a href=" ./startup.html" title="Startup"><img src="././assets/images/pages/startup.jpg" class="card-img-top shadow-sm"
                alt="Startup"></a> -->
            <a href="./startup.html" class="card-title text-center mt-1">
              <h4 class="fw-normal fs-6">Rent</h4>
            </a>
          </article>          </div>

        <div class="col-6 col-lg-4 landing">
          <article class="card card-hover-image-rise">
          <%= link_to "./startup.html" do %>
            <%= image_tag('cube/blocks/course-2.jpg', alt: "", class: "card-img-top shadow-sm") %>
          <% end %>
            <!-- <a href=" ./startup.html" title="Startup"><img src="././assets/images/pages/startup.jpg" class="card-img-top shadow-sm"
                alt="Startup"></a> -->
            <a href="./startup.html" class="card-title text-center mt-1">
              <h4 class="fw-normal fs-6">Rent</h4>
            </a>
          </article>          </div>

        <div class="col-6 col-lg-4 page">
          <article class="card card-hover-image-rise">
          <%= link_to "./startup.html" do %>
            <%= image_tag('cube/blocks/course-2.jpg', alt: "", class: "card-img-top shadow-sm") %>
          <% end %>
            <!-- <a href=" ./startup.html" title="Startup"><img src="././assets/images/pages/startup.jpg" class="card-img-top shadow-sm"
                alt="Startup"></a> -->
            <a href="./startup.html" class="card-title text-center mt-1">
              <h4 class="fw-normal fs-6">Rent</h4>
            </a>
          </article>          </div>

        <div class="col-6 col-lg-4 page">
          <article class="card card-hover-image-rise">
          <%= link_to "./startup.html" do %>
            <%= image_tag('cube/blocks/course-2.jpg', alt: "", class: "card-img-top shadow-sm") %>
          <% end %>
            <!-- <a href=" ./startup.html" title="Startup"><img src="././assets/images/pages/startup.jpg" class="card-img-top shadow-sm"
                alt="Startup"></a> -->
            <a href="./startup.html" class="card-title text-center mt-1">
              <h4 class="fw-normal fs-6">Rent</h4>
            </a>
          </article>          </div>

          <div class="col-6 col-lg-4 account">
            <article class="card card-hover-image-rise">
            <%= link_to "./startup.html" do %>
              <%= image_tag('cube/blocks/course-2.jpg', alt: "", class: "card-img-top shadow-sm") %>
            <% end %>
              <!-- <a href=" ./startup.html" title="Startup"><img src="././assets/images/pages/startup.jpg" class="card-img-top shadow-sm"
                  alt="Startup"></a> -->
              <a href="./startup.html" class="card-title text-center mt-1">
                <h4 class="fw-normal fs-6">Rent</h4>
              </a>
            </article>          </div>

            <div class="col-6 col-lg-4 account">
              <article class="card card-hover-image-rise">
              <%= link_to "./startup.html" do %>
                <%= image_tag('cube/blocks/course-2.jpg', alt: "", class: "card-img-top shadow-sm") %>
              <% end %>
                <!-- <a href=" ./startup.html" title="Startup"><img src="././assets/images/pages/startup.jpg" class="card-img-top shadow-sm"
                    alt="Startup"></a> -->
                <a href="./startup.html" class="card-title text-center mt-1">
                  <h4 class="fw-normal fs-6">Rent</h4>
                </a>
              </article>          </div>

              <div class="col-6 col-lg-4 shop">
                <article class="card card-hover-image-rise">
                <%= link_to "./startup.html" do %>
                  <%= image_tag('cube/blocks/course-2.jpg', alt: "", class: "card-img-top shadow-sm") %>
                <% end %>
                  <!-- <a href=" ./startup.html" title="Startup"><img src="././assets/images/pages/startup.jpg" class="card-img-top shadow-sm"
                      alt="Startup"></a> -->
                  <a href="./startup.html" class="card-title text-center mt-1">
                    <h4 class="fw-normal fs-6">Rent</h4>
                  </a>
                </article>          </div>

                <div class="col-6 col-lg-4 shop">
                  <article class="card card-hover-image-rise">
                  <%= link_to "./startup.html" do %>
                    <%= image_tag('cube/blocks/course-2.jpg', alt: "", class: "card-img-top shadow-sm") %>
                  <% end %>
                    <!-- <a href=" ./startup.html" title="Startup"><img src="././assets/images/pages/startup.jpg" class="card-img-top shadow-sm"
                        alt="Startup"></a> -->
                    <a href="./startup.html" class="card-title text-center mt-1">
                      <h4 class="fw-normal fs-6">Rent</h4>
                    </a>
                  </article>          </div>
      </div>
    </div>
  </section>

  <section class="py-15 py-xl-20">
    <div class="container">
      <div class="row mb-8">
        <div class="col-lg-10">
          <h2>Cube is packed with <span class="d-lg-block">features you' ll love.</span>
          </h2>
        </div>
      </div>
      <div class="row g-1 g-lg-3">
        <div class="col-auto">
          <div class="d-flex align-items-center border rounded-pill pe-4">
            <%= image_tag 'cube/logo/bootstrap.svg', alt: "Bootstrap", class: "me-3" %>
            <!-- <img src="./assets/images/logo/bootstrap.svg" class="me-3" alt="Bootstrap"> -->
            Built on Bootstrap 5
          </div>
        </div>
        <div class="col-auto">
          <div class="d-flex align-items-center border rounded-pill pe-4">
            <%= image_tag 'cube/logo/js.svg', alt: "Javascript", class: "me-3" %>
            <!-- <img src="./assets/images/logo/js.svg" class="me-3" alt="Javascript"> -->
            Vanilla Javascript
          </div>
        </div>
        <div class="col-auto">
          <div class="d-flex align-items-center border rounded-pill pe-4">
            <%= image_tag 'cube/logo/webpack.svg', alt: "Webpack", class: "me-3" %>
            <!-- <img src="./assets/images/logo/webpack.svg" class="me-3" alt="Webpack"> -->
            Webpack Setup
          </div>
        </div>
        <div class="col-auto">
          <div class="d-flex align-items-center border rounded-pill pe-4">
            <%= image_tag 'cube/logo/w3c.svg', alt: "W3C", class: "me-3" %>
            <!-- <img src="./assets/images/logo/w3c.svg" class="me-3" alt="W3C"> -->
            W3C Valid HTML Code
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-15 py-xl-20 overflow-hidden border-top">
    <div class="container">
      <div class="row justify-content-between align-items-center gutter-3 gutter-lg-5">
        <div class="col-lg-5">
          <div class="row mb-6">
            <div class="col">
              <h2><a href="https://themes.getbootstrap.com/product/cube-multipurpose-template-ui-kit/"
                  class="text-primary underline">Buy now</a> and get one new
                demo every month.</h2>
              <div class="mt-5">
                <span class="eyebrow mb-2 text-muted">Next Demo will be realeased in:</span>
                <div class="countdown" data-countdown="Jul 25, 2021 21:00:00"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="position-relative">
              <%= image_tag('cube/blocks/course-2.jpg', alt: "",
                             class: "img-fluid shadow-lg level-1",
                             data: {'aos': "fade-up", 'aos-delay': "800"}) %>
            <!-- <img class="img-fluid shadow-lg level-1" src="./assets/images/pages/shop.jpg" alt="Image"
              data-aos="fade-up" data-aos-delay="800"> -->
              <%= image_tag('cube/blocks/course-2.jpg', alt: "",
                             class: "img-fluid shadow-lg position-absolute level-2 start-10 top-20",
                             data: {'aos': "fade-up", 'aos-delay': "400"}) %>
              <%= image_tag('cube/blocks/course-2.jpg', alt: "",
                             class: "img-fluid shadow-lg position-absolute level-3 start-20 bottom-20",
                             data: {'aos': "fade-up"}) %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-15 py-xl-20 bg-black inverted">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="accordion accordion-minimal accordion-highlight" id="accordion-1">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-1-1">
                <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                  Can I use only static HTML files ?
                </button>
              </h2>
              <div id="collapse-1-1" class="accordion-collapse collapse" aria-labelledby="heading-1-1"
                data-bs-parent="#accordion-1">
                <div class="accordion-body">
                  <p class="text-secondary">
                    <span class="fw-bold text-white">Yes.</span> The gulp workflow can be bypassed all together if you
                    prefer to simply edit the static HTML and CSS files.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-1-2">
                <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
                  Are images and videos included in the package?
                </button>
              </h2>
              <div id="collapse-1-2" class="accordion-collapse collapse" aria-labelledby="heading-1-2"
                data-bs-parent="#accordion-1">
                <div class="accordion-body">
                  <p class="text-secondary">
                    <span class="fw-bold text-white">Yes.</span> All images you see in the demo are included in the
                    download package.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-1-3">
                <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-1-3" aria-expanded="false" aria-controls="collapse-1-3">
                  How can I request suport?
                </button>
              </h2>
              <div id="collapse-1-3" class="accordion-collapse collapse" aria-labelledby="heading-1-3"
                data-bs-parent="#accordion-1">
                <div class="accordion-body">
                  <p class="text-secondary">Our support team is standing by to offer quick and professional one-on-one
                    support to all of our customers. </p>
                  <a href="mailto:support@webuildthemes.com"
                    class="btn btn-sm btn-with-icon btn-primary rounded-pill">Get in touch <i
                      class="icon-send"></i></a>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-1-4">
                <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-1-4" aria-expanded="false" aria-controls="collapse-1-4">
                  Do I get free updates?
                </button>
              </h2>
              <div id="collapse-1-4" class="accordion-collapse collapse" aria-labelledby="heading-1-4"
                data-bs-parent="#accordion-1">
                <div class="accordion-body">
                  <p class="text-secondary">
                    <span class="fw-bold text-white">Yes.</span> All of our customers take advantage of lifetime
                    updates.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <%= image_tag 'cube/blocks/course-2.jpg', class: "img-fluid", alt: "Figure" %>
          <!-- <img class="img-fluid" src="./assets/images/svg/faq.svg" alt="Figure"> -->
        </div>
      </div>
    </div>
  </section>
</div>