<p id="notice"><%= notice %></p>

<h2>Purchases</h2>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Product</th>
      <th>Payment</th>
      <th>Dop</th>
      <th>Attendances</th>
      <th>Status</th>
      <th>Payment mode</th>
      <th>Invoice</th>
      <th>Note</th>
      <th>A&R</th>
      <th>A&R payment</th>
      <th>A&R date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.client.name %></td>
        <td><%= purchase.product.name %></td>
        <td><%= purchase.payment %></td>
        <td><%= purchase.dop %></td>
        <td><%= purchase.attendances.count %></td>
        <td><%= purchase.status %></td>
        <td><%= purchase.payment_mode %></td>
        <td><%= purchase.invoice %></td>
        <td><%= purchase.note %></td>
        <td><%= purchase.adjust_restart %></td>
        <td><%= purchase.ar_payment %></td>
        <td><%= purchase.ar_date %></td>
        <td><%= link_to 'Show', purchase %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
