<h5><%= link_to @purchase.client.name, @purchase.client, class: "text-decoration-none" %>
  <div class = "mt-1 mb-3"><%= link_to @purchase.product.name, @purchase.product, class: "text-decoration-none" %></div>
</h5>

<div id="purchase-table" class="container px-1 mb-2 margin-override">
  <%= render partial: 'purchase_table' %>
</div>

<div class="mb-2">
  <%= link_to 'add freeze', new_freeze_path(purchase: @purchase.id) %> |
  <%= link_to 'add adjustment', new_adjustment_path(purchase: @purchase.id) %> |
  <%= link_to 'edit purchase', edit_purchase_path(@purchase) %> |
  <%= link_to 'back to purchases', purchases_path %>
</div>

<div id="purchase_attendance_table" class="container px-1 mt-4 mb-1 margin-override">
  <%= render partial: 'purchase_attendance_table' %>
</div>
