<table class="table table-secondary table-striped caption-top">
  <caption></caption>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <th scope="row"><%= expense.item %></th>
        <td><%= number_with_delimiter(expense.amount) %></td>
        <td><%= expense.date.strftime '%b %y' %></td>
        <td><%= link_to expense.workout_group.name, admin_workout_group_path(expense.workout_group), class: 'like_button' %></td>
        <td><%= link_to image_tag('edit.png', class: "grid_table_icon"), edit_superadmin_expense_path(expense) %></td>
        <td><%= link_to image_tag('delete.png', class: "grid_table_icon"), superadmin_expense_path(expense), method: :delete, data: { confirm: 'Expense will be deleted. Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <th scope="row">Total</th>
      <td colspan="2" class="fw-bold"><%= number_to_currency( @expenses.sum(:amount), precision: 0, unit: 'Rs. ') %></td>
    </tr>
  </tbody>
</table>
