<div id="rates_table" class="container px-1">
  <h4>Expenses <%= link_to image_tag('add.png', class: 'button_icon'), new_superadmin_expense_path %></h4>
</div>
<%= render partial: 'filter_form' %>
<% if logged_in_as?('superadmin') %>
  <%= render partial: 'download' %>
<% end %>
<%= turbo_frame_tag 'expenses' do %>
  <%= render partial: 'expenses_table' %>
<% end %>
