<h2>Expenses <%= link_to image_tag('add.png', class: "button_icon"), new_superadmin_expense_path, class: "icon-container" %></h2>
<form action=<%= "/superadmin/expenses/filter" %> method="GET">
  <select name="revenue_month" onchange="this.form.submit()" class= "sort">
    <%= options_for_select @months, session[:revenue_month] %>
  </select>
</form>
<% if logged_in_as?('superadmin') %>
<p>
  Download:
  <%= link_to "Full Data", superadmin_expenses_path(format: "csv", export_all: true) %>
</p>
<% end %>
<div id="expenses_table" class="container px-1 mb-5 margin-override">
  <%= render partial: 'expenses_table' %>
</div>
