<div id="body_markers-filter" class="container px-1 my-3">
  <div class="container search">
    <% unless @client_logging %>
      <%= form_with(url: body_marker_filter_path, method: "get", class: "form-class", data: {turbo_frame: "body_markers"}) do %>
        <fieldset class="my-2">
        <label class='d-inline'>client:</label>
          <select name="client_select" class= "sort" onchange="this.form.requestSubmit()">
            <%= options_for_select @client_filters, session[:client_select] %>
          </select>
        </fieldset>      
      <% end %>
    <% end %>
    <%= form_with(url: body_marker_filter_path, method: "get", class: "form-class", data: {turbo_frame: "body_markers"}) do %>
      <fieldset class="">
      <label class='d-inline'>marker:</label>
        <select name="body_marker_select" class= "sort" onchange="this.form.requestSubmit()">
          <%= options_for_select @marker_filters, session[:body_marker_select] %>
        </select>
      </fieldset>      
    <% end %>
    <hr class = "my-2"></hr>    
    <%= render partial: 'sort_selection' %>
  </div>
  <hr class = "my-2"></hr>
</div>
