<%= form_with(model: [:shared, body_marker], class: 'admin_form pt-4 my-2') do |form| %>
  <%= turbo_frame_tag 'errors' do %>
    <% if body_marker.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(body_marker.errors.count, "error") %> prohibited this body marker from being saved:</h2>

        <ul>
          <% body_marker.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <% if @client_logging %>
    <%= form.hidden_field :client_id, value: @client.id %>
  <% else %>
    <div class="field">
      <%= form.label :client_id %>
      <%= form.collection_select :client_id, @client_options, :id, :name  %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bodypart %>
    <%= form.select :bodypart, @body_markers %>
  </div>

  <div class="field">
    <%= form.label :measurement, 'Measurement (inches)' %>
    <%= form.number_field :measurement, step: 0.01, in: 0..300 %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <div class="cancel">
    <%= link_to image_tag('delete.png', class: "table_icon"), @form_cancel_link %>
  </div>    
<% end %>
