<%= form_with(model: [:admin, instructor]) do |form| %>
  <% if instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>
      <ul>
        <% instructor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :whatsapp_raw, 'Whatsapp' %>
    <div class="d-flex field">
      <%= form.country_select(:whatsapp_country_code, {priority_countries: ["IN", "US", "GB"], sort_provided: false, format: :with_data_attrs}, {class: ' me-2'} ) %>
      <%= form.text_field :whatsapp_raw, class: 'form-control' %>
    </div>
  </div>  

  <div class="field mb-3">
    <%= form.label :current do %>
      <%= form.check_box :current, { checked: @instructor.new_record? || form.object.current? } %>
      Instructor is Active
    <% end %>
  </div>  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
