<div class="row">
  <%=content_tag(:div, instructor.name, class: ["column col-1x",("fw-light" unless instructor.current?)].compact.join(' '))%>
  <% if logged_in_as?('superadmin') %>
    <div class="column col-0.5x"><%= instructor.wkclasses.size %></div>
  <% end %>            
  <div class="column col-1x nomobile"><%= instructor.email %></div>
  <div class="column col-1x"><%= number(instructor.whatsapp, instructor.whatsapp) %></div>        
  <div class="column"><%= link_to image_tag('attendances.png', class: ["table_icon",("active-workout" unless instructor.current?)].compact.join(' ')), admin_instructor_path(instructor, current: !instructor.current?), data: {turbo_method: :patch} %></div>
  <div class="column"><%= link_to image_tag('edit.png', class: "table_icon"), edit_admin_instructor_path(instructor), data: {turbo: false} %></div>
  <% if logged_in_as?('superadmin') %>   
    <div class="column">
      <% if instructor.account.nil? %>
        <%= link_to image_tag('add.png', class: "table_icon"), admin_accounts_path(email: instructor.email, id: instructor.id, ac_type: 'instructor'), data: {turbo_method: :post, confirm: 'An account for this instructor will be created. Are you sure?' }  %>
      <% end %>
    </div>
  <% end %>   
</div>

