<div class="row">
  <%= content_tag(:div, class: ["column col-1x",("fw-light" unless instructor.current?)].compact.join(' ')) do %>
    <% if @superadmin %>
      <%= link_to instructor.name, instructor_path(instructor), class: 'like_button', data: {turbo: false}%>
    <% else %>
      <%= instructor.name %>
    <% end %>            
  <% end %>            
  <% if logged_in_as?('superadmin') %>
    <div class="column col-0.5x"><%= instructor.wkclasses.size %></div>
  <% end %>            
  <div class="column col-1x nomobile"><%= instructor.email %></div>
  <div class="column col-1x"><%= number(instructor.whatsapp, instructor.whatsapp) %></div>        
  <div class="column"><%= link_to image_tag('bookings.png', class: ["table_icon",("greyed-out" unless instructor.current?)].compact.join(' ')), instructor_path(instructor, current: !instructor.current?), data: {turbo_method: :patch} %></div>
  <div class="column" data-toggle="tooltip" data-placement="top" title="commission: the instructor can see a log of classes on their dashboard for which they receive a payment">
    <%= link_to image_tag('commission.png', class: ["table_icon",("greyed-out" unless instructor.commission?)].compact.join(' ')), instructor_path(instructor, commission: !instructor.commission?), data: {turbo_method: :patch} %>
  </div>
  <div class="column" data-toggle="tooltip" data-placement="top" title="employee: the instructor can see the group classes log and update bookings">
    <%= link_to image_tag('employee.png', class: ["table_icon",("greyed-out" unless instructor.employee?)].compact.join(' ')), instructor_path(instructor, employee: !instructor.employee?), data: {turbo_method: :patch} %>
  </div>
  <div class="column"><%= link_to image_tag('edit.png', class: "table_icon"), edit_instructor_path(instructor), data: {turbo: false} %></div>
  <% if logged_in_as?('superadmin') %>   
    <div class="column" data-toggle="tooltip" data-placement="top" title="Create an account for this instructor. They will be sent a whatsapp with password.">
      <% if instructor.account.nil? && instructor.current? && !instructor.no_instructor %>
        <%= link_to image_tag('add.png', class: "table_icon"), employee_accounts_path(email: instructor.email, id: instructor.id, role_id: Role.find_by(name: 'instructor').id, link_from: 'instructors_index'), data: {turbo_method: :post, confirm: 'An account for this instructor will be created. Are you sure?' }  %>
      <% end %>
    </div>
  <% end %>   
</div>

