<div class="container px-0 mt-3">
  <h6 class="px-1 mb-1">Classes (with no additional payment)</h6>
  <% if @wkclasses_with_no_instructor_expense.empty? %>
    <p class= "fst-italic px-1">None</p>
  <% else %>
    <div class="admin-table striped">
      <% @wkclasses_with_no_instructor_expense.each_with_index do |wkclass, index| %>
        <% wkclass_decorator = decorate(wkclass) %>                  
        <div class="row">
          <div class="column"><%= index + 1 %></div>
          <div class="column col-2x"><%= wkclass_decorator.summary %></div>
          <div class="column col-2x"><%= wkclass_decorator.pt_client_name %></div>
          <div class="column col-2x"><%= wkclass_decorator.pt_status %></div>
          <div class="column col-2x"><%= wkclass_decorator.rate_formatted %></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>