<%= turbo_frame_tag 'commissions' do %>
  <div class="container px-1">
    <h4><%="Instructor #{@instructor.name}" %></h4>
    <%= render 'sort_months' %> 
  </div>

  <div id="instructor-class-with-payments" class="container px-0">
    <div class="mb-1">Class Payments
      <%= render 'sort_options' %>
    </div>
    <div class="admin-table striped">
      <% @wkclasses_with_instructor_expense.each_with_index do |wkclass, index| %>
        <% wkclass_size = wkclass.attendances.size %>
        <div class="row">
          <div class="column"><%= index + 1 %></div>
          <div class="column col-2x"><%= wkclass.summary %></div>
          <div class="column col-2x"><%= wkclass.attendances&.first&.client&.name if wkclass_size == 1 %></div>
          <div class="column col-1x"><%= wkclass.attendances&.first&.status if wkclass_size == 1 %></div>
          <div class="column col-1x"><%= number_with_delimiter(wkclass.rate) %></div>
        </div>
      <% end %>
        <div class="row">
          <div class="column">Total</div>
          <div class="column col-1x"><%= rupees(@total_instructor_cost_for_period) %></div>
          </div>   
    </div>
  </div>

  <% if @show_classes_with_no_expense %>
    <div id="instructor-class-without-payments" class="container px-0 mt-5">
      <div class="mb-1">Classes (with no additional payment)</div>
      <div class="admin-table striped">
        <% @wkclasses_with_no_instructor_expense.each_with_index do |wkclass, index| %>
          <% wkclass_size = wkclass.attendances.size %>
          <div class="row">
            <div class="column"><%= index + 1 %></div>
            <div class="column col-2x"><%= wkclass.summary %></div>
            <div class="column col-2x"><%= wkclass.attendances&.first&.client&.name if wkclass_size == 1 %></div>
            <div class="column col-1x"><%= wkclass.attendances&.first&.status if wkclass_size == 1 %></div>
            <div class="column col-1x"><%= number_with_delimiter(wkclass.rate) %></div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>