<%= turbo_frame_tag 'commissions' do %>
  <div class="container px-1">
    <h4><%="Instructor #{@instructor.name}" %></h4>
    <%= render 'sort_months' %> 
    <%= render 'sort_options' %>
  </div>
  <%= render 'wkclasses_with_instructor_expense' %>
  <%= render 'wkclasses_no_instructor_expense' %>
<% end %>