<%= turbo_frame_tag dom_id(@declaration) do %>
  <div class="canvas gray100-canvas embossed mt-2 px-2">
    <% if @client.declaration %>
      <h5 class='fw-bolder text-uppercase mb-1'><%=@client.name%></h5>
      <p class='fst-italic'>submitted on <%=@declaration.created_at.strftime('%d %b %Y')%></p>
      <p class='fst-italic'>you have agreed to inform the Space of any changes in these circumstance before participating in further activities at The Space</p>
      <hr>
      <%= render 'shared/declarations/show_partials/personal_details' %>
      <%= render 'shared/declarations/show_partials/activity_ready' %>
      <h5 class='text-uppercase'>health issues</h5>
      <p>This information will only be used for the purpose of helping you to modify or avoid exercises that might not be suitable or safe for you. If any of the below applies to you please consult your healthcare provider prior to participating in activities at The Space.<p>
      <p class='fst-italic mb-1'>Tick if any of the following apply to you:</p>
      <%= render 'shared/declarations/show_partials/musculoskeletal' %>
      <%= render 'shared/declarations/show_partials/systemic' %>
      <%= render 'shared/declarations/show_partials/psychological' %>
      <%= render 'shared/declarations/show_partials/lifestyle' %>
      <%= render 'shared/declarations/show_partials/medication' %>
      <%= render 'shared/declarations/show_partials/none_apply' %>
      <%= render 'shared/declarations/show_partials/emergency_contact' %>
      <%= render 'shared/declarations/show_partials/agreement' %>
    <% else %>
      <p>not yet declared</p>
    <% end %>
    <% unless @client_view %>      
      <div class="ps-1 pb-1 mt-4">
        <%= link_to image_tag('add.png', class: 'table_icon scale_up'), new_client_declaration_declaration_update_path(client_id: params[:client_id] || params[:id]), data: {turbo_frame: "new_declaration_update_#{@declaration.id}"} %>      
      </div>
    <% end %>

    <% if @cancel_button %>
      <div class="cancel">
        <%= link_to image_tag('delete.png', class: "table_icon"), @cancel_declaration_button_link %>
      </div>
    <% end %>
  </div>
  <% unless @client_view %>
    <%= turbo_frame_tag "new_declaration_update_#{@declaration.id}" %>
    <%= render 'shared/declaration_updates/index' %>
  <% end %>
<% end %>



