  <table class="table table-secondary table-striped caption-top">
    <caption>Attendances <small><%= "(#{@attendances.size})" %> </small></caption>
    <tbody>
        <% @attendances.each do |attendance| %>
          <tr class="less-padding">
            <td><%= link_to attendance.client.name , admin_client_path(attendance.client), class: "like_button extra_small" %></td>
            <td><%= link_to attendance.product.name, admin_purchase_path(attendance.purchase), class: "like_button extra_small" %></td>
            <% unless logged_in_as?('junioradmin') %>
              <td class="extra_small"><%= number_with_delimiter(attendance.purchase.revenue_for_class(@wkclass)) %></td>
            <% end %>
            <td><%= render 'admin/wkclasses/attendance_form', object: attendance %></td>
            <td><%= link_to image_tag('delete.png', class: "grid_table_icon"), admin_attendance_path(attendance), method: :delete, data: { confirm: 'Attendance will be deleted. Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
  </table>

  <hr>

  <table class="table table-secondary table-striped caption-top">
    <caption>Amnesties <small><%= "(#{@amnesties.size})" %> </small></caption>
    <tbody>
        <% @amnesties.each do |attendance| %>
          <tr class="less-padding">
            <td><%= link_to attendance.client.name , admin_client_path(attendance.client), class: "like_button extra_small" %></td>
            <td><%= link_to attendance.product.name, admin_purchase_path(attendance.purchase), class: "like_button extra_small" %></td>
            <% unless logged_in_as?('junioradmin') %>
              <td class="extra_small"><%= number_with_delimiter(attendance.purchase.revenue_for_class(@wkclass)) %></td>
            <% end %>
            <td><%= render 'admin/wkclasses/attendance_form', object: attendance %></td>
            <td><%= link_to image_tag('delete.png', class: "grid_table_icon"), admin_attendance_path(attendance), method: :delete, data: { confirm: 'Attendance will be deleted. Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
