<div class="page_entries_info px-1">
  <%#= paginate @wkclasses, remote: true %>
  <%#= page_entries_info @wkclasses, entry_name: 'classes' %>
  <%== pagy_nav @pagy %>
</div>

<table class="table table-secondary table-striped caption-top">
  <caption></caption>
  <tbody>
    <% @records.each do |wkclass| %>
    <% physical_attendances = wkclass.physical_attendances.size %>
      <tr>
        <th scope="row"><%= link_to wkclass.table_name, admin_wkclass_path(wkclass), class: "like_button" %></th>
        <td><%= wkclass.date %></td>
        <td><%= wkclass.time %></td>
        <td><%= physical_attendances %> <%= image_tag('reserve.png', class: "header_icon")%></td>
        <td><%= wkclass.max_capacity - physical_attendances %> <%= image_tag('group.png', class: "header_icon")%></td>
        <td class="nomobile"><%= link_to image_tag('edit.png', class: "table_icon"), edit_admin_wkclass_path(wkclass) %></td>
        <% if wkclass.deletable? %>         
          <td class="nomobile"><%= link_to image_tag('delete.png', class: "table_icon"), admin_wkclass_path(wkclass), method: :delete, data: { confirm: 'Class can be deleted as it has no attendances. But are you sure?' } %></td>
        <% else %>
          <td class="nomobile"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>



