<h5 class ="class-attendance-header">  <%= "#{@wkclass.summary}" %>
  <span class="me-2"></span>
  <%= link_to image_tag('add.png', class: "button_icon"), new_admin_attendance_path(:wkclass_id => @wkclass.id), class: "icon-container" %>
</h5>
<%= @wkclass.attendances.confirmed.count %> <%= image_tag('group.png', class: "header_icon")%> |
<%= number_to_currency(@wkclass.revenue, precision: 0, unit: 'Rs. ') %> |
<%= @wkclass.instructor&.name %>
