  <% view_financials = logged_in_as?('admin', 'superadmin') ? true : false %>
  <table class="table table-secondary table-striped">
    <tbody>
      <tr>
        <th class="stripe-override" colspan="5">Attendances <small><%= "(#{@physical_attendances&.size || 0})" %> </small></th>
      </tr>
      <% @physical_attendances.each do |attendance| %>
        <tr class="less-padding">
          <td><%= link_to attendance.client.name , admin_client_path(attendance.client), class: "like_button extra_small" %></td>
          <td><%= link_to attendance.product.name, admin_purchase_path(attendance.purchase), class: "like_button extra_small" %></td>
          <% if view_financials %>
            <td class="adj-line-height"><%= number_with_delimiter(attendance.revenue) %></td>
          <% end %>
          <td><%= render 'admin/wkclasses/attendance_form', object: attendance %></td>
          <% unless logged_in_as?('instructor') %>
            <td><%= link_to image_tag('delete.png', class: "table_icon"), admin_attendance_path(attendance), data: { turbo_method: :delete, turbo_confirm: 'Attendance will be deleted. Are you sure?' } %></td> 
          <% end %>
        </tr>
      <% end %>
      <% unless @ethereal_attendances_no_amnesty.empty? %>
        <tr>
          <th class="stripe-override" colspan="5">No-amnesties <small><%= "(#{@ethereal_attendances_no_amnesty&.size || 0})" %> </small></th>
        </tr>
        <% @ethereal_attendances_no_amnesty.each do |attendance| %>
          <tr class="less-padding">
            <td><%= link_to attendance.client.name , admin_client_path(attendance.client), class: "like_button extra_small" %></td>
            <td><%= link_to attendance.product.name, admin_purchase_path(attendance.purchase), class: "like_button extra_small" %></td>
            <% if view_financials %>
              <td class="extra_small"><%= number_with_delimiter(attendance.revenue) %></td>
            <% end %>
            <td--><%= render 'admin/wkclasses/attendance_form', object: attendance %></td>
            <% unless logged_in_as?('instructor') %>
              <td><%= link_to image_tag('delete.png', class: "table_icon"), admin_attendance_path(attendance), {data: { turbo_method: :delete, turbo_confirm: 'Attendance will be deleted. Are you sure?' }} %></td> 
              <!--td><%#= button_to 'X', admin_attendance_path(attendance), class: "button-image-sub", method: :delete, form: {data: { turbo_confirm: 'Attendance will be deleted. Are you sure?' }} %></td--> 
            <% end %>
          </tr>
        <% end %>
      <% end %>
      <% unless @ethereal_attendances_amnesty.empty? %>
        <tr>
          <th class="stripe-override" colspan="5">Amnesties <small><%= "(#{@ethereal_attendances_amnesty&.size || 0})" %> </small></th>
        </tr>
        <% @ethereal_attendances_amnesty.each do |attendance| %>
          <tr class="less-padding">
            <td><%= link_to attendance.client.name , admin_client_path(attendance.client), class: "like_button extra_small" %></td>
            <td><%= link_to attendance.product.name, admin_purchase_path(attendance.purchase), class: "like_button extra_small" %></td>
            <% if view_financials %>
              <td class="extra_small"><%= number_with_delimiter(attendance.revenue) %></td>
            <% end %>
            <td><%= render 'admin/wkclasses/attendance_form', object: attendance %></td>
            <% unless logged_in_as?('instructor') %>
              <td><%= link_to image_tag('delete.png', class: "table_icon"), admin_attendance_path(attendance), {data: { turbo_method: :delete,  turbo_confirm: 'Attendance will be deleted. Are you sure?' }} %></td> 
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>