<%= form_with(model: [:admin, wkclass]) do |form| %>
  <% if wkclass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wkclass.errors.count, "error") %> prohibited this wkclass from being saved:</h2>
      <ul>
        <% wkclass.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%# the wkclass must not be edited after an attendance has been added, otherwise careless administration may cause clients to attend a class for which they do not have an applicable product %>
    <%= form.collection_select :workout_id, @workouts, :id, :name, { selected: (@wkclass.workout&.id || @workouts.first) }, { disabled: (true unless @wkclass.attendances.size.zero?) } %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, default: Time.parse('10:30') %>
  </div>

  <div class="field">
    <%= form.label :instructor_id %>
    <%= form.collection_select :instructor_id, @instructors, :id, :name, selected: @instructor_id, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :instructor_rate_id %>
    <%= form.collection_select :instructor_rate_id, @instructor_rates, :id, :long_name, selected: @instructor_rate, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :max_capacity, 'Maximum capacity' %>
    <%= form.select :max_capacity, options_for_select(@capacities, @wkclass.max_capacity || 12) %>
  </div>

  <div class="field">
    <%= form.label :level, 'Level' %>
    <%= form.select :level, options_for_select(@levels, @wkclass.level) %>
  </div>

  <div class="actions">
    <%= form.submit wkclass.new_record? ? 'create class' : 'update class' %>
  </div>
<% end %>

<%= javascript_pack_tag 'wkclass/max_capacity' %>
