<%= form_with(model: [:admin, wkclass]) do |form| %>
  <% if wkclass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wkclass.errors.count, "error") %> prohibited this wkclass from being saved:</h2>

      <ul>
        <% wkclass.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%# the wkclass must not be edited after an attendance has been added, otherwise careless  administration may cause clients to attend a class for which they do not have an applicable product %>
    <%= form.select :workout_id, options_for_select(@workouts, @wkclass.workout&.id || @workouts.first),{}, {disabled: (true unless @wkclass.attendances.size.zero?)} %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, default: Time.parse('10:30') %>
  </div>

  <div class="field">
    <%= form.label :instructor_id %>
    <%= form.select :instructor_id, options_for_select(@instructors, @instructor), include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :max_capacity, 'Maximum capacity' %>
    <%= form.select :max_capacity, options_for_select((0..50), 12) %>
  </div>

  <div class="actions">
    <%= form.submit wkclass.new_record? ? 'create class' : 'update class' %>
  </div>
<% end %>
