<%= turbo_frame_tag dom_id(@wkclass) do %>
  <div class="admin_form my-2">
    <div class="container px-1 ">
      <% unless params[:link_from] == 'purchase_show' %>
        <%= turbo_frame_tag "new_booking_form_#{@wkclass.id}" do %>
          <% if session[:show_qualifying_purchases] == 'yes' %>
            <%= render 'new_booking_form' %>
          <% else %>
            <div class="mb-2">
              <%= render 'add_booking_link' %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <%= render partial: 'wkclass_summary' %>
      <div id="bookings-table" class="mb-3">
          <%= render partial: 'wkclass_booking_table' %>
          <%= render partial: 'waiting_list' unless @waitings.empty? %>
        <% if @junioradmin_plus %>
          <%= render partial: 'repeat_form' if @wkclass.bookings&.first&.purchase&.pt? %>
        <% end %>
      </div>

      <% if @cancel_button %>
        <div class="cancel">
          <%= link_to image_tag('delete.png', class: "table_icon"), wkclasses_path(page: params[:page], show_qualifying_purchases: 'no') %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>