<% wkclass_decorator = decorate(wkclass) %>
<% junioradmin_plus = logged_in_as?('junioradmin', 'admin', 'superadmin') ? true : false %>
<% physical_attendances = wkclass.physical_attendances.size %>
<%= turbo_frame_tag wkclass do %>
  <div class="row">
    <div class="column col-1x"><%= wkclass_decorator.name_link(params[:page]) %></div>
    <div class="column col-1x"><%= wkclass_decorator.date %></div>
    <div class="column col-1x"><%= wkclass_decorator.time %></div>
    <div class="column col-05x"><%= wkclass_decorator.spaces_taken %></div>
    <div class="column col-05x"><%= wkclass_decorator.spaces_left %></div>
    <div class="column col-05x"><%= wkclass_decorator.number_on_waiting_list %></div>
    <%= wkclass_decorator.edit(@junioradmin_plus, params[:page]) %>
    <%= wkclass_decorator.delete(@junioradmin_plus, wkclass.deletable?, params[:page]) %>
  </div>
<% end %>
