<%= turbo_frame_tag wkclass do %>
  <% wkclass_decorator = decorate(wkclass) %>
  <div class="row">
    <div class="column col-1x"><%= wkclass_decorator.name_link(@pagy.page) %></div>
    <div class="column col-1x"><%= wkclass_decorator.date %></div>
    <div class="column col-1x"><%= wkclass_decorator.time %></div>
    <%= wkclass_decorator.spaces_taken %>
    <%= wkclass_decorator.spaces_left %>
    <%= wkclass_decorator.number_on_waiting_list %>
    <%= wkclass_decorator.edit(@junioradmin_plus, @pagy.page, nil, 'wkclasses_index') %>
    <%= wkclass_decorator.delete(@junioradmin_plus, wkclass.deletable?, @pagy.page, @nil, 'wkclasses_index') %>
  </div>
<% end %>
