<div class="mb-2">
  <h5 class ="class-attendance-header">  <%= "#{@wkclass.summary}" %>
    <span class="me-2"></span>
  </h5>
  <%= turbo_frame_tag 'new_attendance_form' %>
  <div class ="d-inline-block">
    <%= "#{@wkclass.max_capacity} max" %> <%= image_tag('group.png', class: "header_icon")%> |
  </div>
  <%= @wkclass.instructor&.name %>
  <% unless logged_in_as?('instructor') %>
    <%= link_to image_tag('edit.png', class: "table_icon"), edit_wkclass_path(@wkclass, link_from: @link_from) %>
  <% end %>
</div>