<% wkclass_decorator = decorate(@wkclass) %>
<div class="mb-2">
  <h5> <%= "#{wkclass_decorator.summary}" %>
    <span class="me-2"></span>
  </h5>
  <%= turbo_frame_tag 'new_booking_form' %>
  <div class ="d-inline-block">
    <%= "#{@wkclass.max_capacity} max" %> <%= image_tag('group.png', class: "header_icon")%> |
  </div>
  <%= @wkclass.instructor&.name %>
  <%= wkclass_decorator.edit(@junioradmin_plus, @page, @purchase_link_from_id, @link_from, put_in_div: false) %>  
</div>