  <% view_financials = logged_in_as?('admin', 'superadmin') ? true : false %>
  <div class="admin-table striped mt-2">
    <div class="mt-2 px-1">Attendances <small><%= "(#{@physical_attendances&.size || 0})" %> </small></div>
    <%= render partial: 'wkclass_attendance', collection: @physical_attendances, as: :attendance, locals: {view_financials: view_financials} %>
  </div>
  <% unless @ethereal_attendances_no_amnesty.empty? %>
    <div class="admin-table striped mt-2">
      <div class="mt-2 px-1">No-amnesties <small><%= "(#{@ethereal_attendances_no_amnesty&.size || 0})" %> </small></div>
      <%= render partial: 'wkclass_attendance', collection: @ethereal_attendances_no_amnesty, as: :attendance, locals: {view_financials: view_financials} %>
    </div>
  <% end %>
  <% unless @ethereal_attendances_amnesty.empty? %>  
    <div class="admin-table striped mt-2">
      <div class="mt-2 px-1">Amnesties <small><%= "(#{@ethereal_attendances_amnesty&.size || 0})" %> </small></div>
      <%= render partial: 'wkclass_attendance', collection: @ethereal_attendances_amnesty, as: :attendance, locals: {view_financials: view_financials} %>
    </div>
  <% end %>