<% if attendance.status == 'booked' %>
  <% close_to_expiry = 'bg-info' if attendance.purchase.close_to_expiry? && !attendance.purchase.dropin? %>
  <% payment_outstanding = 'bg-danger' if attendance.client.payment_outstanding? %>
<% end %>
<div class="row <%= close_to_expiry %> <%= payment_outstanding %>">
  <% if @junioradmin_plus %>
    <div class="column col-1x "><%= link_to attendance.client.name , admin_client_path(attendance.client), class: "like_button", data: { turbo: false } %></div>
    <div class="column col-1x"><%= link_to attendance.product.name, admin_purchase_path(attendance.purchase), class: "like_button", data: { turbo: false } %></div>
  <% else %>
    <div class="column col-1x"><%= attendance.client.name %></div>
    <div class="column col-1x"><%= attendance.product.name %></div>
  <% end %>
  <% if @view_financials %>
    <div class="column col-05x adj-line-height"><%= number_with_delimiter(attendance.revenue) %></div>
  <% end %>
  <div class="column col-2x"><%= render 'admin/wkclasses/attendance_form', object: attendance %></div>
  <% unless logged_in_as?('instructor') %>
      <div class="column"><%= link_to image_tag('delete.png', class: "table_icon"), admin_attendance_path(attendance, link_from: params[:link_from]), data: { turbo_method: :delete, turbo_confirm: 'Attendance will be deleted. Are you sure?' } %></div> 
  <% end %>
</div>

