<div class="container px-1 margin-override">
  <h4>Classes <%= link_to image_tag('add.png', class: "button_icon"), new_admin_wkclass_path %></h4>
</div>
<%= turbo_frame_tag 'wkclasses-and-filter' do %>
  <%= render partial: 'filter_form' %>
  <% if logged_in_as?('superadmin') %>
    <%= render partial: 'download' %>
  <% end %>
    <%= turbo_frame_tag 'wkclasses' do %>  
      <%= render partial: 'wkclasses_table' %>
    <% end %>
<% end %>
