  <div id="class_summary" class="mb-2">
    <%= render partial: 'class_summary' %>
  </div>
  <div id="classes_table" class="container px-1 mb-3 margin-override">
    <%= turbo_frame_tag 'wkclasses' do %>
      <%= render partial: 'class_attendance_table' %>
    <% end %>
    <% unless logged_in_as?('instructor') %>
      <%= render partial: 'repeat_form' if @wkclass.attendances&.first&.purchase&.pt? %>
    <% end %>
  </div>

<%= link_to image_tag('back.png', class: "back_icon"), admin_wkclasses_path, class: "icon-container" %>
