<p id="notice"><%= notice %></p>

<p>
  <strong>Workout group:</strong>
  <%= @rel_workout_group_workout.workout_group_id %>
</p>

<p>
  <strong>Workout:</strong>
  <%= @rel_workout_group_workout.workout_id %>
</p>

<%= link_to 'Edit', edit_admin_rel_workout_group_workout_path(@rel_workout_group_workout) %> |
<%= link_to 'Back', admin_rel_workout_group_workouts_path %>
