<%= turbo_frame_tag "password-change#{@account.id}" do %>
  <%#= form_with(model: @account) do |form| %>
  <%= form_with(url: password_reset_employee_accounts_path(@account), method: "patch") do |form| %>
    <% if @account.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@account.errors.count, "error") %> prohibited this password from being updated:</h2>
        <ul>
          <% @account.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="actions">
      <%= form.submit 'Change Password' %>
    </div>

    <div class="field mb-1 password">
      <%= form.label :new_password %>
      <%= form.text_field :new_password %>
    </div>

    <div class="field mb-1 password">
      <%= form.label :new_password_confirmation, 'New password confirm' %>
      <%= form.text_field :new_password_confirmation %>
    </div>

    <div class="field mb-1 password">
      <%= form.label :admin_password, 'Superadmin password' %>
      <%= form.text_field :admin_password %>
    </div>

    <div><%= form.hidden_field :requested_by, value: 'superadmin_of_admin' %></div>
  <% end %>
<% end %>

