<div class="field" data-controller="freeze" data-freeze-medical-value=<%= freeze.medical? %> data-freeze-doctor-note-value=<%= freeze.doctor_note? %> data-freeze-price-value=<%= 650 %> > 
  <%= form_with(model: freeze, class: 'admin_form mb-2') do |form| %>
    <% purchase = params[:purchase] || @freeze.purchase.id %>
    <%= turbo_frame_tag 'errors' do %>  
      <% if freeze.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(freeze.errors.count, "error") %> prohibited this freeze from being saved:</h2>
          <ul>
            <% freeze.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>

    <div><%= form.hidden_field :purchase_id, value: purchase || freeze.purchase_id %></div>
    <div><%= form.hidden_field :added_by, value: freeze.added_by || @current_account.email %></div>

    <div class="field" id="freeze_start">
      <%= form.label :start_date %>
      <%= form.date_field :start_date, default: Time.zone.now, data: {"freeze-target": "startDate", action: "freeze#dynamic_end_date"} %>
    </div>

    <div class="field" id="freeze_end">
      <%= form.label :end_date %>
      <%= form.date_field :end_date, data: {"freeze-target": "endDate"} %>
    </div>

    <div class="field">
      <%= form.label :note, 'Freeze Note' %>
      <%= form.text_area :note, cols: 40, rows: 5 %>
    </div>

    <div class="field">
      <%= form.label :medical, 'Medical Freeze' %>
      <%= form.check_box :medical, data: {"action": "freeze#toggle_medical"} %>
    </div>

    <div class="field" data-freeze-target="doctorNote" <%= 'hidden' unless freeze.medical? %>>
      <ul class="confirmation">
        <li>I confirm the <%=link_to 'Medical Freeze Policy', terms_and_conditions_path, class:'like_button', data: {turbo:false}%> has been correctly followed</li>
        <li>a doctor's note has been provided</li>
        <li>the freeze charge will be waived</li>     
      </ul>
      <%= form.check_box :doctor_note, data: {"action": "freeze#toggle_doctor_note"} %>
    </div>

    <div data-freeze-target="hideable" <%= 'hidden' if freeze.medical? %>>
      <%= form.fields_for :payment do |payment_fields| %>

        <div class="field">
          <%= payment_fields.label :amount %>
          <%= payment_fields.number_field :amount, value: freeze.payment.amount || 650, data: {"freeze-target": "paymentAmount"} %>
        </div>

        <div class="field">
          <%= payment_fields.label :dop, 'Date of purchase' %>
          <%= payment_fields.date_select :dop %>
        </div>

        <div class="field">
          <%= payment_fields.label :payment_mode %>
          <%= payment_fields.select :payment_mode, options_for_select(@payment_methods, freeze.payment.payment_mode), include_blank: true %>
        </div>

        <div class="field">
          <%= payment_fields.label :note, 'Payment Note' %>
          <%= payment_fields.text_area :note, cols: 40, rows: 5 %>
        </div>  
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

    <div class="cancel">
      <%= link_to image_tag('delete.png', class: "table_icon"), purchase_path(purchase) %>
    </div>  
  <% end %>
</div>
