<div id="freezes-table" class="container px-0 mb-5">
  <div class="page_entries_info px-1">
    <% if @admin_plus %>
      <div class="record-count mb-1">
        <%= "showing #{@freezes&.length} of #{@pagy&.count}" %>
      </div>
    <% end %>
    <div data-controller="pagy-initializer">
      <%== pagy_bootstrap_combo_nav_js(@pagy) %>
    </div>   
  </div>

  <div class="container px-0 mb-5">
    <div class="mt-2">
      <% if @admin_plus %>
        <div class="px-1 mb-1"><%= rupees(@freezes_payment_amount_sum) %><small> (all pages)</small></div>
      <% end %>  
      <div class="text-uppercase fst-italic">Freezes<small><%= "(#{@freezes.size})" %> </small></div>
    </div>
    <div class="admin-table striped mt-2">
      <%= render @freezes %>
    </div>
  </div>
</div>