<% main_challenge = challenge.main_challenge %>
<div class="row">
  <div class="column col-1x"><%= link_to challenge.name, challenge_path(challenge), class: "like_button" %></div>
  <div class="column col-1x"><%= challenge.metric %></div>
  <div class="column col-1x"><%= challenge.metric_type %></div>
  <div class="column col-1x"><%= main_challenge ? challenge.main_challenge.name : raw("&check;") %></div>
  <% if logged_in_as?('superadmin') %>
    <div class="column"><%= link_to image_tag("edit.png", class: "table_icon"), edit_challenge_path(challenge) %></div>
    <div class="column"><%= link_to image_tag("delete.png", class: "table_icon"), challenge_path(challenge), data: {turbo_method: :delete, turbo_frame: "_top", turbo_confirm: 'Are you sure?' } %></div>
  <% end %>
</div>