<form action="/superadmin/regular_expenses/add" class="mb-1">
  <input type="submit" value="Add All Regular Expenses to <%= @last_month %>">
  <input type="hidden" name="date" value="<%= @last_month %>">
</form>
<form action="/superadmin/regular_expenses/add" class="mb-1">
  <input type="submit" value="Add All Regular Expenses to <%= @this_month %>">
  <input type="hidden" name="date" value="<%= @this_month %>">
</form>
<form action="/superadmin/regular_expenses/add">
  <input type="submit" value="Add All Regular Expenses to <%= @next_month %>">
  <input type="hidden" name="date" value="<%= @next_month %>">
</form>