<h4>Regular Expenses <%= link_to image_tag('add.png'), new_superadmin_regular_expense_path %></h4>
<form action="/superadmin/regular_expenses/add">
  <input type="submit" value="Add All Regular Expenses to <%= @month %>">
</form>
<div id="regular_expenses_table" class="container px-1 mb-5 margin-override">
  <table class="table table-secondary table-striped caption-top">
    <caption></caption>
    <tbody>
      <% @regular_expenses.each do |expense| %>
        <tr>
          <th scope="row"><%= expense.item %></th>
          <td><%= number_with_delimiter(expense.amount) %></td>
          <td><%= link_to expense.workout_group.name, admin_workout_group_path(expense.workout_group), class: 'like_button' %></td>
          <td><%= link_to image_tag('edit.png', class: "table_icon"), edit_superadmin_regular_expense_path(expense) %></td>
          <td><%= link_to image_tag('delete.png', class: "table_icon"), superadmin_regular_expense_path(expense), method: :delete, data: { confirm: 'Expense will be deleted. Are you sure?' } %></td>
        </tr>
      <% end %>
      <tr>
        <th scope="row">Total</th>
        <td class="fw-bold"><%= rupees(@regular_expenses.sum(:amount)) %></td>
      </tr>
    </tbody>
  </table>
</div>
