<div id="workouts-filter" class="container ps-2 mt-1">
  <%= form_with(url: filter_workouts_path, method: "get", class: "form-class", data: {turbo_frame: "workouts"}) do |f| %>
    <div class="container mb-1">
      <div class="row">
        <div class="col-6 px-0">
          <fieldset>
            <legend>WORKOUT GROUP</legend>
            <% @workout_group.each do |wg| %>
              <%= label_tag nil, class: "chbox-lbl-filters" do %>
                <%= check_box_tag 'in_workout_group[]', wg, session[:filter_in_workout_group].present? ? session[:filter_in_workout_group].include?(wg) : false, id: "chbox#{wg}", onchange: "this.form.requestSubmit()" %>
                <%= wg %>
              <% end %>
            <% end %>
          </fieldset>
        </div>
        <div class="col-6 px-0">
          <fieldset>
            <%= label_tag nil, class: "chbox-lbl-filters" do %>
              <%= check_box_tag 'current', 'current', session[:filter_workout_current].present? ? true : false, class: "checkbox-class", id: "chbox_current", onchange: "this.form.requestSubmit()" %>
              <%= 'current only' %>
            <% end %>
          </fieldset>
        </div>
      </div>
    </div>
  <% end %>
  <hr class = "search mb-3"></hr>
</div>

