<%= form_with(model: workout) do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>
      <ul>
        <% workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-2">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field mb-2">
    <%= form.label :default_capacity, 'Default maximum capacity' %>
    <%= form.select :default_capacity, options_for_select(@capacities, workout.default_capacity || 12) %>
  </div>  

  <div class="field mb-2">
    <%= form.label :current do %>
      <%= form.check_box :current, { checked: @workout.new_record? || form.object.current? } %>
      Workout is Currently Running
    <% end %>
  </div>

  <div class="field mb-3">
    <%= form.label :instructor_initials do %>
      <%= form.check_box :instructor_initials, { checked: !@workout.new_record? && form.object.instructor_initials? } %>
      Include Instructor Inititals in Workout Name in Classes Table
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
