<div class="container px-1">
  <h4>Workouts <%= link_to image_tag('add.png', class: "button_icon"),
                           new_workout_path,
                           data: { turbo_frame: dom_id(Workout.new) } %>
  </h4>
  <%= turbo_frame_tag Workout.new %>
</div>
<%= render partial: 'filter_form' %>
<%= turbo_frame_tag 'workouts' do %>
  <%= render partial: 'workouts_table' %>
<% end %>
