<div id="bookings-table" class="container px-0 mb-5">  
  <table class="table table-striped">
    <tbody>
      <% unless @wkclasses_window_closed.empty? %>
        <tr>
          <th class="stripe-override" colspan="5">booking window closed</th>
        </tr>
        <% @wkclasses_window_closed.each do |wkclass| %>
          <% booking_link_and_class = booking_link_and_class_for(wkclass, @client) %>
          <tr class ="<%=booking_link_and_class[:css_class]%>">
            <th scope="row"><%= wkclass.date %></th>
            <td><%= wkclass.time %></td>
            <td><%= wkclass.workout.name %></td>
            <td><%= Attendance.applicable_to(wkclass, @client)&.status %></td>
            <td><%= booking_link_and_class[:link] %></td>
          </tr>
        <% end %>
      <% end %>
      <% unless @wkclasses_in_booking_window.empty? %>
        <tr>
          <th class="stripe-override" colspan="5">booking window open</th>
        </tr>
        <% @wkclasses_in_booking_window.each do |wkclass| %>
          <% booking_link_and_class = booking_link_and_class_for(wkclass, @client) %>
          <tr class ="<%=booking_link_and_class[:css_class]%>">
            <th scope="row"><%= wkclass.date %></th>
            <td><%= wkclass.time %></td>
            <td><%= wkclass.workout.name %></td>
            <td><%= Attendance.applicable_to(wkclass, @client)&.status %></td>
            <td><%= booking_link_and_class[:link] %></td>
          </tr>
        <% end %>
      <% end %>
      <% unless @wkclasses_not_yet_open.empty? %>
        <tr>
          <th class="stripe-override" colspan="5">booking window opening soon</th>
        </tr>
        <% @wkclasses_not_yet_open.each do |wkclass| %>
          <% booking_link_and_class = booking_link_and_class_for(wkclass, @client) %>
          <tr class ="<%=booking_link_and_class[:css_class]%>">
            <th scope="row"><%= wkclass.date %></th>
            <td><%= wkclass.time %></td>
            <td><%= wkclass.workout.name %></td>
            <td><%= Attendance.applicable_to(wkclass, @client)&.status %></td>
            <td><%= booking_link_and_class[:link] %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>  
