  <table class="table table-secondary table-striped caption-top">
    <tbody>
      <% @wkclasses.each do |wkclass| %>
        <% booking_link_and_class = booking_link_and_class_for(wkclass, @client) %>
        <tr class ="<%=booking_link_and_class[0]%>">
          <th scope="row"><%= wkclass.date %></th>
          <td><%= wkclass.time %></td>
          <td><%= wkclass.workout.name %></td>
          <td><%= Attendance.applicable_to(wkclass, @client)&.status %></td>
          <td><%= booking_link_and_class_for(wkclass, @client)[1] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
