<div class="text-center bolditalics mb-5">
  <p class="mb-0"> <%= yield(:expiry_statement) %> </p>
  <p class="mb-2"> <%= yield(:renewal_statement) %> </p>
  <p class="mb-0"> <%= yield(:renewal_product) %> </p>
  <p class="mb-2"> <%= rupees(yield(:renewal_price)) %> </p>
  <% if @renewal[:trial] %>
    <p class="mb-2"> <%= "normal price: #{rupees(yield(:base_price))}" %> </p>
  <% end %>
  <% if Setting.whitelist.include?(@client.email.slice(0,7)) %>
    <%= render partial: 'razor_form' %>
  <% else %>
    <p class="bolditalics mb-0"> <%= link_to 'Contact The Space & Renew Now!','#', class: "like_button" %></p>
  <% end %>
</div>
