 <table class="table table-secondary table-striped caption-top">
    <caption class="ps-1"><%= purchase.name(verbose: true) %> <%=image_tag('cold.png') if (!purchase.expired? && purchase.freezed?(Time.zone.now))%></caption>
    <tbody>
   <tr>
      <th scope="row" >Payment</th>
      <td><%= rupees(purchase.charge) %></td>
    </tr>
    <% unless purchase.discounts.empty? %>
      <% discount = purchase.discounts.first %>
      <tr>
        <th scope="row">Discount Name</th>
        <td><%= discount.name %></td>
      </tr>
      <tr>
      <% if discount.percent.zero? %>
        <th scope="row">Fixed Discount</th>
        <td><%= rupees(discount.fixed) %></td>
      <% else %>
        <th scope="row">Discount Percent</th>
        <td><%= "#{number_with_precision(discount.percent, strip_insignificant_zeros: true)}%" %></td>    
      <% end %>
      </tr>
      <tr>
        <th scope="row">Discount Amount</th>
        <td><%= rupees(purchase.price.price - purchase.payment) %></td>
      </tr>      
    <% end %>    
    <tr>
      <th scope="row">Paid on</th>
      <td><%= purchase.dop.strftime('%d %b %y') %></td>
    </tr>
    <tr>
      <th scope="row">Status</th>
      <td><%= purchase.status %></td>
    </tr>
    <% unless purchase.not_started? || purchase.expired? %>
      <tr>
        <th scope="row">Expiry date</th>
        <td><%= purchase.expiry_date.strftime('%d %b %y') %></td>
      </tr>
        <th scope="row">Sessions left</th>
        <td><%= purchase.attendances_remain(provisional: false) %></td>
      </tr>
    <% end %>
    <% if purchase.expired? %>
      <tr>
        <th scope="row">Expiry cause</th>
        <td><%= purchase.expiry_cause %></td>
      </tr>
      <tr>
        <th scope="row">Expired on</th>
        <td><%= purchase.expired_on&.strftime('%d %b %y') %></td>
      </tr>
    <% end %>
    <% if purchase.provisionally_expired? %>
      <tr>
        <th scope="row">Will expire on</th>
        <td><%= purchase.will_expire_on %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
