<div class="mt-2"><%= @purchase.name(verbose: true) %> <%=image_tag('cold.png') if @purchase.display_frozen?(Time.zone.now)%></div>
<div class="admin-table striped mt-2">
  <div class="row">
    <div class="column col-1x">Payment</div>
    <div class="column col-1x"><%= rupees(@purchase.payment) %></div>
  </div>
  <% unless @purchase.discounts.empty? %>  
    <% discount = @purchase.discounts.first %>
    <div class="row">
      <div class="column col-1x">Discount Name</div>
      <div class="column col-1x"><%= discount.name %></div>
    </div>
    <% if discount.percent.zero? %>
      <div class="row">
        <div class="column col-1x">Fixed Discount</div>
        <div class="column col-1x"><%= rupees(discount.fixed) %></div>
      </div>
    <% else %>
      <div class="row">
        <div class="column col-1x">Discount Percent</div>
        <div class="column col-1x"><%= "#{number_with_precision(discount.percent, strip_insignificant_zeros: true)}%" %></div>
      </div>
    <% end %>
    <div class="row">
      <div class="column col-1x">Discount Amount</div>
      <div class="column col-1x"><%= rupees(@purchase.price.price - @purchase.payment) %></div>
    </div>
  <% end %>
    <div class="row">
      <div class="column col-1x">Paid on</div>
      <div class="column col-1x"><%= @purchase.dop.strftime('%d %b %y') %></div>
    </div>  
    <div class="row">
      <div class="column col-1x">Status</div>
      <div class="column col-1x"><%= @purchase.status %></div>
    </div>  
  <% unless @purchase.not_started? || @purchase.expired? %>
    <div class="row">
      <div class="column col-1x">Expiry date</div>
      <div class="column col-1x"><%= @purchase.expiry_date.strftime('%d %b %y') %></div>
    </div>  
    <div class="row">
      <div class="column col-1x">Bookings left</div>
      <div class="column col-1x"><%= @purchase.attendances_remain(provisional: true) %></div>
    </div>  
    <div class="row">
      <div class="column col-1x">Attendances left</div>
      <div class="column col-1x"><%= @purchase.attendances_remain(provisional: false) %></div>
    </div>  
  <% end %>  
  <% if @purchase.expired? %>
    <div class="row">
      <div class="column col-1x">Expiry cause</div>
      <div class="column col-1x"><%= @purchase.expiry_cause %></div>
    </div>
    <div class="row">
      <div class="column col-1x">Expired on</div>
      <div class="column col-1x"><%= @purchase.expired_on&.strftime('%d %b %y') %></div>
    </div>
  <% end %>
</div>



