<table class="table table-secondary table-striped caption-top">
  <caption><%= @purchase.formal_name %> <%=image_tag('cold.png') if (!@purchase.expired? && @purchase.freezed?(Time.zone.now))%></caption>
  <tbody>
    <tr>
      <th scope="row">Payment</th>
      <td><%= number_to_currency(@purchase.payment, precision: 0, unit: 'Rs. ') %></td>
    </tr>
    <tr>
      <th scope="row">Paid on</th>
      <td><%= @purchase.dop.strftime('%d %b %y') %></td>
    </tr>
    <tr>
      <th scope="row">Status</th>
      <td><%= @purchase.status %></td>
    </tr>
    <% unless @purchase.not_started? %>
      <tr>
        <th scope="row">Expiry date</th>
        <td><%= @purchase.expiry_date.strftime('%d %b %y') %></td>
      </tr>
    <% end %>
    <% unless @purchase.not_started? || @purchase.expired? %>
      <tr>
        <th scope="row">Bookings left</th>
        <td><%= @purchase.attendances_remain(provisional: true) %></td>
      </tr>
      <tr>
        <th scope="row">Attendances left</th>
        <td><%= @purchase.attendances_remain(provisional: false) %></td>
      </tr>
    <% end %>
    <% if @purchase.expired? %>
      <tr>
        <th scope="row">Expiry cause</th>
        <td><%= @purchase.expiry_cause %></td>
      </tr>
      <tr>
        <th scope="row">Expired on</th>
        <td><%= @purchase.expired_on %></td>
      </tr>
    <% end %>
    <% if @purchase.provisionally_expired? %>
      <tr>
        <th scope="row">Will expire on</th>
        <td><%= @purchase.will_expire_on %></td>
      </tr>
    <% end %>
    <% if @purchase.adjust_restart %>
      <tr>
        <th scope="row">A&R paid</th>
        <td><%= number_to_currency(@purchase.ar_payment, precision: 0, unit: 'Rs. ') %></td>
      </tr>
      <tr>
        <th scope="row">A&R paid on</th>
        <td><%= @purchase.ar_date.strftime('%d %b %y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
