<% product = Product.trial.space_group.first%>
<div id="trial-btn">
  <form action=<%= superadmin_orders_path %> method="POST">
    <script
        src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="<%= "#{Rails.configuration.razorpay[:key_id]}" %>"
        data-amount="<%= "#{product.renewal_price('base').price * 100}" %>"
        data-name="<%= "The Space" %>"
        data-description="<%= "#{product.formal_name}" %>"
        data-image="<%= asset_path 'favicon.ico' %>"
        data-prefill.email="<%= "#{current_account&.email}" %>"
        data-theme.color="#1a2b3c"
    >
    </script>
    <input type="hidden" value="<%= "#{product.id}" %>" name="product_id">
    <input type="hidden" value="<%= "#{product.base_price&.id}" %>" name="price_id">                            
    <input type="hidden" value="<%= "#{current_account&.id}" %>" name="account_id">
	  <input type="hidden" value="shop page" name="client_ui">    
  </form>
</div>