<% provide(:heading, "Classes coming up") %>
<% provide(:greeting, "Hi #{@client.first_name}!") %>

<div class="text-center mb-3">
  <%= render partial: 'client_heading', locals: {selection: false} %>
</div>

<% if @wkclasses_visible.empty? %>
  <div id="bookings-table" class="container px-1 mb-3">
    <% if @purchases.empty? %>
      <p class="bolditalics mb-0">Your package has expired.</p>
      <p class="bolditalics mb-0"> Contact The Space & Renew Now!<%#= link_to 'Renew Now','#', class: "like_button" %></p>
    <% else %>
      <p class="bolditalics mb-0">There are no classes currently in the booking window.</p>
    <% end %>
  </div>
<% else %>
  <div id="bookings-table" class="container px-1 mb-5">
    <%= render partial: 'client_bookings_table' %>
  </div>
<% end %>

<div id="consistency" class="container px-1 mb-5">
  <%= render partial: 'consistency' %>
</div>

<% unless @purchases.empty? %>
  <div id="packages-table" class="container px-1">
    <h6 class="bolditalics mb-0">
      Package Status
    </h6>
    <%= render partial: 'client_packages_table', locals: {detailed: false} %>
  </div>
<% end %>

<div id="heart_renew_quote" class="container px-1">
  <%= render partial: 'client_heart' %>
  <%= render partial: 'renew' %>
  <%= render partial: 'quotation' %>
</div>
