<% provide(:heading, "Profile") %>
<% provide(:greeting, @client.name) %>

<div class="text-center mb-3">
  <%= render partial: 'client/clients/client_heading', locals: {selection: false} %>
</div>

<div id="client-data" class="">
  <%= render partial: 'client/clients/client_data' %>
  <%= render partial: 'client/clients/client_summary' %>
</div>

<% if Setting.show_challenge %>
  <% if @achievements.present? %>
    <div id="client-challenge" class="">
        <div class="text-center mb-3">
          <h6 class="fw-bolder fst-italic mb-0">
            <%= yield(:challenges_heading) %>
          </h6>
            <h2>
              <form action=<%= "/client/clients/#{params[:id]}/#client-challenge" %> method="GET" data-turbo-frame="achievement_chart" >
                <select name="challenge_id" class= "sort" onchange="this.form.requestSubmit()" >
                  <%= options_for_select @challenges_entered, session[:challenge_id] %>
                </select>
              </form>
            </h2>
        </div>
        <%= turbo_frame_tag 'achievement_chart' do %>
          <%= render 'achievement_chart' %>
        <% end %>
    </div>
  <% end %>  
<% end %>

<%= render partial: 'client/clients/password_reset' %>
