<%= form_with(model: [:admin, product]) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :max_classes %>
    <%= form.number_field :max_classes %>
  </div>

  <div class="field">
    <%= form.label :validity_length %>
    <%= form.number_field :validity_length %>
  </div>

  <div class="field">
    <%= form.label :validity_unit %>
    <%= form.select :validity_unit, options_for_select(@validity_units, @product.validity_unit) %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.select :color, options_for_select(@colors, @product.color) %>
  </div>

  <div class="field">
    <%= form.label :workout_group_id, 'Workout Group' %>
    <%= form.collection_select :workout_group_id, @workout_groups, :id, :name, selected: @product.workout_group&.id || @workout_groups.first%>
  </div>

  <div class="field mb-3">
    <%= form.label :current do %>
      <%= form.check_box :current, { checked: @product.new_record? || form.object.current? } %>
      Product is Active
    <% end %>
  </div>  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
