<div class="row">
  <% if logged_in_as?('admin', 'superadmin') %>        
    <div class="column col-2x fw-light"><%= link_to product.name(color_show: false, rider_show: true), admin_product_path(product), class: 'like_button', data: { turbo: false } %></div>
  <% else %>
    <div class="column col-2x fw-light"><%= product.name(color_show: false, rider_show: true) %></div>
  <% end %>
  <div class="column col-1x fw-light"><%= product.color %></div>
  <% if logged_in_as?('superadmin') %>          
    <div class="column col-1x nomobile"><%= link_to (tag.i class: ["bi", "bi-basket", "link", ("sellonline" unless product.sellonline?)]), admin_product_path(product, sellonline: !product.sellonline?), data: { "turbo-method": :patch } %></div>
  <% else %>
    <div class="column col-1x nomobile"><%= tag.i class: ["bi", "bi-basket", ("sellonline" unless product.sellonline?)] %></div>
  <% end %>
  <% if logged_in_as?('admin', 'superadmin') %>
    <div class="column nomobile col-1x"><%= link_to image_tag('attendances.png', class: ["table_icon",("active-product" unless product.current?)].compact.join(' ')), admin_product_path(product, current: !product.current?), data: { "turbo-method": :patch } %></div>        
  <% else %>
    <div class="column nomobile col-1x"><%= image_tag('attendances.png', class: ["table_icon",("active-product" unless product.current?)].compact.join(' ')) %></div>        
  <% end %>
  <div class="column nomobile col-1x"><%= product.rider? ? raw("&check;") : "-" %></div>
  <div class="column nomobile col-1x"><%= product.has_rider? ? raw("&check;") : "-" %></div>
  <% product_data = @products_data[product.name(rider_show: true).to_sym] %>
  <% if logged_in_as?('admin', 'superadmin') %>
    <div class="column col-1x"><%= product_data[:total_count] %></div>
    <div class="column col-1x"><%= product_data[:ongoing_count] %></div>
  <% end %>
   <div class="column col-1x"><%= number_with_delimiter(product_data[:base_price]) %></div>
  <% if logged_in_as?('superadmin') && product.deletable? %>
    <% if false %>
      send as turbo request and table gets updated (but not flash). turbo:false doesn't seem to work with delete. could resorted to button_to and X, but then confirmation doesn't work!
      <div class="column"> <%= button_to 'X', admin_product_path(product), method: :delete, confirm: 'sure', data: {turbo_confirm: "#{product.name} has no purchases and so can be deleted. Are you sure?", turbo: false} %></div>
    <% end %>
      <div class="column"> <%= link_to image_tag('delete.png', class: "table_icon"), admin_product_path(product), data: { turbo_method: :delete, turbo_confirm: "#{product.name} has no purchases and so can be deleted. Are you sure?" } %></div>
  <% else %>
    <div class="column"></div>
  <% end %>
</div>

