<div id="products-table" class="container px-0 mb-5 margin-override">
  <table class="table table-secondary table-striped caption-top">
    <tbody>
      <tr>
        <th scope="col">Product</th>
        <th class="nomobile" scope="col">Sell Online</th>        
        <% if logged_in_as?('admin', 'superadmin') %>
          <th scope="col">Ongoing Count</th>
        <% end %>
        <th scope="col">Base (Rs)</th>
        <th scope="col">Early Renew (Rs)</th>
        <th scope="col">Pre Trial Expiry (Rs)</th>
        <th scope="col">Post Trial Expiry (Rs)</th>
      </tr>
      <% @products.each do |product| %>
        <tr>
          <th scope="row" class="fw-light"><%=link_to product.name, admin_product_path(product), class: 'like_button' %></th>
          <td class="nomobile"><%= link_to (tag.i class: ["bi", "bi-basket", ("sellonline" unless product.sellonline?)]), admin_product_path(product, sellonline: !product.sellonline?), method: :patch %></td>
          <!--image_tag('insta.png', class: ["table_icon",("instawaiver" unless product.sellonline?)].compact.join(' '))-->
          <% if logged_in_as?('admin', 'superadmin') %>
            <td><%= @product_count[product.name.to_sym] %></td>
          <% end %>
          <td><%= number_with_delimiter(product.renewal_price("base")&.discounted_price) %></td>
          <td><%= number_with_delimiter(product.renewal_price("renewal_pre_expiry")&.discounted_price) %></td>
          <td><%= number_with_delimiter(product.renewal_price("renewal_pretrial_expiry")&.discounted_price) %></td>
          <td><%= number_with_delimiter(product.renewal_price("renewal_posttrial_expiry")&.discounted_price) %></td>
          <%# if logged_in_as?('superadmin') %>
            <!--td><%#= link_to image_tag('edit.png', class: "table_icon"), edit_admin_product_path(product) %></td-->
          <%# end %>
          <!--td><%#= link_to image_tag('delete.png', class: "table_icon"), admin_product_path(product), method: :delete, data: { confirm: "#{product.name} and its purchases will be deleted. Are you sure?" }%></td-->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
