<% product_decorator = decorate(product) %>
<%= turbo_frame_tag product do %>
  <div class="row">
    <div class="column col-2x fw-light"><%= product_decorator.name_link(@admin_plus) %></div>
    <div class="column col-1x fw-light"><%= product.color %></div>
    <div class="column col-1x nomobile"><%= product_decorator.sell_online(link: @superadmin) %></div>
    <div class="column col-1x nomobile"><%= product_decorator.current(link: @admin_plus) %></div>
    <div class="column col-1x nomobile"><%= product.rider? ? raw("&check;") : "-" %></div>
    <div class="column col-1x nomobile"><%= product.has_rider? ? raw("&check;") : "-" %></div>
    <% product_data = @products_data[product.id] %>
    <% if @admin_plus %>
      <div class="column col-1x"><%= product_data[:total_count] %></div>
      <div class="column col-1x"><%= product_data[:ongoing_count] %></div>
    <% end %>
    <div class="column col-1x"><%= number_with_delimiter(product_data[:base_price]) %></div>
    <%= product_decorator.edit(@admin_plus, product.editable?) %>     
    <%= product_decorator.delete(@superadmin, product.deletable?) %>     
  </div>
<% end %>

