<div class ="d-flex mb-2">
  <h2><%= @product.name %></h2>
  <form action=<%= "/admin/products/#{params[:id]}" %> method="GET" data-remote="true" class="ms-3 align-with-header">
      <select name="product_purchased_period" onchange="Rails.fire(this.form, 'submit')" class="sort">
        <%= options_for_select @months, session[:product_purchased_period] %>
      </select>
  </form>
</div>

<div id="product-price-table" class="container px-1 mb-5 margin-override">
  <%= render partial: 'product_price_table' %>
</div>

<div id="product-purchased-table" class="container px-1 mb-3 margin-override">
  <%= render partial: 'product_purchased_table' %>
</div>

<%= link_to image_tag('back.png', class: "back_icon"), admin_products_path, class: "icon-container" %>
