<div class="text-center mb-3">
  <h6 class="bolditalics mb-0">
  <% color_add = @product.color.nil? ? '' : ' ('.concat(@product.color,')') %>
    <%= @product.formal_name.concat(color_add) %>
    <%= image_tag('attendances.png', class: ["table_icon",("active-product" unless @product.current?)].compact.join(' ')) %>
  </h6>
  <h6>
    <form action=<%= "/admin/products/#{params[:id]}" %> method="GET" data-remote="true" class="ms-3 align-with-header">
        <select name="product_period" onchange="Rails.fire(this.form, 'submit')" class="sort">
          <%= options_for_select @months, session[:product_period] %>
        </select>
    </form>
  </h6>
</div>

<div id="product-price-table" class="container px-1 mb-5 margin-override">
  <%= render partial: 'product_price_table' %>
</div>

<div id="product-purchased-table" class="container px-1 mb-3 margin-override">
  <%= render partial: 'product_purchased_table' %>
</div>

<%= link_to image_tag('back.png', class: "back_icon"), admin_products_path, class: "icon-container" %>
