<div class="text-center mb-3">
  <h6 class="bolditalics mb-0">
    <%= @product.formal_name %>
    <%= image_tag('attendances.png', class: ["table_icon",("active-product" unless @product.current?)].compact.join(' ')) %>
  </h6>
</div>
<%= turbo_frame_tag 'product_prices' do %>
  <%= render partial: 'product_prices_table' %>
<% end %>
<%= turbo_frame_tag 'products_purchased' do %>
  <div id="products-purchased-table" class="container px-1 mb-3">
    <%= render partial: 'filter_prices'%>
    <%= render partial: 'products_purchased_table' %>
  </div>
<% end %> 