<%= form_with(model: instructor_rate, class: 'admin_form pt-4 my-2') do |form| %>
  <% if instructor_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instructor_rate.errors.count, "error") %> prohibited this instructor_rate from being saved:</h2>
      <ul>
        <% instructor_rate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :instructor_id %>
    <%= form.select :instructor_id, options_for_select(@instructors, @instructor), include_blank: false %>
  </div>
     
  <div class="field">
    <%= form.label :rate %>
    <%= form.number_field :rate %>
  </div>

  <div class="field mb-2">
    <%= form.label :group do %>
      <%= form.check_box :group, { checked: @instructor_rate.new_record? || form.object.group? } %>
      Group Class Rate?
    <% end %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :date_from %>
    <%= form.date_select :date_from %>
  </div>

  <div class="field mb-3">
    <%= form.label :current do %>
      <%= form.check_box :current, { checked: @instructor_rate.new_record? || form.object.current? } %>
      Instructor Rate is Current
    <% end %>
  </div>    

  <div class="actions">
    <%= form.submit %>
  </div>

  <div class="cancel">
    <%= link_to image_tag('delete.png', class: "table_icon"), @form_cancel_link %>
  </div>    
<% end %>
