<%= form_with(model: [:superadmin, instructor_rate]) do |form| %>
  <% if instructor_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instructor_rate.errors.count, "error") %> prohibited this instructor_rate from being saved:</h2>

      <ul>
        <% instructor_rate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rate %>
    <%= form.number_field :rate %>
  </div>

  <div class="field">
    <%= form.label :date_from %>
    <%= form.date_select :date_from %>
  </div>

  <div class="field">
    <%= form.label :instructor_id %>
    <%= form.select :instructor_id, options_for_select(@instructors, @instructor), include_blank: true %>
  </div>

  <div class="field mb-3">
    <%= form.label :current do %>
      <%= form.check_box :current, { checked: @instructor_rate.new_record? || form.object.current? } %>
      Instructor Rate is Current
    <% end %>
  </div>    

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
