<div class="row">
  <% #https://guides.rubyonrails.org/layouts_and_rendering.html#counter-variables %>
  <div class="column col-1x">Discount (<%= discount_counter + 1 %>) Name</div>
  <div class="column col-1x"> <%= discount.name %> </div>
</div>
<div class="row">
  <% if discount.percent.zero? %>
    <div class="column col-1x">Fixed Discount</div>
    <div class="column col-1x"> <%= rupees(discount.fixed) %></div>  
  <% else %>
    <div class="column col-1x">Discount Percent</div>
    <div class="column col-1x"><%= "#{number_with_precision(discount.percent, strip_insignificant_zeros: true)}%" %></div>    
  <% end %>
</div>
<div class="row">
  <div class="column col-1x">Discount Amount</div>
  <div class="column col-1x"> <%= rupees(@purchase.price.price - @purchase.charge) %> </div>
</div>    
