<% freezes = @purchase.freezes.order_by_start_date %>
<% unless freezes.empty? %>
  <div class="fst-italic ps-2"><%= "#{pluralize(freezes.size, 'Freeze')} (#{pluralize(freezes.map(&:duration).inject(&:+), 'day')})" %></div>
  <div class="admin-table striped mt-2 mb-4">
    <div class="row thead">
      <div class="column"></div>
      <div class="column col-1x">Start</div>
      <div class="column col-1x">End</div>
      <div class="column col-1x">Days</div>
      <div class="column col-1x">Note</div>
      <div class="column col-1x">Payment</div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
    </div>
    <% freezes.each_with_index do |freeze, index| %>
      <div class="row">
        <div class="column"><%= index + 1 %></div>
        <div class="column col-1x"><%= freeze.start_date.strftime('%d %b %y') %></div>
        <div class="column col-1x"><%= freeze.end_date.strftime('%d %b %y') %></div>
        <div class="column col-1x"><%= "#{pluralize(freeze.duration, 'day')}" %></div>
        <div class="column col-1x"><%= freeze.note %></div>
        <div class="column col-1x"><%= freeze.payment ? link_to(rupees(freeze.payment.amount), superadmin_payment_path(freeze.payment), class: 'like_button', data: {turbo: false}) : '-' %></div>
        <div class="column"><%= image_tag('medical.png', class: ["table_icon",("dull" unless freeze.medical?)].compact.join(' ')) %></div>        
        <div class="column"><%= image_tag('doctor_note.png', class: ["table_icon",("dull" unless freeze.doctor_note?)].compact.join(' ')) %></div>        
        <div class="column"><%= link_to image_tag('edit.png', class: "table_icon"), edit_admin_freeze_path(freeze), class: "icon-container", data: { turbo_frame: 'freeze_edit' } %></div>
        <div class="column"><%= link_to image_tag('delete.png', class: "table_icon"), admin_freeze_path(freeze), data: { turbo_method: :delete, turbo_confirm: 'Freeze will be deleted Are you sure?' } %></div>
      </div>
    <% end %>
  </div>
  <%= turbo_frame_tag 'freeze_edit' %>
<% end %>


