<% penalties = @purchase.penalties %>
<% unless penalties.count.zero? %>
  <table class="table table-secondary table-striped caption-top">
    <caption><%= "#{pluralize(penalties.size, 'Penalty')} (#{pluralize(penalties.map(&:amount).inject(&:+), 'day')})" %></caption>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col">Days</th>
        <th scope="col">Reason</th>
      </tr>
    </thead>
    <tbody>
      <% penalties.each_with_index do |pen, index| %>
        <% wkclass = pen.attendance.wkclass %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= link_to wkclass.summary, admin_wkclass_path(wkclass, link_from: 'purchase_show'), class: "like_button", data: { turbo: false } %></td>
          <td><%= "#{pluralize(pen.amount, 'day')}" %></td>
          <td><%= pen.reason %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>