<% penalties = @purchase.penalties %>
<% unless penalties.count.zero? %>
  <div class="fst-italic ps-2"><%= "#{pluralize(penalties.size, 'Penalty')} (#{pluralize(penalties.map(&:amount).inject(&:+), 'day')})" %></div>
  <div class="admin-table striped mt-2 mb-4">
    <div class="row thead">
      <div class="column"></div>
      <div class="column col-1x">Class</div>
      <div class="column col-1x">Date</div>
      <div class="column col-1x">Days</div>
      <div class="column col-1x">Reason</div>
    </div>
    <% penalties.each_with_index do |pen, index| %>
      <% wkclass = pen.booking.wkclass %>    
      <% wkclass_decorator = decorate(wkclass) %>
      <div class="row">
        <div class="column"><%= index + 1 %></div>
        <div class="column col-1x"><%= link_to wkclass.name, wkclass_path(wkclass, link_from: 'purchase_show'), class: "like_button", data: { turbo: false } %></div>
        <div class="column col-1x"><%= link_to wkclass_decorator.date %></div>
        <div class="column col-1x"><%= "#{pluralize(pen.amount, 'day')}" %></div>
        <div class="column col-1x"><%= pen.reason %></div>
      </div>
    <% end %>
  </div>
<% end %>