<table class="table table-secondary table-striped caption-top">
  <caption>
    <%= link_to @purchase.formal_name, admin_purchase_path(@purchase), class: "like_button" if setting == 'admin_client_show' %>
    <%= 'Summary' if setting == 'admin_purchase_show' %>
  </caption>
  <tbody>
    <tr>
      <th scope="row">Payment</th>
      <td><%= rupees(@purchase.payment) %></td>
    </tr>
    <tr>
      <th scope="row">Price</th>
      <td><%= full_name(@purchase.price) %></td>
    </tr>
    <tr>
      <th scope="row">Paid on</th>
      <td><%= @purchase.dop.strftime('%d %b %y') %></td>
    </tr>
    <tr>
      <th scope="row">Status</th>
      <td><%= @purchase.status %></td>
    </tr>
    <% unless @purchase.not_started? %>
      <tr>
        <th scope="row">Expiry date</th>
        <td><%= @purchase.expiry_date.strftime('%d %b %y') %></td>
      </tr>
    <% end %>
    <% unless @purchase.not_started? || @purchase.expired? %>
      <tr>
        <th scope="row">Bookings left</th>
        <td><%= @purchase.attendances_remain(provisional: true) %></td>
      </tr>
      <tr>
        <th scope="row">Attendances left</th>
        <td><%= @purchase.attendances_remain(provisional: false) %></td>
      </tr>
    <% end %>
    <% if @purchase.expired? %>
      <tr>
        <th scope="row">Expiry cause</th>
        <td><%= @purchase.expiry_cause %></td>
      </tr>
      <tr>
        <th scope="row">Expired on</th>
        <td><%= @purchase.expired_on %></td>
      </tr>
    <% end %>
    <% if @purchase.provisionally_expired? %>
      <tr>
        <th scope="row">Will expire on</th>
        <td><%= @purchase.will_expire_on %></td>
      </tr>
    <% end %>
    <tr>
      <th scope="row">Payment mode</th>
      <td><%= @purchase.payment_mode%></td>
    </tr>
    <tr>
      <th scope="row">Invoice</th>
      <td><%= @purchase.invoice %></td>
    </tr>
    <tr>
      <th scope="row">Note</th>
      <td><%= @purchase.note %></td>
    </tr>
    <% if @purchase.adjust_restart %>
      <tr>
        <th scope="row">A&R paid</th>
        <td><%= rupees(@purchase.ar_payment) %></td>
      </tr>
      <tr>
        <th scope="row">A&R paid on</th>
        <td><%= @purchase.ar_date.strftime('%d %b %y') %></td>
      </tr>
    <% end %>

  </tbody>
</table>
