<% payment = @purchase.payment %>
<% membership = Membership.new(@purchase) %>
<% @discounts = @purchase.discounts %>
<div class="fst-italic ps-2">Summary</div>
<div class="admin-table mt-2 mb-4">
  <div class="row">
    <div class="column col-1x">Charge</div>
    <div class="column col-1x"><%= rupees(@purchase.charge) %></div>
  </div>
  <div class="row">
    <div class="column col-1x">Base price</div>
    <div class="column col-1x"><%= rupees(@purchase.price.price) %></div>
  </div>
  <% unless @discounts.empty? %>
    <%= render partial: 'admin/purchases/show_partials/discount', collection: @discounts %>
  <% end %>
  <div class="row">
    <div class="column col-1x">Purchased on</div>
    <div class="column col-1x"><%= @purchase.dop.strftime('%d %b %y') %></div>
  </div>
  <div class="row">
    <div class="column col-1x">Status</div>
    <div class="column col-1x"><%= @purchase.status %></div>
  </div>
  <% if @purchase.can_restart? %>
    <div class="row <%= 'text-danger' if @purchase.restart_warning? %>">
      <div class="column col-1x">Restart charge</div>
      <div class="column col-1x"><%= rupees(@purchase.restart_payment) %></div>
    </div>
  <% end %>
  <% if membership.can_transfer? %>
    <div data-controller = purchase-show>  
      <div class="row">  
        <div class="column col-1x">Transfer charge <%= image_tag 'more.png', {class:'more_icon', data: {action: "mouseover->purchase-show#toggle_breakdown"}} %></div>
        <div class="column col-1x"><%= rupees(membership.transfer_charge) %></div>
      </div>
      <div hidden class='border border-primary border-2' data-purchase-show-target="transferBreakdown">
        <div class="row px-3">  
          <div class="column col-1x">Usage charge</div>
          <div class="column col-1x"><%= rupees(membership.usage_charge) %></div>
        </div>
        <div class="row px-3">  
          <div class="column col-1x">Price change charge</div>
          <div class="column col-1x"><%= rupees(membership.price_change_charge) %></div>
        </div>
        <div class="row px-3">  
          <div class="column col-1x">Fixed charge</div>
          <div class="column col-1x"><%= rupees(Setting.transfer_fixed_charge) %></div>
        </div>
      </div>
    </div>

  <% end %>
  <% unless @purchase.not_started? %>
    <div class="row">
      <div class="column col-1x">Expiry date</div>
      <div class="column col-1x"><%= @purchase.expiry_date&.strftime('%d %b %y') %></div>
    </div>  
  <% end %>  
  <% unless @purchase.expired? %>
    <div class="row">
      <div class="column col-1x">Sunset date</div>
      <div class="column col-1x"><%= @purchase.sunset_date.strftime('%d %b %y') %></div>
    </div>  
  <% end %>  
  <% unless @sunset_hash[:action].nil? %>
    <div class="row">
      <div class="column col-1x">Sunset action</div>
      <div class="column col-1x"><%= link_to (tag.i class: ["bi", @sunset_hash[:image], ("" if  @purchase.expired?)]), expire_purchases_path(@purchase), data: { turbo_method: :patch , turbo_confirm: @sunset_hash[:confirm] } %></div>
    </div>  
  <% end %>  
  <% unless @purchase.not_started? || @purchase.expired? %>
    <div class="row">
      <div class="column col-1x">Bookings left</div>
      <div class="column col-1x"><%= @purchase.attendances_remain(provisional: true) %></div>
    </div>  
    <div class="row">
      <div class="column col-1x">Attendances left</div>
      <div class="column col-1x"><%= @purchase.attendances_remain(provisional: false) %></div>
    </div>  
  <% end %>  
  <% if @purchase.expired? %>
    <div class="row">
      <div class="column col-1x">Expiry cause</div>
      <div class="column col-1x"><%= @purchase.expiry_cause %></div>
    </div>  
    <div class="row">
      <div class="column col-1x">Expiry on</div>
      <div class="column col-1x"><%= @purchase.expired_on&.strftime('%d %b %y') %></div>
    </div>  
  <% end %>  
  <% if @purchase.provisionally_expired? %>
    <div class="row">
      <div class="column col-1x">Will expire on</div>
      <div class="column col-1x"><%= @purchase.will_expire_on&.strftime('%d %b %y') %></div>
    </div>  
  <% end %>  
  <% if @purchase.restart_as_child %>
    <% parent_purchase = @purchase.parent_purchase %>
    <div class="row">
      <div class="column col-1x">Converted on</div>
      <div class="column col-1x"><%= @purchase.restart_as_child.payment.dop.strftime('%d %b %y') %></div>
    </div>  
    <div class="row">
      <div class="column col-1x">Original Package</div>
      <div class="column col-1x"><%= link_to 'original', purchase_path(parent_purchase), class: "like_button", data: {turbo: false} %></div>
    </div>  
  <% end %>  
  <% if @purchase.restart_as_parent %>
  <% child_purchase = @purchase.child_purchase %>
    <div class="row">
      <div class="column col-1x">Restart</div>
      <div class="column col-1x"><%= link_to 'restart', purchase_path(child_purchase), class: "like_button", data: {turbo: false} %></div>
    </div>  
  <% end %>
  <% if @purchase.note? %>
    <div class="row">
      <div class="column col-1x">Purchase note</div>
      <div class="column col-1x"><%= @purchase.note %></div>
    </div>
  <% end %>
  <% unless payment.nil?%>
    <div class="row">
      <div class="column col-1x">Payment made</div>
      <div class="column col-1x"><%= rupees(payment.amount) %></div>
    </div>
    <div class="row">
      <div class="column col-1x">Payment mode</div>
      <div class="column col-1x"><%= payment.payment_mode %></div>
    </div>  
    <% if @purchase.payment.note? %>
      <div class="row">
        <div class="column col-1x">Payment note</div>
        <div class="column col-1x"><%= payment.note %></div>
      </div>
    <% end %>
  <% end %>

</div>