<%# https://stimulus.hotwired.dev/reference/actions action parameters %>
<section id="bookings-table">
  <div class="button-container-full-width">
    <% @days.each_with_index do |day, index| %>
      <button class="slider-btn-full-width<%=' live' if index.to_s == session[:booking_day] %>" 
              data-day=<%= index %> 
              data-action="booking#change_day"
              data-booking-target="dayButton"
              data-booking-day-param=<%= index %>> 
        <%= booking_day_name(index, day) %>
      </button>
    <% end %>

  </div>    
  <div class="d-md-flex justify-content-center canvas gray100-canvas">
    <% @wkclasses_show_by_day.each_with_index do |day, index| %>
      <div class="booking-day <%= "booking-day#{index}" %> <%= 'live' if index.to_s == session[:booking_day] %>"
           data-booking-target="bookingDay">
        <% if day.empty? %>
          <div class= 'mx-auto' >no group classes to book</div>
        <% else %>
          <%= render partial: 'wkclass_booking', collection: day, as: :wkclass, locals: {index: index} %>                  
        <% end %>
      </div>
    <% end %>
  </div>
</section>

