<% booking_link_and_class = booking_link_and_class_for(wkclass, @client, session[:day]) %>
<tr class ="<%=booking_link_and_class[:css_class]%>">
  <th scope="row"><%= wkclass.date %></th>
  <td><%= wkclass.time %></td>
  <td><%= wkclass.workout.name %></td>
  <td><%= Attendance.applicable_to(wkclass, @client)&.status %></td>
  <td <%=booking_link_and_class[:data_attributes]%> <%= booking_link_and_class[:tooltip_title] %>><%= booking_link_and_class[:link] %></td>
</tr>
