<!--div class="admin_form m-2">Due to a temporary, technical glitch at RazorPay, we cannot currently take payment online. Please contact the Space directly for payment.</div-->
<div id="shop" class="admin_form pt-4 my-2"
  data-controller="shop-menu"
  data-shop-menu-trial-price-value="<%= rupees(@trial_price) %>"
  data-shop-menu-index-value="unlimited"
  data-shop-menu-default-product-type-value="<%= @default_product_type %>"
  >
  <%= render 'client/dynamic_pages/shop/title_renewal'%>
  <%= render 'client/dynamic_pages/shop/new_client'%>
  <%= render 'client/dynamic_pages/shop/menu'%>
  <%= render 'client/dynamic_pages/shop/notes'%>
</div>



