<%= form_with(model: [:admin, entry]) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= form.hidden_field :table_time_id, value: params[:table_time_id] || entry.table_time_id %></div>
  <div><%= form.hidden_field :table_day_id, value: params[:table_day_id] || entry.table_day_id %></div>

  <div class="field">
    <%= form.label :workout_id %>
    <%#= form.text_field :workout %>
    <%= form.collection_select :workout_id, @workouts, :id, :name, { selected: (@entry.workout&.id || @workouts.first) } %>      
  </div>

  <div class="field">
    <%= form.label :goal %>
    <%= form.text_field :goal %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.text_field :level %>
  </div>

  <div class="field">
    <%= form.label :studio %>
    <%= form.text_field :studio %>
  </div>

  <div class="field">
    <%= form.label :duration, 'Duration (mins)' %>
    <%= form.number_field :duration, value: form.object.duration, step: 5 %>
  </div>

  <div class="actions">
    <%= form.submit @entry.new_record? ? 'Add Entry' : 'Update Entry' %>     
  </div>
<% end %>
