<p id="notice"><%= notice %></p>

<p>
  <strong>Workout:</strong>
  <%= @entry.workout %>
</p>

<p>
  <strong>Subheading1:</strong>
  <%= @entry.subheading1 %>
</p>

<p>
  <strong>Subheading2:</strong>
  <%= @entry.subheading2 %>
</p>

<p>
  <strong>Studio:</strong>
  <%= @entry.studio %>
</p>

<%= link_to 'Edit', edit_admin_entry_path(@entry) %> |
<%= link_to 'Back', admin_entries_path %>
