<% @products.each_with_index do |product, index| %>
  <% shop_product_decorator = decorate(product, ShopProductDecorator) %>
  <% class_number_type = shop_product_decorator.class_number_type %>
  <% renewal_presenter = RenewalPresenter.new({renewal: @renewal, product: product}) %>  
    <div <%= "hidden" unless class_number_type == @default_class_number_type %>
         class="accordion-item <%= class_number_type %>"
         data-shop-menu-target=<%= "#{class_number_type}Product" %>>
      <div class="accordion-header" id=<%="heading-1-#{index}"%>>
      <div class="accordion-button collapsed justify-content-around py-2 py-md-3" role="button" data-bs-toggle="collapse"
        data-bs-target=<%="#collapse-1-#{index}"%> aria-expanded="false" aria-controls=<%="collapse-1-#{index}"%>>
        <div class="d-flex g-1 g-xl-5 align-items-center pe-3">
          <div class="d-flex flex-column align-items-start pe-3" style="height: 3.5rem;">
            <div class="mb-auto pe-md-5 name"><%= shop_product_decorator.workout_group_name %></div>
            <div class="pe-md-5 classes"><%= shop_product_decorator.number_of_classes %></div>
            <div class="pe-md-5 duration"><%= shop_product_decorator.duration_text %></div>
          </div>
          <%= render partial: 'client/dynamic_pages/shop/renewal_prices', locals: {renewal_presenter: } %>
          <% if logged_in? && Setting.enable_online_payment %>
            <div class="ps-3">
              <%= render partial: 'client/dynamic_pages/shop/razor_form_shop', locals: {product: } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id=<%="collapse-1-#{index}"%> class="accordion-collapse collapse" aria-labelledby=<%="heading-1-#{index}"%>
      data-bs-parent="#accordion-1">
      <div class="accordion-body">
        <ul class="text-secondary product-notes">
          <%= renewal_presenter.saving_html %>
          <li>Unlimited Packages allow attendance at a maximum of 1 class per day.</li>
          <%= shop_product_decorator.freeze_charge_link %>
        </ul>
      </div>
    </div>
  </div>
<% end %>