<h1>Instructor Salaries</h1>

<table>
  <thead>
    <tr>
      <th>Salary</th>
      <th>Date from</th>
      <th>Instructor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructor_salaries.each do |instructor_salary| %>
      <tr>
        <td><%= instructor_salary.salary %></td>
        <td><%= instructor_salary.date_from %></td>
        <td><%= instructor_salary.instructor_id %></td>
        <td><%= link_to 'Show', superadmin_instructor_salary_path(instructor_salary) %></td>
        <td><%= link_to 'Edit', edit_superadmin_instructor_salary_path(instructor_salary) %></td>
        <td><%= link_to 'Destroy', superadmin_instructor_salary_path(instructor_salary), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instructor Salary', new_superadmin_instructor_salary_path %>
