<p>
  <strong>Salary:</strong>
  <%= @instructor_salary.salary %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @instructor_salary.date_from %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @instructor_salary.instructor_id %>
</p>

<%= link_to 'Edit', edit_superadmin_instructor_salary_path(@instructor_salary) %> |
<%= link_to 'Back', superadmin_instructor_salaries_path %>
