<div id="restarts-table" class="container px-0 mb-5">
  <div class="text-uppercase fst-italic">Restarts<small><%= "(#{@restarts.size})" %> </small></div>
  <div class="admin-table striped mt-2">
    <% @restarts.each do |restart| %>
    <% parent = restart.parent %>
      <div class="row">
        <div class="column col-1x "><%= link_to parent.name, admin_purchase_path(parent), class: 'like_button'  %></div>
        <div class="column col-1x "><%= link_to parent.client.name, admin_client_path(parent.client), class: 'like_button' %></div>
        <div class="column col-1x "><%= restart.payment.dop.strftime('%d %b %y') %></div>
        <div class="column col-1x "><%= rupees(restart.payment.amount) %></div>
        <div class="column col-1x "><%= restart.note %></div>
      </div>
    <% end %>
  </div>
</div>
