<div id="restart-table" class="container px-0 mb-5">
  <div class="text-uppercase fst-italic">Adjust & Restarts<small><%= "(#{@restarts.size})" %> </small></div>
  <div class="admin-table striped mt-2">
      <div class="row fw-bolder">
        <div class="column col-1x ">A&R</div>
        <div class="column col-1x ">A&R date</div>
        <div class="column col-1x ">A&R Payment</div>
        <div class="column col-1x ">Restart note</div>
        <div class="column col-1x ">Date of Package Purchase</div>
        <div class="column col-1x ">Client</div>
        <div class="column col-1x ">Purchase</div>
        <div class="column col-1x ">Status</div>
      </div>  
    <% @restarts.each do |restart| %>
      <% purchase = restart.child %>
      <div class="row">
        <div class="column col-1x ">Child</div>
        <div class="column col-1x "><%= restart.payment.dop.strftime('%d %b %y') %></div>
        <div class="column col-1x "><%= number_with_delimiter(restart.payment.amount) %></div>
        <div class="column col-1x "><%= restart.note %></div>
        <div class="column col-1x "><%= purchase.dop.strftime('%d %b %y') %></div>
        <div class="column col-1x "><%= link_to purchase.client.name, admin_client_path(purchase.client), class: 'like_button' %></div>
        <div class="column col-1x "><%= link_to purchase.name, admin_purchase_path(purchase), class: 'like_button'  %></div>
        <div class="column col-1x "><%= purchase.status %></div>
      </div>
      <% purchase = restart.parent %>      
      <div class="row">
        <div class="column col-1x ">Parent</div>      
        <div class="column col-1x "></div>
        <div class="column col-1x "></div>
        <div class="column col-1x "></div>
        <div class="column col-1x "><%= purchase.dop.strftime('%d %b %y') %></div>
        <div class="column col-1x "><%= link_to purchase.client.name, admin_client_path(purchase.client), class: 'like_button' %></div>
        <div class="column col-1x "><%= link_to purchase.name, admin_purchase_path(purchase), class: 'like_button'  %></div>
        <div class="column col-1x "><%= purchase.status %></div>
      </div>
    <% end %>
    <hr>
  </div>
</div>
