<div class ="d-flex bg-light">
  <div class ="cell c-product-name fw-bold">Name</div>
  <div class ="cell c-product-name fw-bold">Price</div>
  <div class ="cell c-product-name fw-bold">From</div>
  <div class ="cell c-product-name fw-bold">Status</div>
  <div class ="cell c-class-icon">
    <%= link_to image_tag('add.png', class:'table_icon'), new_price_path(product_id: params[:id]) %>
  </div>
  <div class ="cell c-class-icon"></div>
</div>
<% @prices.each do |price| %>
  <div class ="d-flex bg-light">
    <div class ="cell c-client-product"><%= price.name %></div>
    <div class ="cell c-client-product"><%= number_to_currency(price.price, precision: 0, unit: 'Rs. ') %></div>
    <div class ="cell c-client-wkname"><%= price.date_from.strftime('%d %b %y') %></div>
    <div class ="cell c-client-product"><%= price.current? ? 'current' : 'old' %></div>
    <div class ="cell c-class-icon">
      <%= link_to image_tag('edit.png', class: "table_icon"), edit_price_path(price), class: "icon-container" %>
    </div>
    <div class ="cell c-class-icon">
      <%= link_to image_tag('delete.png', class: "table_icon"), price, method: :delete, data: { confirm: 'Price will be deleted. Are you sure?' }, class: "icon-container" %>
    </div>
  </div>
<% end %>
