<div class ="d-flex bg-light w-75">
    <div class ="cell fw-bold">Attendances</div>
</div>
  <% @attendances.each_with_index do |attendance, index| %>
     <div class='d-flex bg-light w-75'>
       <div class='cell c-purchases-attendances-index'>
         <%= @attendances.size - index %>
       </div>
       <div class='cell'>
         <%= link_to attendance.date, admin_wkclass_path(attendance.wkclass, no_scroll: true) %>
       </div>
       <div class='cell c-class-time'>
         <%= attendance.time %>
       </div>
       <div class='cell'>
         <%= link_to attendance.client.name , admin_client_path(attendance.client), class: "like_button" %>
       </div>
       <div class='cell'>
         <%= attendance.status %>
       </div>

     </div>
  <% end %>
