<div class="d-flex">
  <nav class="navbar1 mb-4">
    <ul class="navbar-nav">

      <li class="nav-item">
        <%= link_to 'clients', admin_clients_path, class: "nav-link" %>
      </li>

      <li class="nav-item home">
        <%= link_to 'classes', admin_wkclasses_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to 'purchases', admin_purchases_path, class: "nav-link" %>
      </li>

      <!--li class="nav-item">
        <%#= link_to 'revenue', admin_revenues_path, class: "nav-link" %>
      </li-->
    </ul>
  </nav>

  <nav class="navbar2 mb-4">
    <ul class="navbar-nav">

      <li class="nav-item">
        <%= link_to 'fitternity', admin_fitternities_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to 'instructors', admin_instructors_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to 'products', admin_products_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to 'workouts', admin_workouts_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to 'workout groups', admin_workout_groups_path, class: "nav-link" %>
      </li>

      <% if logged_in_as_superadmin? %>
      <li class="nav-item">
        <%= link_to 'expenses', superadmin_expenses_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'instructor rates', superadmin_instructor_rates_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'partners', admin_partners_path, class: "nav-link" %>
      </li>
      <% end %>

      <% if current_account %>
        <li class="nav-item">
          <%= link_to logout_path, method: :delete, class: "nav-link" do %>
            <i class="fa fa-door-open"></i>
            <span class="link-text">Logout</span>
          <% end %>
        </li>
      <% end %>

      <% if !current_account %>
        <li class="nav-item">
          <%= link_to login_path, class: "nav-link" do %>
            <i class="fa fa-sign-in-alt"></i>
            <span class="link-text">Login</span>
          <% end %>
        </li>
      <% end %>

    </ul>
  </nav>
</div>
