<div class="d-flex flex-row bg-light w-100">
  <nav class="navbar">
    <div class="d-flex align-items-center">
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <%= link_to client_client_path(current_account.clients.first), class: "nav_icon" do %>
            <%= image_tag('history.png') %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to client_book_path(current_account.clients.first), class: "nav_icon" do %>
            <%= image_tag('book.png') %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
  <div>
    <%= link_to "https://www.thespacejuhu.in/", target: "_blank", class: "navbar-brand" do %>
      <%= image_tag('SpaceLogo.png', alt: "logo", class: "Logonavbar") %>
    <% end %>
  </div>
      <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#SpaceNavBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button-->

    <nav class="navbar navbar2">
			<div class="d-flex align-items-center">
        <ul class="navbar-nav flex-row">
          <li class="nav-item">
              <%= link_to logout_path, method: :delete, class: "nav_icon" do %>
                <%= image_tag('open-door.png') %>
              <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
