<div class="mt-3 container flex-container">
  <div class="container mb-2">
    <%= image_tag('space_logo_black.png', class: "footerlogo") %>
  </div>
  <ul class="FooterLinks GeneralText mb-0 ps-0">
    <li> <%= link_to 'About Us', about_path %> </li>
    <li> <%= link_to 'Terms & Conditions', terms_and_conditions_path %> </li>
    <li> <%= link_to 'Charges & Deductions', charges_and_deductions_path %> </li>
    <li> <%= link_to 'Privacy Policy', privacy_policy_path %> </li>    
    <li> <%= link_to 'Payment Policy', payment_policy_path %> </li>
    <%# without turbo set to false the map does not load %>
    <li> <%= link_to 'Contact', contact_path, data: {turbo: false} %> </li>    
    <%# <li> <a href="https://thespacejuhu.in/blog/">Blog</a></li> %>
  </ul>

  <ul class="SocMedFoot mb-2">
    <li>
      <%= link_to "https://www.instagram.com/thespace.juhu/", target: "_blank" do %>
        <%= image_tag('instagram.png', alt: "Instagram logo & link", class: "") %>
      <% end %>
    </li>
    <li>
      <%= link_to "https://www.facebook.com/TheSpace.Mumbai/timeline", target: "_blank" do %>
        <%= image_tag('facebook.png', alt: "Facebook logo & link", class: "") %>
      <% end %>
    </li>
    <li>
      <%= link_to "https://wa.me/919619348427", target: "_blank" do %>
        <%= image_tag('whatsapp.png', alt: "Whatsapp call", class: "") %>
      <% end %>
    </li>
  </ul>

  <p  class="GeneralText text-center mb-2">
    The Space, A.B. Nair Rd, Juhu<br>
    (Next to Bayroute, Opp. Chin Chin Chu)<br>
    Mumbai, Maharashtra 400049<br>
    +91-9619348427<br>
    studio@thespacejuhu.in
  </p>

</div>
