<nav id="mainNav" class="navbar navbar-expand-lg navbar-sticky navbar-dark <%= 'bg-black' if @home != true %> inverted ">

  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag('SpaceLogo_white.png', alt: "logo") %>
    <% end %>

    <ul class="navbar-nav navbar-nav-secondary order-lg-3">
      <li class="nav-item d-lg-none">
        <a class="nav-link nav-icon" href="" role="button" data-bs-toggle="collapse" data-bs-target="#navbar"
          aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="bi bi-list"></span>
        </a>
      </li>
    </ul>

    <div class="collapse navbar-collapse" id="navbar" data-bs-parent="#mainNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to admin_wkclasses_path, class: "nav-link" do %>
            <i class="fa fa-dumbbell"></i>
          <% end %>
        </li>
        <% if current_account.instructor.commission? %>
          <li class="nav-item">
            <%= link_to admin_instructor_path(current_account.instructor), class: "nav-link" do %>
              <i class="fa fa-calendar"></i>
            <% end %>
          </li>
        <% end %>
      </ul>  

      <ul class="navbar-nav" >
        <li id="" class="nav-item dropdown dropdown-hover">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-1" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa fa-list"></i>
          </a>
          <div class="highnavbar dropdown-menu dropdown-menu-custom" aria-labelledby="navbarDropdown-1">
            <div class="row g-0">
              <div class="col-6 p-4">
                <%= link_to 'Achievements', shared_achievements_path, class: "dropdown-item" %>
                <%= link_to 'Challenges', shared_challenges_path, class: "dropdown-item" %>
                <%= link_to 'Timetable', public_timetable_path, class: "dropdown-item" %>
              </div>
              <% if multiple_roles? %>                  
                <div class="col-6 p-4">
                  <span class="dropdown-label">ROLE</span>
                  <%= content_tag :div, "*#{current_role}", class: "dropdown-item text-uppercase" %>                
                  <% navbar_roles.each do |role| %>
                    <%= link_to role.name, "/switch_account_role?role=#{role.name}", class: "dropdown-item" %>
                  <% end %>
                </div>  
              <% end %>                
            </div>
          </div>
        </li>

        <li class="nav-item">
          <%= button_to logout_path, method: :delete, class: "nav-link active", data: {turbo: false} do %>
            <i class="fa fa-door-open"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>