<!DOCTYPE html>
<html>
  <head>
    <title>AttendanceSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/52a30c356b.js" crossorigin="anonymous"></script>
<!--https://stackoverflow.com/questions/49182263/dropdown-menu-with-bootstrap-4-only-drops-once-in-rails
feel these scripts shouldn't be needed but samll screen drop down menu not responsive without-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>

  <body>

        <% if logged_in_as?('partner') %>
          <%= render 'layouts/partner_header' %>
        <% elsif logged_in_as?('admin', 'superadmin') %>
          <%= render 'layouts/admin_header' %>
        <% elsif logged_in_as?('junioradmin') %>
          <%= render 'layouts/junioradmin_header' %>
        <% elsif logged_in_as?('client') %>
          <%= render 'layouts/client_header' %>
        <% else %>
          <%= render 'layouts/not_logged_in_header' %>
        <% end %>


    <main>
      <!--https://stackoverflow.com/questions/49952991/add-a-line-break-in-a-flash-notice-rails-controller-->
      <div id="flash_messages">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <% if message.is_a?(Array) %>
            <% message.each do |text| %>
              <%= content_tag :div, text %>
            <% end %>
          <% else %>
            <%= message %>
          <% end %>
        </div>
      <% end %>

      </div>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
      <%= current_account&.ac_type if Rails.env.development? %>
    </main>
  </body>
</html>
