<!DOCTYPE html>
<html>
  <head>
    <title>AttendanceSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<!--comment-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>  
    <%= javascript_pack_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'isotope', 'data-turbolinks-track': 'reload', defer:true %>    

    <script src="https://kit.fontawesome.com/52a30c356b.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <%= render 'layouts/public_navbar_black' %>

    <main id="white-canvas">
      <div class="offcanvas-wrap">
        <section class="overflow-hidden">    
          <%= yield %>
          <%#= debug(params) if Rails.env.development? %>
          <%= current_account&.ac_type if Rails.env.development? %>
          <%= render 'layouts/footer' %>
        </section>
      </div>
    </main>

  </body>

</html>
