<!DOCTYPE html>
<html>
  <head>
    <title>AttendanceSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload', defer:true %>  
    <%#= javascript_pack_tag 'libs', 'data-turbolinks-track': 'reload' %>  
    <%#= javascript_pack_tag 'public', 'data-turbolinks-track': 'reload', defer:true %>
    <%= javascript_pack_tag 'libs', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'general', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'general', 'data-turbolinks-track': 'reload' %>  

    <script src="https://kit.fontawesome.com/52a30c356b.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <%= javascript_pack_tag 'aos', 'data-turbolinks-track': 'reload' %>
    <!-- <script src="../app/frontend/packs/modules/aos"></script> -->
    <%= render 'layouts/public_navbar' %>

    <main>

      <%= yield %>
      <%#= debug(params) if Rails.env.development? %>
      <%= current_account&.ac_type if Rails.env.development? %>
      <%= render 'layouts/footer' %>
    </main>

  </body>

</html>
