<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AttendanceSystem</title>
    <%= render 'layouts/meta' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>  <%# this loads Sprockets/Rails asset pipeline %>
    <%= javascript_importmap_tags %> <%#  this loads JS from importmaps %>
    <script src="https://kit.fontawesome.com/52a30c356b.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%= render 'layouts/admin_navbar' %>
    <main id="white-canvas">
      <section class="overflow-hidden navbar-space">
        <% # https://stackoverflow.com/questions/2448789/rails-easy-way-to-add-more-than-one-flashnotice-at-a-time %>
        <div id="flash_messages" class="flash">
          <%= render_flash %>
        </div>
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
        <%= debug(current_account&.priority_role.name) if Rails.env.development? %>
      </section>
    </main>
   <%= render 'layouts/footer' %>   
  </body>
</html>
